[2020-07-30 07:29] RXminuS commented on #260
This was the original thread:
https://github.com/mobxjs/mst-gql/issues/119

And lots of related issues
https://github.com/mobxjs/mst-gql/issues/190

[2020-07-30 07:32] RXminuS commented on #260
@Matth10 sorry, I’ve been of the scene a bit so missed your comments on those threads. Would you be interested or have someone on your team interested in pairing on this?

[2020-07-30 17:20] chrisdrackett commented on #260
@RXminuS Maybe we should open up a new issue or project to cover the exploratory work around this idea? I think its good to keep this issue small and focused, but I'll all for simplification and eliminating the circular issues if at all possible.

[2020-07-31 22:57] #255 closed

[2020-08-06 13:04] roshanreacts opened #263 "Interface and Union .ofTypes error"
Hello Dev,

I'm using this product in couple of my developments. Great tool 👍.

Well I ran into following error recently while scaffolding a Union Type.

[code]

I tried to look into the issue, then I found a bug with name conventions for union types. `type.names` are converted but while getting the union types it is comparing `possibleTypes.name` which is not processed with naming convention. Whi

[2020-08-06 19:13] special-character commented on #263
@roshanreacts Thanks for creating the issue, can you give us an example of your schema that failed the scaffold step?

I helped write some of the union generating code and might be able to help. Did you have a PR we could look at? I didn't find one but thought you meant you had submitted one.

[2020-08-12 03:29] jvcmanke commented on #208
@chrisdrackett I was having the same issue.

I did some investigation to try and fix it and it seems to be a difference between the way npm and yarn save package dependencies in node_modules.

The problem is in:
https://github.com/mobxjs/mst-gql/blob/cf206d4003c43a2a7a1f74411ba121360e6c3c75/generator/mst-gql-scaffold.js#L72

The issue is that when installed with yarn the there is a `.bin` folder b

[2020-08-12 04:33] jvcmanke opened #266 "Warning on undefined values on development"
Just as stated in the README:

I tend to think that accessing these undefined values, while still possible, could raise a warning while in a dev environment asking the user if the field should have been queried.

Is there a way to do this without affecting performance at least in production, where this would be disabled, I imagine checking if the value is undefined every time something is accessed

[2020-08-12 17:22] #208 closed

[2020-08-15 05:40] sudall opened #267 "Relations are not typed"
As you can see in the example, the user relation is set to any type. Is there a particular reason for this? Some kind of limitation?

https://github.com/mobxjs/mst-gql/blob/926d8a7fb512376b969301a55e2e42d5a96dde49/examples/3-twitter-clone/src/app/models/MessageModel.base.ts#L32

[2020-08-16 12:02] finkef commented on #252
It seems that this only happens for required Scalar Types. Ran into this issue as well with `mutation { foo: String! }`, it references `StringModelSelector` which doesn't exist. With `mutation { foo: String }` it correctly just uses `string`.

[2020-08-19 16:32] chrisdrackett commented on #267
this is to avoid circular references (https://mobx-state-tree.js.org/intro/getting-started#how-to-define-the-reference)

[2020-08-19 16:32] #267 closed

[2020-08-19 19:06] sudall commented on #267
sorry if I'm being dense, but that seems to only explain why the `late()` is there. Why is the `any` there? Can it be fixed?

[2020-08-19 20:17] chrisdrackett commented on #267
I'm not sure what you mean by "fixed" we do our best to type relations to avoid issues with circular dependencies. Are you not seeing correct types in use?

[2020-08-19 23:02] sudall commented on #267
By fixed, I mean remove that `any` type. No, I don't see the correct types on relations because of that `any` wiping out implicit typing. Maybe I'm doing something wrong?

[2020-08-19 23:58] chrisdrackett commented on #267
what I'm saying is it should be correct in use. For example here: https://github.com/mobxjs/mst-gql/commit/0c9b592fb2d42254b5bc30432d34c9585c7cb589

I get the correct type:

![https://cleanshot-cloud-fra.s3.eu-central-1.amazonaws.com/media/668/56xJ2QeNvVu7DAY3Rg1c76WzALbGjfXvWu26Sz4P.jpeg?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA5MF2VVMNBYBOTT5A%2

[2020-08-20 00:53] sudall commented on #267
okay, I've figured it out. I'm using Nexus on the backend with the prisma plugin and it's generating a schema with id fields as Int! instead of ID!. This is causing mst-gql to not pick those types up as root types and that seems to mess up the typing. After manually setting those id fields to type ID, I'm seeing types correctly. Sorry for the confusion. It's related to this issue: https://github.c

[2020-08-20 01:46] jvcmanke commented on #260
I second this!

Not even for the circular dependencies (even though it should be the main reason to do this), but for organization purposes as well.Even with a small schema I ended up with so many files that it made me get lost often.

I would love to even a have a separate `types.d.ts` and `enums.ts` files or something. I think it could go hand-in-hand with this exploration.

[2020-08-20 01:54] jvcmanke commented on #260
I am open to help as well! I don't have that much time, but I really like the library and want to help where possible.

I took a look at the generation code, but since I'm not very familiar with it, I didn't understand it very much.

[2020-08-20 06:25] chrisdrackett commented on #267
Hm, we use nexus as well and haven’t run into this. I wonder what we’re doing differently.

[2020-08-20 15:32] chrisdrackett commented on #267
@sudall not sure if it helps but we have the following in our `schema.prisma`:

[code]

The we have the following for our object definition:

[code]

that then maps to the following in our graphql:

[code]

[2020-08-20 19:37] sudall commented on #267
Here's what I had:

[code]
[code]
And that generates:
[code]

[2020-08-20 21:38] apjoseph opened #268 "Models generated with imports to nonexistent files for connection based schema"
Hello, I'm excited to start working with mst-gql and hope to use it for a project in the immediate future! I'm running some initial test and receiveing the following error when using generated models for a connection-enabled ([postgraphile 4.8](https://www.graphile.org/postgraphile/)) schema based on the apollo server for the [5-next.js todo example](https://github.com/mobxjs/mst-gql/tree/main/exa

[2020-08-21 00:53] chrisdrackett commented on #267
I wonder if its just the difference between using `t.id('id')` and `t.model.id()`!

[2020-08-21 00:58] sudall commented on #267
I think so. I'm using `t.id('id', { nullable: false });` until they fix it. I'm not sure if the nullable part is needed though.

[2020-08-21 23:02] Aryk opened #269 "Optimistic Update Undo Proposal (or Suggestions)"
Sometimes, when I do a mutation, I'm adding records to collections that are not stored in a mobx map. Sometimes, I simply append the items optimistics to an array in the component state.

If there is an error though, I need to undo this....Optimistic update will undo instances added to the MST **before** I have a chance to remove it from my arrays in the state...and there is no way for me to hook

[2020-08-23 14:43] seanaguinaga opened #270 "Subscription Generated from Hasura Schema returns no data/is not generated correctly"
First - optional params are marked as required:

<img width="1382" alt="Screen Shot 2020-08-23 at 7 37 34 AM" src="https://user-images.githubusercontent.com/15254340/90981025-85ca7a00-e513-11ea-8f28-f478ed875a7f.png">

https://github.com/seanaguinaga/hasra-mst-gql/blob/master/src/pages/Tab1.tsx

after @ts-ignore

Data is fetched correctly as a query.

Switching to a subscription gives us this:

<i

[2020-08-25 19:38] apjoseph opened #271 "Unhandled Errors"
It looks like `GraphQLClient` is leaving server errors unhandled instead of passing them to the query result:

This can be reproduced easily by simply running the 5-nextjs example from this repo with the Apollo server middleware in [index.js](https://github.com/mobxjs/mst-gql/blob/main/examples/5-nextjs/server/index.js#L13-L17) commented out. The 404 error is left unhandled instead of being displa

[2020-08-30 08:33] RXminuS commented on #268
I'm sorry but I'm not sure I understand the question?

From your error it looks like there's simply a file not generated. Does it exist and what does it contain? Are there any errors during model generation?

How gql is implemented should not affect the generated models since they just look at the schema. I do see you're using a custom UUID scalar as an ID so that might be a problem area, but agai

[2020-08-31 02:31] apjoseph commented on #268
@RXminuS

No errors during generation the `QueryModel.base` file is is not generated but referenced in other filed.

I was able to get everything to work by simply adding `Node` to my exclusions in mst-gql-config.js

Here is the portion of the schema that is likely tripping up the code generator

[code]

[2020-08-31 23:23] apjoseph commented on #271
Looks like this issue is being caused by __pushPromise on `MSTGQLStore`. Promise resolves and page renders correctly, if this  [this](https://github.com/mobxjs/mst-gql/blob/main/src/Query.ts#L115) line is commented out. Am a bit perplexed as to how this is happening since the error is caught and handled within the chain.

[2020-09-01 01:09] odjhey commented on #271
https://github.com/mobxjs/mst-gql/blob/926d8a7fb512376b969301a55e2e42d5a96dde49/src/Query.ts#L117-L124

i have patched mine to add a catch block for this promise that looks like so
[code]

[2020-09-01 23:44] dodas opened #272 "How to pass variables to fields?"
Considering following GraphQL query, how can I query the same with mst-gql's autogenerated root queries?
[code]

[code]
Thanks!

[2020-09-02 09:52] mattiasewers opened #273 "Add a clear or reset function to query"
I'm in need of a clear or reset function after a query has loaded data, I'll make a pr but need feedback of what it should be called. The functionality would just be able to set `data` to `undefined`

[2020-09-03 10:29] beepsoft commented on #252
A just ran into this issue as well. Created a test case for it:

https://github.com/beepsoft/mst-gql/tree/bugs/issue-252

Run `yarn test` and it will fail at the `"scaffolding with scalar type"` test.

I think the solution would be not to generate selectors for queries returning scalar types, but I'm not familiar with this part of the generator yet.

[2020-09-03 10:43] beepsoft commented on #252
The problem seems to be here:

https://github.com/mobxjs/mst-gql/blob/926d8a7fb512376b969301a55e2e42d5a96dde49/generator/generate.js#L811

This is not evaluated to `true`, therefore later we generate a full object selector instead of just the name of the field.

Ie.

[code]

instead of

[code]
For my test case the GraphQL type that is being checked looks like this
[code]

This change seems to fix

[2020-09-03 20:48] apjoseph commented on #271
@odjhey that doesn't have any impact

[2020-09-04 00:07] special-character commented on #272
@dodas Would you mind sharing the generated action in `RootStore.base.ts` for `queryUser`? I haven't used mst-gql to query for a nested relation that takes it's own param yet and I am curious if it is supported.

[2020-09-04 00:14] dodas commented on #272
Hey @special-character
This is the relevant action from RootStore.base.ts:
[code]
I guess the `query user { user {` on line 3 answers our queston: not possible.

[2020-09-04 00:19] special-character commented on #272
@dodas Yeah, I don't think it is possible right now either. I added a test field in my own code base with the same result. I think this would be a good feature request because it seems like a fairly common/powerful GQL paradigm.

[2020-09-04 00:22] special-character commented on #272
The result type should still be valid because of the typing on the `query<{user: UserModelType}>`. The fragment builder is somewhat of a helper and I have build my own fragments before to be able to do more dynamic things.

I guess the typing for the generation is lost so it is possible you add a field that isn't supported, but those are pretty obvious when they happen. Definitely not as nice but

[2020-09-04 00:26] dodas commented on #272
How could typescript infer the fields I picked in subselection of project() {} if I use string instead of the fragment builder?

[2020-09-04 21:38] special-character commented on #272
TS wouldn't be able to infer those fields since the builder doesn't support it yet (like you suggested). In your comment above I thought you were talking about the result of the function call which doesn't rely on the string passed in for the fragment.

It isn't ideal that the fragment builder doesn't have the TS or generation for this yet but I was just saying you can still opt out of the fragmen

[2020-09-08 04:28] beepsoft commented on #252
@chrisdrackett Should I create a PR with the fix above?

[2020-09-08 07:03] Oba-One commented on #252
Awesome!

On Mon, Sep 7, 2020 at 9:28 PM beep <notifications@github.com> wrote:

[2020-09-09 19:38] chrisdrackett opened #276 "investigate genql"
I just ran across https://genql.now.sh and am curious about looking into using it for mst-gql. If anyone wants to take a look before I have time, please feel free!

[2020-09-09 20:09] chrisdrackett commented on #252
@beepsoft please do if you have time! Things have been insane for me with school starting and work so I just haven't had many free cycles 😭

[2020-09-10 14:41] beepsoft commented on #252
@chrisdrackett I feel you 😀 Here's the PR: https://github.com/mobxjs/mst-gql/pull/277

[2020-09-10 14:48] beepsoft commented on #276
What's your idea about its use? Would you like to use it to replace some part of mst-gql (eg. the generator)?

[2020-09-11 03:30] reneelinDHI opened #278 "how to set graphQL endpoint headers with mst-gql CLI? { Error: Error in "Loading schema for Unnamed Project": Error: webhook authentication request failed"
I have a Hasura managed GraphQL backend, when I use "yarn mst-gql --format ts http://localhost:8080/v1/graphql" , it says " { Error: Error in "Loading schema for Unnamed Project": Error: webhook authentication request failed" "

Does this mean I have to set additional args in the command?

[2020-09-11 17:00] chrisdrackett commented on #276
my current though was when it comes to fragments, right now we're just using strings, but I would much rather use something like this with actual types. That being said, I haven't looked very deeply, so there might be more / nothing here :D

[2020-09-17 11:52] Aryk commented on #269
hey @chrisdrackett, curious what you think about this? Without this, it's very hard to use React's local state to keep any items from mobx.

[2020-09-17 16:28] chrisdrackett commented on #269
Personally when using mobx I do all I can to keep all my application state in mobx and use hooks only for UI stuff that is too light or local to warrant putting into mobx. I'm curious as to what the use case is to not use mobx here as with mst-gql its all fairly automatic and "free".

Anyways, I'm not against this proposal specifically I think ideally this is optional and the current syntax keeps

[2020-09-21 15:56] Aryk commented on #269
Well, thats the thing. Say you are on a page and you are doing infinite scroll...you make a call, get 10 items and put them into local state (which is what I'm doing). Seems like super overkill to be putting that into mobx-state-tree for being used simply on my page. However, say I need to delete an item from that list but the call fails. There is no clean way to do it to keep code readable...

Id

[2020-09-21 17:37] chrisdrackett commented on #269
We put everything in local state, but I'm not going to assume that is nessasarly standard. ^_^

I agree that this seems like a nice thing to have, so I would be happy to review a PR. I do think for something like this we need to make sure to add it to one of the examples and possibliy our tests as well.

[2020-09-21 19:08] Aryk commented on #269
Makes sense, I will see if I can cook something up but I'm in the middle of an app launch across iOS and Android so I have a long list of bugs to fix.

[2020-09-22 16:09] nicolasburtey commented on #272
Variables in nested field would also be useful for me. Have to manually write a lot of queries which removes most of the benefits of mst-gql

[2020-09-22 19:55] beepsoft commented on #252
@chrisdrackett Could you please merge this fix if you  have the time. This bug is kind of a  blocker for me right now.

[2020-09-23 16:55] special-character opened #279 "Should we generate base models for GQL interfaces?"
I have two models (`TaskModel` and `NoteModel`) that are based on the same interface. There is some shared functionality that both models need but I don't need to implement it twice. Ideally, I want to add actions and views for the shared functionality in some kind of base model for the interface and use the mst [compose](https://mobx-state-tree.js.org/tips/inheritance#docsNav) function to share i

[2020-09-23 17:13] chrisdrackett commented on #252
@chrisdrackett on it right now, sorry for the delay!

[2020-09-23 17:16] #273 closed

[2020-09-23 19:32] chrisdrackett opened #281 "fix example 1 and 5"
examples 1 and 5 are currently broken due to the changes in https://github.com/mobxjs/mst-gql/pull/265.

This has to do with how the above changes interact with `relativeDependencies`. I decided to keep the above as it fixes things for actual users and only breaks our examples. That being said, it would be nice to to get the examples back up and running.

[2020-09-23 19:51] chrisdrackett opened #282 "Sponsorship?"
We recently removed the mobx open collective links from this project as contributions to that pool don't actually affect this project. That being said, I'm curious if it is worth the effort to setup an open collective specifically for this project. Anyone have opinions?

[2020-09-24 07:03] beepsoft commented on #252
@chrisdrackett Thanks, 0.13.0 works all right for me!  The issue can be closed, I think.

[2020-09-24 16:14] #252 closed

[2020-09-24 19:10] chrisdrackett commented on #270
hi @seanaguinaga! I'll try and take a look at this soon, but we've never used either Hasura or subscriptions in our app so it isn't 100% in my wheelhouse.

The first issue you mention is indeed an issue I hadn't yet run into myself, but I agree that `variables` should be optional if all its params are optional. I'll open a new issue for that!

[2020-09-24 19:13] chrisdrackett opened #283 "variables on query/mutation should be optional in TS if all its params are optional"
based on https://github.com/mobxjs/mst-gql/issues/270

the following is what we currently do if a query/mutation has variables but they all happen to be optional:

[code]

I think ideally we should type this like:

[code]

and only make `variables` required once a param is also required:

[code]

[2020-10-01 20:01] barbalex opened #284 "Compatibility with MobX version 6"
Can we update to MobX v6 when using mst-gql?
Or should we wait for a compatible release?

[2020-10-01 20:44] chrisdrackett commented on #284
I believe support for MST is still WIP (https://github.com/mobxjs/mobx-state-tree/pull/1569). my guess is that once that is done mst-gql will just work or might need a few changes, but I haven't had time to research yet!

[2020-10-03 19:56] danielbischoff commented on #162
@baskin I had the same problem and the line you linked is responsible for only fetching it once.

My solution to this problem is this:
`
const { data, loading, setQuery } = useQuery();

React.useEffect(() => {
  setQuery((store) => store.queryBook_by_pk({ id }, BOOK_FRAGMENT));
}, [id]);
`

[2020-10-05 08:53] nfour commented on #272
This is the first issue I've run into that had me searching the source code for answers FYI. Will keep track of this thread for updates now.

[2020-10-05 22:54] special-character commented on #256
Just started running into this in my own app. I think that it will be very similar to this PR that I solved this for unions: https://github.com/mobxjs/mst-gql/pull/257

[2020-10-06 10:13] barbalex opened #285 "query using web worker?"
[My app](https://github.com/barbalex/vermehrung) works offline (more info [here](https://github.com/mobxjs/mst-gql/issues/198#issuecomment-626916444)). To prevent the user from having to remember to sync data before going offline it queries all data at startup. This tends to degrade the user's experience during the first few seconds after starting up. There is a definite spike in cpu usage at star

[2020-10-06 10:18] barbalex commented on #285
Uups: https://stackoverflow.com/a/52373099/712005. Maybe the querying is not be the (biggest) problem. Rather what happens with the data afterwards.

[2020-10-06 16:38] special-character opened #286 "Example 3 seems broken?"
Running example 3 and it fails on `yarn start`.

[code]

Seems like a TS issue. I can take a look.

[2020-10-06 21:23] special-character commented on #260
I think this would be a good idea.

I used [madge](https://github.com/pahen/madge) to look at why I had some circular dependencies (causing `undefined` imports) and found that there were tons of cycles just from base files importing other base files. For my case, a large majority of the cycles were from `mst-gql` models (like 70 circular deps). This make the code base feel really brittle to me.

I

[2020-10-20 11:26] Tojteusz opened #289 "[mobx.array] Index out of bounds"
Hi, I am looking for some solution on how to deal with this error
` Error: [mobx.array] Index out of bounds, KFZRSDF is larger than 0
`
I used this schema

[code]

and perform this command ```npm run mst-gql --format ts --outDir app/models/ schema.graphql ```

and i wrote very similar queries in two different components

[code]

[code]

when I execute both queries I got the correct response from t

[2020-10-23 08:55] Tojteusz commented on #289
That was a mistake on our side. We change type of props in RootModel

[2020-10-23 08:55] #289 closed

[2020-10-28 10:10] andrewschreiber commented on #268
Following up here as I'm very interested in using postgraphile and mst-gql. @apjoseph is your solution continuing to work?

[2020-11-08 20:48] sashaozz commented on #227
In mst-gql `Query` implements `PromiseLike<T>`, not `Promise<T>` hence it is not directly compatible with these flow definitions and TypeScript tells you exactly that.
But `Query` type has properties `promise` and `currentPromise()` which will return promise for ongoing request which are perfectly awaitable as those returns ` Promise<T>`

So just add `.promise` to your initial variant and TypeScri

[2020-11-13 23:49] special-character commented on #286
I apparently lied about looking into this.

[2020-11-14 17:46] Aryk commented on #241
Keep bumping up into this, any other TS users in MST-GQL want to take a stab at this? 😄

[2020-11-16 15:22] petrovalex opened #290 "Persisted queries"
Does mst-gql support persisted queries?

[2020-11-20 06:52] beepsoft opened #291 "Typescript compilation speed regression"
This is definitely (probably?) not an issue with mst-gql itself but I thought I report that with newer versions of Typescript the compilation of mst-gql models gets slower and slower. The compilation times were always a huge pain for me but it is now getting worse.

OK, so as always I work with a Hasura generated huge graphql API for which I generate mst-gql models and it contains 1471 files

[cod

[2020-11-24 20:36] barbalex opened #292 "dontRenameModels ignored in cosmiconfig config"
I tried to use a config file, see here: https://github.com/barbalex/vermehrung/blob/watermelondb/mst-gql.config.js

The reason this would be nice is that my excludes list is so large, it would error the cli call.

The nice part was: I could enlarge the excludes list 😄

Unfortunately, the `dontRenameModels` option was ignored (https://github.com/barbalex/vermehrung/blob/watermelondb/mst-gql.config.

[2020-12-01 21:49] mhaagens opened #295 "Loading always returns true"
I'm using Next.js with mst-gql.
I have a simple page (/users) that fetches data, but it always returns `loading === true` unless I go to another page (/someotherpage) and come back. Only then is the component populated with data. I'm wrapping everything in `observer`. It also works fine if I load the page on the server, the data is correctly rendered on the client.

[code]

[2020-12-01 21:54] iswara108 commented on #295
@mhaagens Sounds like a question for the forum on https://spectrum.chat/mst-gql?tab=posts.
Can you please send something that reproduces the problem? A minimalist version on codesandbox or a github link would do.

[2020-12-02 08:22] mhaagens commented on #295
I downgraded mobx, mobx-react and mobx-state-tree and everything started working, so it looks like there's an issue somewhere with the other MobX dependencies.
I downgraded from:
[code]
to
[code]

[2020-12-02 08:22] #295 closed

[2020-12-02 14:43] mattiasewers commented on #295
@mhaagens yeah it does not support mobx 6 yet

[2020-12-16 22:50] gerwim opened #296 "RootStore.Base props are empty when using Hasura"
When using Hasura, the generated `RootStore.Base` is missing both props and refs. When looking at the examples provided in this repository, you'll see the following:

[code]

However, these are empty when I generate my models with `mst-gql` using the following command (and the schema at the end of this post):
[code]

They are empty as seen:
[code]

Which means, I can not use the stores properly, e

[2020-12-18 21:46] barbalex commented on #292
This seems to happen because the `dontRenameModels` argument is treated differently than most other args in the relevant code, see here: https://github.com/mobxjs/mst-gql/blob/main/generator/config.js#L51-L53, see the difference with `noReact`:

[code]

So in most cases, we can use the same arguments in a cosmiconfig. But not in this one. That seems bad api design.

Would you accept a pull request

[2020-12-21 22:30] emckay opened #297 "Relation types in union cause circular references"
Hello!

Typescript support for my mst-gql project broke due to circular type references after adding a union type on a relationship field in my schema.

This is the line in `MyModel.Base.ts` that appears to cause the problems.

[code]

Per #267, relation fields are normally be specified like `types.late((): any => SomeItemType)`

I confirmed that adding the `: any` fixes the circular type referenc

[2020-12-21 23:17] emckay opened #299 "Comma at end of import line in RootStore.Base.ts"
When running `yarn mst-gql` on my schema, the generated code in `RootStore.Base.ts` has a `,` at the end of an import statement, which causes a syntax error.

The comma appears between two lines importing union type selectors:

[code]

This happens in 0.13.0 and on latest `main` but not on 0.10.0.

[2020-12-22 00:06] Aryk opened #301 "types.enumeration should contain typescript type"
Building on https://github.com/mobxjs/mst-gql/issues/54

instead of

[code]

do

[code]

Why? Because when you want to use NetworkCategoryEnum as a type, and then assign it, you will have to do

[code]

Because it doesn't know that NetworkCategoryEnum is a NetworkCategory

[2021-01-14 19:44] chrisdrackett opened #302 "Looking for maintainers!"
Within the last 6 months we've been moving away from using `mst-gql` in our project and as a result I've been spending less and less time maintaining this project. While I'm not the sole maintainer, I have been doing a good amount of the work around preparing and doing releases, which clearly has fallen off its normal pace.

Hopefully either an existing maintainer or someone new is able to step up

[2021-01-19 20:18] techknowfile commented on #260
I'm also facing circular import problems with js files. Requires manually editing the base files to move the Selectors and select() functions to a separate file for many models, all of which gets undone when I re-scaffold

[2021-01-19 20:47] techknowfile opened #304 "GraphQL union type fields aren't created as references"
If a model contains a Union type object, we end up with
`types.union(types.late(() => AreaModel), types.late(() => ScheduleModel))`

when it should actually be
`MSTGQLRef(types.union(types.late(() => AreaModel), types.late(() => ScheduleModel)))`

Because it's not creating it as a reference, it will fail to load the snapshot, as it will try to create a duplicate object of the Union'd type instead

[2021-01-20 02:44] techknowfile opened #305 "UnionModelPrimitives and UnionModelSelector cause circular reference in webpack imports"
I have one Union type model `(MetricSettable)` scaffolded from my graphQL endpoint.

The resulting file, `MetricSettableUnionModelSelector.js` has two exports that aren't actually used anywhere, except being imported into `RootStore.base.js`: `MetricSettableUnionModelSelector` and `metricSettableUnionModelPrimitives`.

These two objects result in a very painful circular reference issue. My first s

[2021-01-25 18:28] techknowfile opened #306 "useQuery {loading} doesn't re-render when query complete (Latest versions)"
The useQuery hook does not result in a re-render when { loading } from the underlying query changes from true to false.  This issue doesn't occur with older versions.

mobx 6.0.4
mobx-react 7.0.5
mobx-state-tree 5.0.0
mst-gql 0.13.0
react 17.0.1
react-dom 17.0.1
react-scripts 4.0.0

[Spectrum Post](https://spectrum.chat/mst-gql/general/usequery-loading-doesnt-re-render-when-query-complete-latest-v

[2021-01-26 08:18] BradenM commented on #306
@techknowfile, was running into the same issue. Resolved it by upgrading mst-gql to mobx 6. See my PR: #294

[2021-01-26 20:28] techknowfile commented on #306
@BradenM that's great news. Trying to test your branch out by installing through yarn, it doesn't seem to find mst-gql as an importable package

[2021-01-27 23:30] BradenM commented on #306
@techknowfile Weird. Personally, I actually just apply the changes using [patch-package](https://www.npmjs.com/package/patch-package), but I'll try and install it from git to see if I can find what's up with it.

[2021-01-31 18:15] beepsoft commented on #296
@gerwim I use mst-gql exclusively with Hasura models, so I know it can work with Hasura. The problem might be that mst-gql needs graphql types with a field of type `ID` to work. In your case your id fields seem to be of type `uuid!`, which mst-gql doesn't recognize. Try to replace all `id: uuid!` with `id: ID!` in your `schema.graphql`, and see if it works.

In my case the id-s are of type `bigint

[2021-01-31 18:18] beepsoft commented on #306
@techknowfile you may try my package with PR #294 merged into master (created using gitpkg):

    "mst-gql": "https://github.com/beepsoft/mst-gql#mst-gql-v0.13.0-mobx6-support-gitpkg",

[2021-01-31 20:03] gerwim commented on #296
@beepsoft Hmm, interesting. Thanks for your comment!

[2021-02-02 10:27] mattiasewers commented on #302
@chrisdrackett Hi, why did you move away from it and what are you using instead?

[2021-02-03 16:53] rdewolff commented on #302
Sorry to read this. That's the kind of issue I don't like to read when considering to use mst-gql for our saas app.

Could you please elaborate a bit more on:

That'd help the community :)

[2021-02-04 11:58] beepsoft commented on #302
@chrisdrackett I'm not really familiar with the npm publishing workflow yet, but I worked a bit on mst-gql before and I would like to see the project develop and succeed. I use it in a number of react SPA and react-native apps, so I would be glad to help with the maintenance if someone could join me in this.

[2021-02-07 22:26] #299 closed

[2021-02-07 22:27] jesse-savary opened #308 "Create Test(s) for Union Types"
https://github.com/mobxjs/mst-gql/pull/300 merged to fix https://github.com/mobxjs/mst-gql/issues/299 but there is test coverage for union types, no guarantee that we won't run into more issues in the future.

[2021-02-12 09:48] beepsoft commented on #302
@chrisdrackett did you succeed finding a maintainer? I've seen @jesse-savary merged a PR recently. Will he manage further developments? I'm really looking forward to #294 and #303 be merged.

[2021-02-12 19:10] jesse-savary commented on #302
@beepsoft will deal with these today; `mst-gql` is very important to my company/project and I'm behind it full-force.

I apologize for not paying better attention to the open PRs. Please feel free to tag me or assign me where needed. Let's get this train moving 😄

[2021-02-12 19:42] beepsoft commented on #302
@jesse-savary it is really good news, thanks for your work! 😃 I'm also very much invested into `mst-gql` so I hope it will get better and better.

[2021-02-12 19:51] chrisdrackett commented on #302
Thanks so much @jesse-savary! let me know if you need anything from me or have any questions!

[2021-02-14 18:37] #284 closed

[2021-02-14 18:50] jesse-savary commented on #302
My current goal is to get every (valid) PR merged in and to take care of any small issues. @chrisdrackett I will likely ping you to sort out releases + ensure I don't blow up NPM; expect to hear from me sometime in the next week or two :)

[2021-02-14 18:51] #286 closed

[2021-02-15 03:03] jesse-savary commented on #291
I wonder if this is worth bringing up with the Typescript team? I feel they might be more equipped to explain why `mst-gql` is getting slower in particular. How long does it take to compile a codebase that consumes your models?

[2021-02-15 06:22] beepsoft commented on #291
My current workaround is that I generate my mst-gql models in a separate module, compile using `"incremental": true` setting in `tsconfig.json` and import the compiled build into my main project. With this setup my React app doesn't compile the huge mst-gql models all the time, and model recompilation only happens incrementally for specific files that change.

Anyway, I will try to create an examp

[2021-02-15 08:37] hazemturki opened #309 "Error: Unknown type "AWSJSON""
Not sure what is proper way of write issues, but I am running into this error when I try to generate proper mutations.
Tried to temporarily change "AWSJSON" to string just to generate the mutation in the model, but the server refused, although AWSJSON is just a string (has to be valid json).

[code]

What is a good way to handle such occurrences.
Thanks a lot

[2021-02-16 17:28] chrisdrackett commented on #302
sounds good!

[2021-02-17 10:12] beepsoft commented on #309
@hazemturki can you maybe share your schema.graphql? Is AWSJSON a scalar type? mst-gql should handle it and generate `any` type in typescript.

[2021-02-18 00:20] hazemturki commented on #309
@beepsoft Adding AWSJSON as a scalar type worked.
Thanks a lot!

[2021-02-18 00:20] #309 closed

[2021-02-19 04:46] techknowfile commented on #306
@BradenM I tried MST 5.0.1 and the issue still remains (can test it in the same code sandbox above!)

[2021-02-21 07:02] beepsoft commented on #296
@gerwim Did it work for you? In case it did, you may close this issue.

[2021-02-21 08:15] beepsoft commented on #276
I just took a look at it and following this guide https://genql.now.sh/docs/usage/usage-with-other-clients it is quite easy to define a query using genql and then run it via mst-gql query:

Assuming you have a graphql schema with a `countries` query and a `Country` type you can do something like:

[code]

The one thing I find useful about it is that genql generates static TS typings, whereas in ms

[2021-03-03 01:37] sbussard opened #310 "Scaffolding generates TS1371 errors"
The generated models give this error because there are unused variables in the generated models `importsNotUsedAsValues`.

The following lines look like the culprit:
`import { RootStoreType } from "./index"` and `import { Instance } from "mobx-state-tree"`

Perhaps they can be commented out in the generated files?

[2021-03-05 07:32] alchemistgo87 opened #311 "Invalid Version: undefined when running 3-twitter-clone example"
Getting this error when running the provided twitter-clone example:

![Screenshot 2021-03-05 at 12 46 11 PM](https://user-images.githubusercontent.com/1254443/110080802-031f5300-7db1-11eb-9260-f610405b07b5.png)

node: 14.16.0
yarn: 1.22.10
OS: MacOS Big Sur 11.2.2

Instructions followed:
[https://github.com/mobxjs/mst-gql/blob/main/examples/3-twitter-clone/README.md](https://github.com/mobxjs/mst-

[2021-03-05 20:13] mylifenp commented on #302
I have been trying mst-gql from few months now. I find it really fascinating. I am still probably a noob,  but would really love to help the project grow. Is there anything i can do?

[2021-03-10 00:46] emckay commented on #297
Wasn't able to create a simple reproduction of this (see https://github.com/mobxjs/mst-gql/pull/298#issuecomment-794668669)

[2021-03-10 00:46] #297 closed

[2021-03-10 00:47] emckay commented on #304
Here is a reproduction of this issue: https://github.com/mobxjs/mst-gql/commit/8d599bf85af64dafc9f5a853c75f9a05a561c78d

and a workaround: https://github.com/mobxjs/mst-gql/commit/88b75044fbf03fefc6370e783cb7dcbf1b1d014b

happy to help fix this with a little guidance

[2021-03-10 00:48] emckay commented on #311
To fix this, pin parcel to `1.12.3` in the example's package.json:

[code]

super annoying issue

[2021-03-10 00:50] emckay opened #312 "Circular dependencies with union types resulting in run-time crash"
Union types can easily result in circular dependencies that result in models being undefined at runtime.

Here is an example: https://github.com/mobxjs/mst-gql/commit/6aff548486dbb9c058fbd8e55f7e957a0adab250

[2021-03-10 01:02] emckay opened #313 "Rehydrating state from snapshot breaks type inference on union types"
I am starting to use SSR in my application and ran into this issue when rehydrating the state from a snapshot.

If your schema looks like:

[code]

when TodoList.todos is populated and attempted to restore from a snapshot, MST will only look in the store for the first type of the union type to find the object, resulting in a run-time crash.

Reproduction: https://github.com/mobxjs/mst-gql/commit/0

[2021-03-10 01:12] emckay commented on #305
We ran into this as well and will just be deleting the primitives selectors from the codebase after running scaffold.

This is probably a reproduction of this issue: https://github.com/mobxjs/mst-gql/commit/6aff548486dbb9c058fbd8e55f7e957a0adab250

[2021-03-10 04:09] alchemistgo87 commented on #311
Thank you for the help @emckay. It worked. But now the browser is showing blank page and in the console getting this error:

[code]

[2021-03-11 05:17] alchemistgo87 commented on #311
That's correct, it worked after following the above 2 steps. Thank you so much @emckay.

[2021-03-11 06:37] beepsoft commented on #302
@jesse-savary could you proceed with the PR-s? Do you plan to publish a new release?

[2021-03-11 19:53] sbussard opened #314 "Scaffolding with headers does not work"
I have a graphql endpoint that is authenticated using a header.

When I pass the header in via the CLI in this fashion:

```yarn mst-gql --format ts --header "[HEADER NAME]: [HEADER DATA]" [ENDPOINT URL]```

It gives this error:

[code]

It appears to not correctly parse the header.

After investigating the source code, I noticed that it is using `apollo` under the hood to download the schema, as

[2021-03-11 23:08] sbussard commented on #314
I found a workaround

[code]

If I can find the time I'll open a PR for line 72 on mst-gql-scaffold.js, unless someone gets to it first.

[2021-03-12 06:05] jesse-savary commented on #302
Hey @beepsoft, the nature of "generate and forget about your models" makes it tough for my scatterbrain to remember to check in here :facepalm:

@chrisdrackett I'm going to review/merge the remaining PRs tomorrow -- how do we go about releasing afterward?

[2021-03-13 07:48] #256 closed

[2021-03-13 07:50] jesse-savary commented on #302
PRs have been merged, just need to know what I have to do cut a new release.

[2021-03-13 18:23] #313 closed

[2021-03-13 18:43] #263 closed

[2021-03-13 19:05] jesse-savary commented on #7
@hexrcs am I okay to use this logo in any capacity? working on going through older issues

[2021-03-14 13:49] hexrcs commented on #7
@jesse-savary Yes, feel free to use it! :)

[2021-03-16 12:59] mcarcaso commented on #306
This worked for me! Thank you @BradenM for making that PR and @beepsoft for sharing that package. Do we know when we can expect a new release of mst-gql to get cut?

[2021-03-16 14:19] beepsoft commented on #306
@jesse-savary is working on the new release, see #302

[2021-03-16 16:18] chrisdrackett commented on #302
@jesse-savary can you give me your npm username and I can add you to the project

[2021-03-16 16:23] chrisdrackett commented on #302
@jesse-savary the process I generally take is:

1. test locally
2. build the package `yarn build`
3. update `CHANGELOG.md`
4. release the new version to npm `yarn publish`
5. send the created tag to GitHub and add the same notes from changeling to the GitHub release (https://github.com/mobxjs/mst-gql/releases)
6. 💰

[2021-03-17 16:33] richierob62 commented on #302
@chrisdrackett  @jesse-savary  Hey guys, thank you for all you do.  Do you have a feel for when you'll have the release with the fix for #306 out? I'm very aware that you all have other obligations...

[2021-03-17 16:49] chrisdrackett commented on #302
I can see if I can fit it in this week, but because we're not longer using mst-gql its a bit harder for me to test "real world". I'd love to give @jesse-savary or similar npm access so someone else can manage releases :)

[2021-03-17 18:20] richierob62 commented on #302
@chrisdrackett How are you guys generating your mst models now that you're not using mst-gql?  I shudder at the thought of doing them manually.  Or, a related request, could you give me some guidance on using mst-gql to generate the models only?  In my mind, that the time-consuming part of the process I'm hoping to avoid.

[2021-03-19 16:08] hazemturki opened #316 "Pagination With Subscriptions"
Not sure if this is best place to discuss this, but my problem goes as follows;
I am using mst-gql to manage all data from my GraphQL server and

My problem is that am trying to list a big number of objects that won't fit in a single request, so I will be forced to apply some type of **pagination** to handle that, a simple cursor or pagesize+pagenumber solution was very easy to implement. But afte

[2021-03-21 01:26] Aryk commented on #211
Hey guys...here is an even more evolved version with basically all the functionality you would ever need...including handling concurrency and instant results (like when you start typing and the results just appear):

[code]

[2021-03-21 01:28] Aryk commented on #316
I've been developing this for over a year...I don't use specifically for subscriptions, but I have used for appending new data that comes from subscriptions. Haven't had time to abstract this into a library, but maybe you can find it useful:

https://github.com/mobxjs/mst-gql/issues/211#issuecomment-803496145

[2021-03-21 10:29] gerwim commented on #296
@beepsoft I will close this issue. I have not tried your method since I decided not to use mst-gql for my application at this time. Maybe I will refactor the application some day and include mst-gql, but let's ship it first. :-)

[2021-03-21 10:29] #296 closed

[2021-03-22 08:59] godgav opened #317 "Update NextJS sample according to new API"
Since starting from Next JS version 9.3 preferred approach for SSR is to use getStaticProps or getServerSideProps instead of getInitialProps. Could you update samples on how to properly init MST store in this case?

see https://nextjs.org/docs/api-reference/data-fetching/getInitialProps

[2021-03-22 09:35] godgav commented on #317
ok, it looks I've missed, that such sample exists in next samples
https://github.com/vercel/next.js/tree/canary/examples/with-mobx-state-tree-typescript

[2021-03-23 16:22] jesse-savary commented on #302
@chrisdrackett created a new account https://www.npmjs.com/~jesse-savary and read over your release process. Will get some kind of alpha out the door as soon as I have access.

[2021-03-23 16:24] chrisdrackett commented on #302
@jesse-savary ok! added you to the project, you should be able to release now!

[2021-03-23 16:43] jesse-savary commented on #7
@hexrcs great, thank you

[2021-03-23 16:44] jesse-savary commented on #302
@chrisdrackett thank you! I'll get something out ASAP!

[2021-03-27 06:01] jesse-savary commented on #302
0.14.0 has been cut :)

[2021-03-27 15:07] jesse-savary commented on #306
@techknowfile Hey, could you give `0.14.0` a try? :)

[2021-03-27 15:08] #302 closed

[2021-04-06 16:20] techknowfile commented on #306
@jesse-savary that fixed it. Thank you!

[2021-04-06 16:20] #306 closed

[2021-04-14 06:25] alebinson opened #321 "Defined actions on TodoModel are not accessible"
When trying to run example #1 on aside project I bumped to few issues:
1. **action** methods defined on TodoModel level(**toggle**) not accessible on data object returned from useQuery() hook
![image](https://user-images.githubusercontent.com/23166717/114663478-10f6bb00-9d03-11eb-84e1-f1dad34a9c0b.png)
![image](https://user-images.githubusercontent.com/23166717/114663608-44d1e080-9d03-11eb-8c0f-da

[2021-04-15 22:03] techknowfile opened #322 "Intercept incoming subscriptions before mst-gql loads data into rootstore"
We're using mst-gql with graphql subscriptions to enable real-time collaborative editing in our application.

One important requirement of the subscriptions is that they must be applied to the mobx-state-tree in the correct order. As it stands, it's possible that a user could receive two subscriptions out-of-order, or possibly have disconnected from the websocket and missed the first subscription,

[2021-04-16 09:18] beepsoft commented on #322
This seems to be the relevant part, which handles merging data into the store:

https://github.com/mobxjs/mst-gql/blob/919890a154e6cbc6b58adfae2bb1ed416d99fba8/src/MSTGQLStore.ts#L127-L138

A hackish solution might be to replace `__runInStoreContext` with your own function, which does whatever is necessary and then calls the original `__runInStoreContext`. A more systematic solution would be to ma

[2021-04-24 11:15] kieran-osgood commented on #162
Not sure if this will help anyone but I opted to wrap it in a hook, it does mean that you have to manually manage which variables you include in your dependency array (e.g. id is included in both the query and the dependency array) but this lets me use it as I would expect it to work

[code]

[2021-05-18 10:55] S0PEX opened #325 "HttpClient include credentials ( cookie )"
Hey,

I am currently migrating my project from the apollo client and was running in an error where I can't set my authentication cookie.
With Apollo I was able to set
[code]
it seems that this option is missing or how would I accomplish this.

Edit: It seems that this behavior is caused because my client cookie isn't available at the server ( obviously ).
**Would it be better to send it to the ser

[2021-05-18 15:50] S0PEX opened #326 "Mapping over query result (nested list) throws "Failed to resolve reference""
Hey,

I am currently moving my project over to this library and run into an issue with this query.
[code]
Here nodes is a list of activities.
The same query using the generated types looks like this:
[code]
and is correctly executed against my api and returns the correct data.
But when I try to map over these nodes this error is thrown.
[code]
and points to the `.map` to be exact.
[code]

This is

[2021-05-18 17:02] iswara108 commented on #326
Can you send a complete minimal replication of the problem? @S0PEX
Perhaps create a temporary public repository on github or some other way?

[2021-05-18 18:16] S0PEX commented on #326
Hey,

I had no time of setting up a special apollo server for this demo but I just dumped my schema and mocked the response, I hope that's good enough.
You can find the demo here: https://github.com/S0PEX/mst-gql-nextjs

Simply start the server inside `node ./server/index.js` and the web-app with `yarn run dev`

[2021-05-18 20:40] iswara108 commented on #326
Hi @S0PEX
Sorry, I am not able to find the problem with the mocking of the schema... it's difficult to debug around it when the resolvers are not clear...
Are you able to minimize the schema to a basic construct? say, without the edges, just a simple array of activities?

[2021-05-18 22:29] S0PEX commented on #326
Hey, the nodes and edges are auto generated by hotchocolate (an asp. Net core graphql framework).
The issue is that I don't have the source at hand and just consuming.

What's weird is that the query result is fine and works when I am using the old Apollo client.
Or does something look wrong to you?

When I tried mst-gql with the hotchocolate demo today the nodes, edges etc. were handled correctly

[2021-05-19 07:43] S0PEX commented on #326
Today I had a chat with my college and he mentioned that the GraphQL API node are actually Relay Nodes and that normally the id would be encoded to a unique string identifier. After we updated the API s that the given types extended the Nodes interface mst-gql was able to generate the correct types and the queries work like a charm.

[2021-05-19 07:43] #326 closed

[2021-05-19 21:28] techknowfile opened #327 "What is the name of this pattern where all the data is parsed into a flattened root store and turned into references"
Sorry that this is a question and not an issue, but with spectrum dead I don't know where else to ask.

I'm moving away from mst-gql to pure MobX, but I want to recreate the pattern of making query requests from the root store and then parsing the response data into flat maps and a reference tree.

Is there a name for this pattern?

[2021-05-19 21:49] iswara108 commented on #327
Normalization

[2021-05-20 01:20] techknowfile commented on #327
@iswara108 Thank you! I just replicated the merge() function for my less-fancy mobx data store implementation, so so cool. I know of normalization from a database perspective, but can't seem to immediately find any examples of it being used for something like this (a data store derived from JSON).  Would love other examples of this being done in the wild if you happen to know of any so I can dig i

[2021-05-20 01:26] #327 closed

[2021-05-20 02:04] iswara108 commented on #327
I think this can be a good reference material, or at least something to get ideas from.
https://github.com/paularmstrong/normalizr
@techknowfile

[2021-05-21 12:13] Abdulaev opened #328 "Generate only selected models"
How can i generate only N models from schema?
For example:
yarn mst-gql --models Todo
will generate only Todo model with it queries

[2021-05-26 17:02] theonetheycallneo opened #330 "Replace subscriptions-transport-ws with graphql-ws"
The subscriptions-transport-ws library is not being actively maintained. It is recommended that you use the graphql-ws library instead. For details read the GraphQL over WebSockets announcement.

Reference:
https://github.com/apollographql/subscriptions-transport-ws#graphql-ws

New GraphQL WebSocket library:
https://github.com/enisdenjo/graphql-ws

[2021-05-26 18:39] #328 closed

[2021-05-29 16:38] jkolyer commented on #312
I made a fork and provided a workaround for circular dependencies.  The fix I used is a ruby script that post-processes the .base models into one single file.  Then I created models.ts which exports all the leaf model classes.   See the examples/5-nestjs for the script.

In addition I fixed a number of TS errors, updated package versions, and other bugs in the runtime lib.

[Here's the repo.](http

[2021-05-29 17:23] jkolyer opened #331 "Stale package versions, TS errors in runtime and model code (with fixes)"
[This fork](https://github.com/jkolyer/mst-gql) has fixed a number of issues found in the current codebase.  It's not PR-ready yet, as it includes a workaround and isn't thoroughly tested.

The circular dependency workaround is a [post-processing ruby script](https://github.com/jkolyer/mst-gql/blob/main/examples/5-nextjs/base-model-imports.rb) that consolidates all the base models into one file.

[2021-05-29 20:10] emckay commented on #312
Wow this is great! Any chance you're looking for a job or open to contracting? I work for Primer (withprimer.com) and we're looking for JS devs who know how to go deep on things like this :). Feel free to email me: eric@withprimer.com

[2021-05-31 16:11] jkolyer commented on #312
@emckay Glad you like it.  I still need to fix some lingering dependency issues and other tweaks.  Should get to it next day or two.  I'll reach out on email.

[2021-06-01 06:34] jkolyer commented on #331
Made some updates and added code comments.  Still work-in-progress, but known TS errors resolved, including all circular dependencies.

[2021-06-02 10:21] arodik opened #332 "Mobx 6 and MST 5 support?"
Hi. I want to use this fancy library, but it turns out that [it requires old MST and Mobx](https://github.com/mobxjs/mst-gql/blob/main/package.json#L89) in the peer dependencies list. Dev dependencies list requires fresher versions, so I'm confused a little bit. Do you have plans to support MST 5 and Mobx 6?

[2021-06-10 01:23] jesse-savary commented on #332
Will take care of this, thanking you for pointing it out. The library should support whatever is listed in the dev dependencies list @arodik.

[2021-06-17 22:55] techknowfile opened #333 "Headers in gqlHttpClient sent with queries but not with mutations"
I am adding headers to my `gqlHttpClient` with `getEnv(store).gqlHttpClient.setHeaders({Authorization: "Bearer " + user.access_token})`

This works perfectly in my queries. However, when calling the scaffolded mutations, the Authorization header isn't being sent.

[2021-06-18 07:08] nicko170 commented on #211
Hey @Aryk

Any chance you can provide a sample on how to wire all the bits together and use that hook? I just can't seem to get everything in the right spot, and it looks like it'll do everything I need tied into react-native-gifted-chat :-)

Nick

[2021-06-20 06:10] Aryk commented on #211
Hey @nicko170 I didn't think anybody was actually looking at what I built here...you should get on my newest version:

[code]

[2021-06-20 06:12] Aryk commented on #211
Something like this:

[code]

[2021-06-20 06:14] nicko170 commented on #211
Thanks @Aryk!! I'll have a better look at this.

It looks absolutely perfect for what I want, is there a chance to get a quick usage example?

I am a typescript noob :-)

How do I tie the query and data into this etc?

This deserves its own package I think.

Nick

[2021-06-20 06:18] Aryk commented on #211
Hey @nicko170, see above for usage example. Unfortunately, not a ton of documentation, have no clue how many people would want this and I also have no clue how to make an npm package. :)

I'm ridiculously busy launching my startup but I hope this helps.

[2021-06-20 13:38] nicko170 commented on #211
@Aryk  this is absolutely brilliant, thank you !!

Using Laravel Lighthouse as a backend, and I had to modify line 436, I think this is more in-spec with the relay specs, I can't see nodes on a connection.

`let newItems = optsRef.current.aggregateResult(getConnection(data).edges.map(edge => edge.node), itemsBeforeQuery, oldState.previous);`

[2021-06-20 20:05] Aryk commented on #211
https://gist.github.com/Aryk/5975b97bdeae935fd9553a81a65cde8b

[code]

[2021-06-20 23:20] k-ode commented on #214
I had to solve the same problem in mst-query (which originally had the same merge logic as this library).

Maybe some parts of my solution can be helpful:
https://github.com/ConrabOpto/mst-query/blob/master/srcmerge.ts#L59

[2021-06-23 15:23] nicko170 commented on #211
Yeah, I didn't do it very gracefully!

This is working amazingly, thank you so much! I hope one day you can release this as a package.

Best of luck with your startup :-)

[2021-07-06 08:17] smokku commented on #130
I also encountered this issue.

In my project, there is no `node_modules/mst-gql/.bin` directory. But there is `node_modules/mst-gql/node_modules/.bin` with `apollo`  scripts.

I've been able to work around this by:
- adding `"apollo": "^2.33.4",` dependency to `package.json`
- editing `node_modules\mst-gql\generator\mst-gql-scaffold.js` to run `const command = `apollo client:download-schema ...`

[2021-07-20 02:03] kranthitechie opened #334 "React Dependencies for Angular project"
Hi there,

I am using this in an angular project, but having to import dependencies like react and react-dom. Can this be avoided?

Thanks.

[2021-08-02 04:41] hamzakubba opened #335 "Args for non-root query fields"
Not sure if I'm overlooking something, but it seems like using `mst-gql`, it's only convenient to use args at the root level of queries.

So for example, let's take this included example:
https://github.com/mobxjs/mst-gql/blob/7f2933a538abef815f9bffbff8ec04142920314c/examples/3-twitter-clone/src/app/models/RootStore.base.ts#L54-L58

Here (as in above), it's great that the first `variables` paramet

[2021-08-02 17:20] #279 closed

[2021-08-10 17:14] Almaju commented on #162
I ending up using `React.useEffect` too. In my case it was an array so I did something like that:
[code]

[2021-08-29 02:34] odjhey commented on #123
@giaset , thanks! I suggest you raise a new issue/PR with the fix, seeing as this issue is a little old and may be outdated, im not on top of things currently so can't say for sure.

[2021-09-01 12:43] smokku commented on #332
Are these `peerDependencies` really needed? It trips `rush` package management.
[code]

[2021-09-05 15:36] DonnyVerduijn commented on #7
Just chiming in here. After learning about mst-gql, i felt it was more like a scaffolding tool for mst (which currently only provides graphql integration). What are the opinions of you guys on this matter and would a rename to scaffold-mst be appropriate?

[2021-09-13 03:01] Aryk commented on #331
@jkolyer when do you think this might get merged in?

I upgraded my TS and I'm getting errors in the reactUtils file.

I was thinking just to use patch-package to put a ts ignore in it. :/

[2021-09-13 18:24] arodik commented on #230
any updates? I've had the same issue and `fetchPolicy: "no-cache"` helped, but now I can't trust this cache at all

[2021-09-13 21:40] jkolyer commented on #331
The workaround I used does post-processing and is not a proper solution.  To do this right will take me a couple of days effort, but I feel it's worthwhile.  I'll try to squeeze it in over the next couple of weeks.

[2021-09-14 20:36] jkolyer commented on #331
@Aryk [Created this PR](https://github.com/mobxjs/mst-gql/pull/337) with a minimum set of fixes.  Note I haven't touched the examples.  I tried to but realized I cannot confirm they will work properly since they don't all currently work properly.  Perhaps a regular maintainer can clean those up with the new package versions.

[2021-09-27 04:19] joelbqz opened #343 "Slow intellisense in VSCode"
Hi guys, I like this library but unfortunately after I generate the models from Hasura(I have 14 tables) it generates approx. 750 files which make the intellisense very slow. Is there any workaround for this? I tried to specify --roots but had no luck

[2021-10-19 09:53] weglov opened #345 "Why did you choose mst-gql?"
Hi all, I am collecting some analytical data for my report, I am wondering why you chose mst-gql instead of apollo-client or other solutions? Thank you in advance.

[2021-11-04 01:12] ryskin opened #347 "mst-gql check if the store ready after rehydration"
The frequent task is to render App when the store is ready and rehydrated but the problem is that I can find out when the store is ready but I can't find out when localStorageMixin finish work and the store is ready, for example, to check if a user is logged in to push him to match screen.

I see only two ways, one way I don't like is to make delay and another way is to create custom localStorageM

[2021-11-04 09:39] Raserad commented on #347
@chrisdrackett @dpnolte @elie222 @zenflow @RXminuS @rdewolff it is really needed feature

[2021-11-04 10:27] rdewolff commented on #347
No need to mention all of us @Raserad

[2021-11-04 12:36] Raserad commented on #347
Sorry

[2021-11-23 15:35] beepsoft commented on #347
While I agree that it is not nice to mention everyone on your mind if you don't get a response immediately, I guess it is also a sign that there is not too much going on with mst-gql lately. It seems practically dead: no new releases, no answers to issues, no discussion, and a PR (#346) pending for weeks. How do you see the status of the project @jesse-savary?

[2021-11-23 16:34] smokku commented on #347
I am using https://www.npmjs.com/package/mst-persist which returns a promise resolved after rehydrating the store.

[2021-12-01 12:38] SacredSkull commented on #332
I appreciate that npm vs yarn is a crazily opinionated subject but sometimes you have to use npm because of external reaons! I found I had to use specific versions and then force npm to ignore the mismatches:

[code]

[2021-12-02 13:30] rohitkmodi opened #351 "scaffold issue"
Previously scaffold command was working fine to get modal but today is not working.
command: yarn mst-gql --format ts https://domain/graphql --outDir app/models

error: Error: Cannot find module
    'graphql/validation/rules/KnownArgumentNamesRule'

tmp_schema.json
    Error: Cannot find module
    'graphql/validation/rules/KnownArgumentNamesRule'
    Require stack:

[2021-12-07 02:32] liqwiz commented on #351
Try `"graphql": "15.7.2"` in your package.json. I had this issue when using v16.X.X.

[2021-12-19 08:38] Aryk commented on #347
@smokku Just curious..how is the performance with mst-persist since there is no throttling. It would seem like persisting to the store on every onSnapshot call would be a serious performance hit on your Rootstore.

Just curious what you were experiencing on that front.

[2021-12-19 12:41] smokku commented on #347
I am whitelisting a small subset of store, so this is not an issue for me.

BTW, I am not sure how such throttling could work without potential for data loss.

[2021-12-19 17:58] Aryk commented on #347
Agreed, ultimately is there any point to whitelisting anything other then the calls themselves (__queryCache), which is the first thing I'm going to try.

I'm still going to implement a purging strategy tied to app versions so that I can fix issues if Im caching bad data.

[2021-12-23 12:29] arodik commented on #335
Would be great if we had something like this
[code]

How possible is it to implement such functionality?

[2021-12-28 20:55] giaset commented on #304
Hey all, any updates on this? This is still an issue in late December 2021. We're working around it by doing this:

`games: types.union(types.undefined, types.array(types.union(MSTGQLRef(types.late((): any => BaseballGameModel)), MSTGQLRef(types.late((): any => BasketballGameModel)), MSTGQLRef(types.late((): any => FootballGameModel)), MSTGQLRef(types.late((): any => GolfGameModel)))))`

Also inte

[2021-12-30 21:34] antondomratchev opened #352 "Support for operationName"
Hello everyone and Happy forthcoming New Year!

Firstly I would like to thank everyone who've contributed to this project! It's been really awesome to see continued support of this project for so long.

We've been using MST since the very early days and continue to enjoy using this library in our projects. I've recently started looking into improving our GraphQL server performance and noticed that

[2022-01-19 18:09] factoidforrest opened #353 "Doesn't work with PNP node modules"
This is a brittle way to go about invoking the apollo schema downloader CLI.
[code]
This doesn't work with PNP and I think it will also break in some monorepos, where, for instance, your library could be at two lower level node-module folders but apollo is at the top level deduped.

Since the apollo CLI is javascript, I would either find a way to invoke the functionality you need directly with a j

[2022-02-15 13:18] krstns commented on #228
Is there any eta regarding this change? This approach becomes more and more popular.

[2022-02-23 08:22] krstns commented on #334
I would like to bump this one.
What are the dependencies regarding react?
MST works fine without it and removing them (if possible) from mst-gql would make life much easier when working on large projects.

[2022-03-01 15:45] krstns commented on #312
@jkolyer I've tried looking at the repo you've linked but their arent' any commits from you.

[2022-03-02 16:03] krstns opened #356 "Value in store is not updated after mutation"
According to docs, calling mutateUpdate* methods without passing additional parameters (like in the examples) should automatically update the data in the store without the need of a re-query.
I have strange results depending on where I run them.

Local machine:
* calling mutate and then query with default caching will return the previous value.
* calling mutate and then query with no-cache will re

[2022-03-03 08:25] krstns commented on #312
@jkolyer thanks a lot for taking interest.
I have a very simple set of APIs with circular references and unfortunately the generated models are unusable.
Here's an example project: https://stackblitz.com/edit/jasmine-in-angular-uf3yhc?file=src%2Flib%2Fdata-manager.service.spec.ts

The apis are available in here: https://apitest.aji.digital
If i can provide any additional help, please let me know.

[2022-03-18 23:10] giaset commented on #312
Also interested in your script @jkolyer, as mst-gql completely breaks on some of the relationships our models have. I've been fixing stuff manually but looking for a more scalable solution...

[2022-03-19 17:32] jkolyer commented on #312
[Here's the ruby script I wrote for workaround](https://gist.github.com/jkolyer/d2577a524f632953f5ff409aa3ec721f)

I'm going to prioritize fixing my fork so this isn't necessary.  It works for me using nestjs, hope you all can get some mileage out of it.

[2022-03-21 16:38] #272 closed

[2022-03-21 16:54] #304 closed

[2022-03-21 18:07] jesse-savary commented on #347
Will see if I can come up with something as AFAIK we encountered this issue with our app.

@Raserad in the future try pinging me :)

[2022-03-22 18:39] jesse-savary commented on #334
I will look into this sometime this week. Perhaps I can make the react dependencies optional, or split off the hooks into a separate NPM package.

[2022-03-24 08:36] beepsoft commented on #330
This would be a breaking change, but I think it is a good idea. What do you think, @jesse-savary?

[2022-03-24 19:43] jesse-savary commented on #330
I think this is a good idea; I'd like to review existing dependencies and replace things as needed.

[2022-03-25 05:03] beepsoft commented on #335
It seems like a duplicate of #272 and is now solved by PR #349. It is not yet released but merged into master.

[2022-04-19 10:35] chertkovalex opened #359 "Root type identifier"
As mentioned in documentation,

Our schema:
[code]
Is generated model.base:
[code]

For specific business purposes we can't use an `id` field as an identifier. In our case, we have a filed called `key` which is an identifier, but the object is not considered as a `root type`. Is there any way to specify that identifier field should not only to be an `id` for detecting root types?

[2022-04-21 12:00] beepsoft opened #362 "In mutations include only arguments which have a value set in variables"
In a Hasura generated schema I have this mutation:

[code]

For this, the following function is generated by mst-gql:

[code]

Note that every argument from the graphql schema is listed in the generated `mutation updateTasks(...)` as arguments.

When I try to use this function like this (I only want to set a specific value):

[code]

I get this error:

[code]

The problem is that while `_inc` (of

[2022-04-21 12:05] beepsoft commented on #359
Unfortunately `id` is hard coded and the runtime only looks for this field in the graphql query results to identify the objects.

[2022-04-22 08:24] krstns opened #364 "Issues with typescript generated models"
Hello

I have a few issues with generated models by mst-gql 0.15.0. My project fails to compile.

1. All of the exported types cause circular reference issues. I have to replace:
`export type RootStoreType = Instance<typeof RootStore.Type>;`
with
`export interface RootStoreType extends Instance<typeof RootStore.Type> {}`
and similar.

2. TS7022: 'RootStore' implicitly has type 'any' because it doe

[2022-04-23 01:14] jesse-savary commented on #359
That might be something we can change. I'll investigate as I want `mst-gql` to be as backend-agnostic as possible

[2022-04-23 06:37] beepsoft commented on #359
That would be great. One thing that also worth considering is not to stick to requiring the id field to be of type `ID`.  In case of Hasura the id fields will be a scalar type named after the postgres type of the id field, eg. `bigint`.

Moreover it maybe useful to allow specifying id field name per root entity as different entities may have different id fields, eg. some called `id` others called

[2022-04-23 22:19] aminify opened #365 "Error using in Create-React-App"
Hi Thanks for your efforts.
I just created a brand new react project using Create-React-App version `5.0.1`.
Unfortunately after following the doc and scaffolding, when I tried to link my store to the app in my root `index.tsx` file, I get all these errors:

[code]

Hasn't anyone had this issue with CRA? Apparently this can be fixed with [some change in the webpack config](https://stackoverflow.co

[2022-04-24 12:38] krstns commented on #364
Hi, I will give you a report soon.
I's funny but we have removed the 'instance' property from our APIs and suddenly:
- generated models use interfaces instead of types (???)
- the issue with the `instance' field is gone (obviously).

I will revert to the previous schema and will make the APIs publicly available (it's a PoC anyway) so you will be able to test it yourself.

[2022-04-25 07:36] beepsoft commented on #365
I was concentrating on a different TS build issue in my trial app, but you are right, it doesn't start and has the same errors as you said:

https://github.com/beepsoft/mst-gql-0.15.0-app

mst-gql uses an old graphql version ("14.6.0"), which probably does not work well with newer webpack.

[2022-04-25 07:49] beepsoft commented on #365
Indeed, upgrading the graphql package in mst-gql to "^16.3.0" and a little update to generate.js to use the new API fixes it. You can try my quick hack by using this in package.json this:

    "mst-gql": "beepsoft/mst-gql#mst-gql-v0.15.0-graphql-upgrade-gitpkg",

Note that your project probably still won't start because of other errors: https://github.com/mobxjs/mst-gql/pull/361

[2022-05-02 06:59] beepsoft commented on #365
Hey, @jesse-savary! 0.15.0 is practically an unusable release and haven't heard of you for a week although I sent PR-s and try to @ mention you  a couple of times.  Any new user coming here to trying to use mst-gql just won't be able to do that and that's not good for the reputation of the project.

If you don't have the time or resources I am happy to help maintaining the project.

[2022-05-02 15:05] krstns commented on #364
I came back to see if there are any answers and I have noticed my previous comment is gone... I have included two schema files with examples... I think I must have messed up something.
Here are the schema files with and without the 'instances' properties
[schema_without_instances.txt](https://github.com/mobxjs/mst-gql/files/8603791/schema_without_instances.txt)

[schema_with_instances.graphql.txt]

[2022-05-02 19:13] jesse-savary commented on #365
Apologies, thought the test suite was enough to catch any issues. I've not been able to test `0.15.0` internally with our own Hasura as of yet. This past week I've actually been trying to take it easy as I deal with what might be COVID however I'd appreciate any additional helping hands. Your past/current PRs are high quality and I meant to reach out previously.

@beepsoft what do you need outside

[2022-05-03 12:17] beepsoft commented on #365
@jesse-savary, sorry for the light pressure but the current release is really unstable and needs the fixes. Hope you are doing well now! Could you please PM me on twitter to discuss the details? My handle is @ beepshow there. Thank you!

[2022-05-03 17:51] jesse-savary commented on #365
@beepsoft no worries, I asked for people to ping me if things were going off the rails :) I'm doing much better now and feel like myself again, thank you. I'll shoot you a message on Twitter once I setup an account purely for dev.

[2022-05-03 19:22] beepsoft commented on #365
I will provide a PR for this as well and then hopefully a new release can be issued, which would work with eg. new CRA projects as well.

[2022-05-04 06:52] krstns commented on #330
would it be possible to allow use of other libs instead? there's a big push to leave websockets in favour of other means of communication (mercure for example).

[2022-05-04 06:56] beepsoft commented on #330
I haven't seen this happening. Where is this push coming from? Who is using mercure in the context of graphql subscriptions? For now I see graphql-ws as a safe option.

[2022-05-04 06:59] krstns commented on #330
api-platform for one. I'm not saying that as part of mst-gql you would integrate mercure, just to create an option to use other libs.

[2022-05-04 08:00] beepsoft commented on #330
Oh, you mean to make the "backend" for subscriptions selectable? We vould then keep subscriptions-transport-ws for backward compatibility and add new backends like graphql-ws and mercure.

[2022-05-04 08:19] krstns commented on #312
hi @jkolyer. I know it's been quite a while but finally I've tried your script. I've tried it with last versions of mst-gql and with 0.14.1 and it doesn't work with them. I think some measures were taken to fight the circular dependencies and the format of base models changed and they cannot just be merged automatically into a single file. Those measures didn't work for us :/ could you let me know

[2022-05-04 08:26] krstns commented on #364
@beepsoft i've edited my previous comment because of a mistake in my tests, but just to ping you, the version ```'beepsoft/mst-gql#mst-gql-v0.15.0-gitpkg'``` does not solve the issue with ```args```.

[2022-05-04 08:36] krstns commented on #364
I've shared the two schemas here: https://github.com/mobxjs/mst-gql/issues/364#issuecomment-1115008552
Could you give me your email so I can share the schema privately?

[2022-05-04 10:58] beepsoft commented on #364
That's too bad there's no private messaging in GH and I don't feel comfortable sharing email addresses here. Instead, try to PM me on twitter @ beepshow.

[2022-05-04 12:23] krstns commented on #364
my thought exactly... I've spent a few minutes looking for a DM. Thanks.

[2022-05-04 13:53] beepsoft commented on #364
I just created a new CRA project
[code]

and added these scripts:

[code]

This is my final package.json:

[code]

Then generated and `tsc` compiled the generated sources like this:
[code]

This is my result:
[code]

I tried it with both schema_without_instances.txt  and schema_with_instances.graphql.txt and both of them generated and compiled all right (needed to rename them to .graphql).

It mig

[2022-05-04 15:09] krstns commented on #364
I've tried to reach out to you on Twitter but you have your DMs blocked.
I will try to generate it again.

[2022-05-04 15:30] beepsoft commented on #364
Oops, you are right, now I enabled DM-s.

[2022-05-06 19:12] #362 closed

[2022-05-06 19:13] #365 closed

[2022-05-09 14:37] brkastner commented on #364
I haven't looked into how to fix this within the library itself but the manual workaround working locally for me (for a related field called `events` is to replace this:
[code]
with this:
[code]
so that it falls back to the old functionality when args is not provided.

Another issue to note is that some of the required dependencies used by the omitted part of the above code are not properly import

[2022-05-09 15:09] beepsoft commented on #364
Hopefully this together with some other issues affecting v0.15.0 is already fixed with the PR-s merged into main. @jesse-savary could you maybe create a beta release on NPM so that we can try the new version in our projects?

[2022-05-10 11:44] krstns commented on #330
yes, i don't expect this to be in the scope of the 'mst-gql' project but it would allow us to add custom implementations and then just call back to the root with the update to follow the same set of processes.

[2022-05-18 02:24] ryskin opened #369 "ERROR in ./node_modules/mst-gql/dist/mst-gql.module.js"
I tried to add to the existing project but had an ERROR when trying to start.
I created a new project (typescript, PWA) and followed instructions but have the same error.

I tried to google about this problem and search for related issues, but no success.

<img width="928" alt="image" src="https://user-images.githubusercontent.com/3756722/168944121-58da4326-cdcd-44f9-942a-dfefad187450.png">

[2022-05-18 04:35] ryskin commented on #369
Need to add
[code]
I edited webpack.config in node_modules and used https://www.npmjs.com/package/patch-package

[2022-05-19 12:46] beepsoft commented on #369
This PR https://github.com/mobxjs/mst-gql/pull/367 hopefully solves it. Not published on NPM yet.

[2022-05-22 18:36] dmytro-shpak opened #371 "Custom scalars support"
Hi!
The **mst-gql** looks very promising tool for me. But i have not found the **Custom Scalars** support. That feature could be implemented by **--fieldOverrides** flag or by manual extending of **Model.base**.

I am working on --customScalars feature now (https://github.com/mobxjs/mst-gql/pull/370). The root idea is to allow to inject custom scalars implemented with **types.custom** to generated

[2022-05-24 07:13] krstns commented on #364
It took me a little, but here's a repo showing my issues. I've used the last commit + a super simple graphql example (attached).
The generated TS code is unusable.
I hope I didn't mess up the import but well.

https://github.com/krstns/mst-gql-issues
[code]

[2022-05-24 19:45] dmytro-shpak opened #372 "generator crashes because of Apollo problems"
Can not generate code for schema

[code]

[code]

[code]

Looks like the problem is related to https://github.com/apollographql/federation/issues/904

[2022-05-26 15:14] dmytro-shpak commented on #372
now after switch to yarn and playing with global installation and combining of grapgql and apollo packages versions it works for me. I do not know yet what is a minimal package.json configuration

[2022-05-30 09:39] krstns commented on #372
The mst-gql dependencies are a mess.
The only way to use mst-gql with npm (for me) was to install it with --force. But then every time I used npm install I had to use --force which had an impact on other packages as well...
In the end, I've switched to yarn (it wasn't that bad when using NX) but this is not possible for every project :/
I guess this goes under the radar because contributors are us

[2022-05-30 15:40] adumat commented on #211
Hi @Aryk,
i want to use your code (it's amazing!)
however i have the following issue:
[code]
during the call of function that return the query to execute (the second param of useQueryWithPagination).
the issue seems to be caused by useQuery with empty params that returns the store instance to null.
have you this issue?
can be caused by different version of mst-gql? (i'm using the latest, 0.15.0)

[2022-05-30 15:59] adumat commented on #211
ehm, resolved.
is because i'm mounting all store of mst-gql in a subtree, and the useContext used by useQuery was not finding a value in StoreContext 😆
anyway, thanks for the hook, is working very well.

[2022-06-03 07:35] ryskin commented on #356
I have same issue

[2022-06-03 08:26] krstns opened #373 "Calling the same query multiple times concatenates the results selector"
I'm calling two queries for the same model, one is used for searching and the other one for retrieving details.
After several queries, I started to receive errors from the server, upon a quick check I saw that the result selector gets concatenated with the previously used and grows to astronomical sizes.
I've tried to trace the issue but my knowledge of the inner works of mst-gql doesn't allow me

[2022-06-05 21:00] dmytro-shpak commented on #372
ok, like a workaround for me works **yarn** and
[code]

[2022-06-07 06:57] dmytro-shpak commented on #371
It looks like more correct idea is to extend the ** --fieldOverrides** by one more field to allow import custom scalars from some file

[2022-06-10 06:41] krstns commented on #373
This is now becoming a showstopper for us.
I understand the project is almost dead, I don't expect anyone to work on that, however any kind of tip regarding where I could start my investigation would be helpful.
The query is being concatenated with previous calls and suddenly our server gets a request to return 10 times the same results.

just a simple example. In our code, when making the followi

[2022-06-10 07:24] krstns commented on #373
Upon more debugging it became obvious...
We were misusing the automatically generated primitves. We cannot do *primite.<something> as it will be modified in the memory and always called like that.

[2022-06-10 07:24] #373 closed

[2022-06-10 20:17] jesse-savary commented on #372
Hey @dmytro-shpak, `0.16.0` will be out soon with a fix for this and other bugs. I'm working on upgrading/replacing dependencies right now.

[2022-06-13 08:36] krstns commented on #356
@ryskin Our solution (and I think the preferred official one) is to:
- create a selector for the update with the updated fields
- use optimistic update to apply the update in the store

By using these two we are ok with our app. The update is immediate, when query fails it's automatically reverted, the state of our store is the one we would expect to have.

[2022-06-13 18:12] dmytro-shpak commented on #371
The version with extended **--fieldOverrides** is created [#375 ](https://github.com/mobxjs/mst-gql/pull/375)

[2022-06-22 22:44] pkreipke opened #377 "Without `roots` in config/args not getting protection against circular references..."
First, not sure this is actually an issue and not just a help question but I haven't found a forum for questions. Please let me know if there's a better forum (Discord, Slack, GH Discussions) etc.

I've been using `mobx-state-tree` for our in-app state and models and I like it a lot. We're switching from REST to GraphQL on the back end and I've managed to get `mst-gql` to scaffold models and class

[2022-07-04 17:21] dmytro-shpak commented on #215
in my case the **typeDef** object has the **identifierAttribute** property [link](https://mobx-state-tree.js.org/API/interfaces/itype#optional-identifierattribute) With the name of correct id property. Probably it could be used there

[2022-07-07 21:15] pkreipke opened #380 "Deleting objects in two-directional "array relationship" cause reference errors - and a question..."
I am using Hasura + Postgres to host my data models. In those models I have "sources" each of which can be connected from many "targets". E.g. `source_id` is a FK in `targets` table to an entry in `sources`. Hasura then represents this as an "array relationship" to a field in `sources` called `assignedTargets`.

In memory:

[code]

I've scaffolded my models through `mst-gql` and loaded the code in

[2022-07-07 21:27] pkreipke commented on #380
ed. renamed from 'targets' to 'sinks'.

[2022-07-09 17:16] special-character commented on #228
I am no longer using this project and don't plan on adding this. Others could add this if they would like to give it a go.

[2022-07-09 17:16] #228 closed

[2022-07-19 03:42] jesse-savary commented on #372
Should be resolved as of `0.17.0`.

[2022-07-19 05:32] venkateshpullaganti commented on #214
Hey @k-ode It seems the link is broken. Can you kindly update it? TIA.

[2022-07-19 08:44] k-ode commented on #214
@venkateshpullaganti Fixed it

[2022-07-19 14:21] jesse-savary commented on #214
Will take a look at this soon, thank you!

[2022-07-20 07:01] chertkovalex opened #386 "How to get the full object, not only primitive fields?"
`xxxPrimitives` is great and save a lot of coding.
But in our case we have a pretty big objects having several nested objects on several levels.
So currently need to create a query with queryBuilder, importing all the primitives from all the nested objects.
And it happens dozens of times.
Is there any possibility to request not only primitives, but the whole object including nested objects and fie

[2022-07-21 16:58] dmytro-shpak commented on #386
I think in that case you will face the circular dependencies problem. Could you show the example of such functionality in other frameworks?

[2022-07-22 13:20] krstns commented on #386
you might need to create a single root store with all of our models (there's another circular dependency issue pointing to a script that can help you make that).
The way to retrieve data from other edges is described in the docs (search for selectors).
Keep in mind that your graphql server may have a limit of nesting.
I would discourage using the primitives. Unfortunately, each time you use them a

[2022-07-24 16:41] evansendra opened #388 "How do I update data from server?"
So far I've been able to query (once) and mutate data using mst-gql.   In order to keep data fresh, in another project using apollo and a polling approach, I can do something like

    useQuery<QueryResponseType>(QUERY, {
        variables,
        pollInterval: 1000,
        onCompleted(data) {
            state.updateData(data);
        },
        ...
    }

which will automatically keep the sta

[2022-07-25 01:42] jesse-savary commented on #388
Technically there's nothing stopping you from hand-writing a polling setup (e.g. use setInterval to repeatedly call the same query) but personally I use subscriptions as I believe polling to be wasteful. Either way, there's no need for a `state.updateData` because of Mobx's reactivity. Make sure your React components are [setup properly to work with Mobx](https://mobx.js.org/react-integration.html

[2022-07-28 14:25] cjjenkinson opened #390 "before / after request query hooks"
I've been using mst-gql in a production project for a few months now

We do encounter issues where we need to be able to access more parts of the query request lifecycle. The specific use case is to handle more subtle authentication flows and issues.

At the moment it is relatively simple to set the auth token for the http client.

[code]

The problem is when the token has expired or invalid the e

[2022-08-15 21:23] alisman commented on #162
What the heck!?  How is this not easily answered?   It seems like we are all trying to do something the wrong way?

[2022-08-16 04:09] alisman opened #391 "useQuery is not reactive"
Suppose I have a paginated list of TODO items.   The page number I am currently displaying is a piece of local application state which, as I understand it, should be kept in a property of the app store (add using properties method of the base store type.   If I mutate that page number, any component that references it will re-render accordingly in the normal Mobx-React way.  However, as others hav

[2022-08-16 09:45] mweststrate commented on #391
I'm afraid I can't. I only worked a couple of weeks on this project three
and half years ago, so I'm afraid I don't have any context anymore 😅.

On Tue, Aug 16, 2022 at 5:09 AM alisman ***@***.***> wrote:

[2022-08-16 18:35] alisman commented on #391
@jamonholmgren could you comment on this?

[2022-09-07 07:46] #390 closed

[2022-09-13 15:27] dirindon opened #392 "How to intercept gql http errors."
I was looking for a way to intercept errors with https://angular.io/api/common/http/HttpInterceptor
but I failed to find any solution and wasn't able to find anything going thru source code.

This is type of errors I wish to catch `core.mjs:6412 ERROR Error: Uncaught (in promise): Error: GraphQL Error (Code: 401):`
and I don't believe adding error handling to each of the requests is the way to go,

[2022-09-24 21:46] ShawkiS commented on #162
any updates? :)

[2022-09-30 04:58] #227 closed

[2022-09-30 04:58] #236 closed

[2022-10-03 08:10] mfasanya opened #393 "Circular dependency on scaffolding"
Getting an issue 'Cannot access X before initialization'

I believe this is due to the auto generated files having a circular dependency. Is there a way to merge all the base files into one file to help fix this issue?

[2022-10-05 10:21] krstns commented on #393
When looking through other issues in mst-gql you could find @jkolyer's script https://gist.github.com/jkolyer/d2577a524f632953f5ff409aa3ec721f

I've made a fork and updated the script so I don't have to do any manual work:
https://gist.github.com/krstns/761a9f2a1f06627904e0db3289ab6cb0

Unfortunately, if you have a log of models you will eventually hit:  TS7056: The inferred type of this node exce

[2022-10-11 08:50] igor90 opened #394 "Query action takes more time than plain fetch request"
Hey
I have project similar to 3-twitter-clone example.
I create a couple of seperated store and injected them in rootStore:

[code]

then I create seperate hook to get that store
`export const useTrendsStore = (): ITrendsStore => useQuery().store.trendsStore;`

And in compontent I use
`const trendsStore = useTrendsStore();`

Here is the action from trendsStore
[code]

And when i call this request

[2022-10-12 12:57] beepsoft opened #395 "yarn tets:cra fails with TS errors"
When running `yarn tets:cra` in the main branch (with mst-gql 0.17.1) it fails with various Typescript errors, eg:

[code]

If I change `tests/cra-test/test-cra.sh` to install explicitly `mobx-state-tree@5.1.5` (the version that must have been the latest at the time of 0.17.1 release) `yarn tets:cra` reports just 2 other errors not related to MST:

[code]

So, something in MST 5.1.6 breaks mst-gql

[2022-10-16 21:50] theonetheycallneo opened #397 "feat(config): Would be nice to prefer gqlWsClient over gqlHttpClient when the client's Websocket is active"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `mst-gql@0.15.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-11-04 12:45] Benz19 commented on #397
HI @theonetheycallneo ...Thank you for patience and support on this project. In an effort to get all the issues cleaned up and organized in a timely manner Im going to assume the role of community manager and do my best to have outstanding issues dealt with in a timely manner.  We have been very busy, but are very passionate about this project and plan on seeing it through.
Thanks for your underst

[2022-11-04 12:53] Benz19 commented on #395
HI @beepsoft  ...Thank you for patience and support on this project. In an effort to get all the issues cleaned up and organized in a timely manner Im going to assume the role of community manager and do my best to have outstanding issues dealt with in a timely manner. We have been busy, but are very passionate about this project and plan on seeing it through.
Thanks for your understanding

[2022-11-04 13:02] Benz19 commented on #393
HI @mfasanya & @krstns  ...Thank you for patience and support on this project. In an effort to get all the issues cleaned up and organized in a timely manner I'm going to assume the role of community manager and do my best to have outstanding issues, comments, questions dealt with in a timely manner. We have been busy, but are very passionate about this project and plan on seeing it through.
Thank

[2022-11-04 13:15] Benz19 commented on #392
HI @dirindon  ...Thank you for patience and support on this project. In an effort to get all the issues cleaned up and organized in a timely manner I'm going to assume the role of community manager and do my best to have outstanding issues, comments, questions dealt with in a timely manner. We have been busy, but are very passionate about this project and plan on seeing it through.
Thanks for your

[2022-11-04 13:16] igor90 commented on #394
@Benz19 Hey
thank you for response, and it would be great to have the imporved version of library

[2022-11-04 13:23] Benz19 commented on #391
HI @alisman ...Thank you for patience and support on this project. In an effort to get all the issues cleaned up and organized in a timely manner I'm going to assume the role of community manager and do my best to have outstanding issues, comments, questions dealt with in a timely manner. We have been busy, but are very passionate about this project and plan on seeing it through.
Thanks for your u

[2022-11-04 13:27] #388 closed

[2022-11-04 14:06] Benz19 commented on #377
HI @pkreipke ...Thank you for patience and support on this project. In an effort to get all the issues cleaned up and organized in a timely manner I'm going to assume the role of community manager and do my best to have outstanding issues, comments, questions dealt with in a timely manner. We have been busy, but are very passionate about this project and plan on seeing it through.
Thanks for your

[2022-11-04 20:35] jesse-savary commented on #392
@dirindon if I'm understanding correctly, you'd like some kind of top-level way to inspect network requests running through `mst-gql`?

[2022-11-05 07:53] beepsoft opened #399 "Discord server and better communication"
Hi all,

I would like to suggest the maintainers of mst-gql to setup a Discord server (or Slack or whatever) to accelerate communication of issues regarding mst-gql.

I'm grateful for all developments going into mst-gql and I understand that it is no one's full time job to develop mst-gql, but a better and more frequent communication about the project may help keeping it (more) alive.

I guess @je

[2022-11-05 18:46] Benz19 commented on #399
@beepsoft I think thats a great idea - We are all very busy right now and my intent is to help get things back on track. Be patient with me.
I'll chat with @jesse-savary and set something up

[2022-11-05 18:56] beepsoft commented on #399
Thanks @Benz19!

[2022-11-05 18:56] Benz19 commented on #380
HI @pkreipke Im trying to help @jesse-savary clean up all outstanding issues... I understand this message was send back in July - Do you still have the same questions?

[2022-11-05 19:01] #372 closed

[2022-11-05 19:08] #7 closed

[2022-11-05 19:24] Benz19 commented on #352
hey @antondomratchev I'm helping @jesse-savary review all the issues in an attempt to get everything cleaned up.  I noticed this has been silent for awhile.  Do you still have questions I can help with?

[2022-11-05 19:43] #345 closed

[2022-11-06 17:52] Benz19 commented on #343
HI @joelbqz Im helping @jesse-savary organize all the outstanding issues are you still having problems?

[2022-11-06 18:08] Benz19 commented on #333
Hi @techknowfile Im helping @jesse-savary organize all the open issues... Are you still having this problem?

[2022-11-06 18:17] Benz19 commented on #331
HI @jkolyer Im going through all the open issues trying to help get things cleaned up and more organized. Can I close this issue?

[2022-11-06 19:30] jesse-savary commented on #353
There's a good chance this works already w/ `0.17.0` but I will do some manual testing.

[2022-11-06 20:06] jesse-savary commented on #335
Should be resolved as of `0.17`

[2022-11-06 20:06] #335 closed

[2022-11-06 20:07] jesse-savary commented on #332
Should be resolve as of `0.17`.

[2022-11-06 20:07] #332 closed

[2022-11-07 10:01] dmytro-shpak commented on #372
confirm

[2022-11-07 18:06] Benz19 commented on #325
Hi @S0PEX Im attempting to get things more organized and reviewing all the open issues.
Do you still have questions ?

[2022-11-07 18:11] Benz19 commented on #322
HI @techknowfile Im trying to help @jesse-savary get all open issues organized.  Is this something you still need help with?

[2022-11-07 18:15] Benz19 commented on #321
Hi @alebinson Im trying to help @jesse-savary organize all open issues... Are you still having this issue?

[2022-11-07 18:18] Benz19 commented on #317
HI @godgav Im currently reviewing all open issues. Do you have questions or need any clarification?

[2022-11-07 18:24] Benz19 commented on #316
Hi @hazemturki Im reviewing all the open issues in an attempt to clean things up.  Are you still having issues?

[2022-11-07 18:34] Benz19 commented on #311
Hi @alchemistgo87 Im trying to help @jesse-savary organize all the open issues... are you still having problems with this issue?  looks like it was solved?

[2022-11-07 18:57] hazemturki commented on #316
Had to switch to another solution. Will close the issue.

[2022-11-07 18:57] #316 closed

[2022-11-07 19:39] #290 closed

[2022-11-07 19:44] Benz19 commented on #285
Hi @barbalex Im trying to help get all the issues organized.  I see this has been sitting on the shelf for awhile... anything I can assist with?

[2022-11-07 19:52] Benz19 commented on #278
HI @reneelinDHI i'm trying to help clean up all the open issues.  I see this has been sitting here for a long time.  Is there anything I can assist with ?

[2022-11-07 19:54] barbalex commented on #285
@Benz19 Thanks a lot for your effort. I have moved that project off of mst-gql since so this is not bottering me. Feel free to close the isssue.

[2022-11-07 20:02] Benz19 commented on #271
Hi @apjoseph Im trying to help clean up all the open issues.. Did this ever get resolved for you?

[2022-11-07 20:17] Benz19 commented on #258
HI @arya Im trying to clean up all the open issues.. I see this has been pretty silent for awhile... can I help?

[2022-11-07 20:22] #285 closed

[2022-11-07 22:24] arya commented on #258
We don't use `mst-gql` anymore so feel free to close. Thanks!

[2022-11-08 19:37] sebikap-gm2 opened #400 "types.late always typed as any"
Hi there!
I'm having an issue, where all the generated models which reference other models are typed as
`someProp: types.union(types.undefined, types.late((): any => SomeNameModel))`
The issue I'm having is with the "any" literal typing, which instead of typing "someProp" as being of type "SomeNameModel", it gets typed as "any".

While digging into the code, I understand that when generated with t

[2022-11-09 10:49] S0PEX commented on #325
@Benz19 Hey, not at the moments.
Thanks.

[2022-11-09 10:49] #325 closed

[2022-11-11 02:04] jkolyer commented on #331
yes

On Sun, Nov 6, 2022 at 10:17 AM Benz19 ***@***.***> wrote:

--

***@***.***
(c) 415 699 2175

[2022-11-11 03:21] #331 closed

[2022-11-25 20:47] sabaimran opened #403 "TypeError: Cannot read property 'endsWith' of undefined"
I'm setting up my dev environment from scratch on a new machine. This setup has worked for me in the past on an Ubuntu - Jammy Jellyfish. Now I'm on macOS Monetery `version 12.5 (21G72)`.

When I run `mst-gql` in my project, I get the following error:
[code]

Running with node `v14.18.0`. Do you have any idea of how to debug this issue? I'm not sure where to start.

[2022-11-28 19:45] velidan commented on #399
Agree with that. Basically, I'm very interested and excited about the project as I'm starting a big project based on graphql and I'm looking for a solid solution for that. Previously used apollo for 2 years and now I wouldn't like to come back.
The killer feature is the model's scaffolding and the easy optimistic response and 2 in one. Graphql and Local state. Right now I'm thinking about at mst a

[2022-11-28 19:51] Benz19 commented on #403
Hey @sabaimran I'll try and get you a response quickly

[2022-11-28 20:10] sabaimran commented on #403
Ah, @Benz19 the issue was on my end with configuration of environment variables. Sorry for the trouble!

[2022-11-28 20:37] beepsoft commented on #399
I think mst-gql could be a viable alternative to Apollo client. Especially if we could implement  #4 (I have some ideas for that)

[2022-11-29 08:07] DanielAndrysek opened #404 "Complex filters handling using generated code"
Hi

I've found the issue with query generating by generated code. We are using Symfony 6 + Api Platform 2.6 for backend and angular with mst-gql for frontend. We're using soft delete functionality so in order to filter out results from query we have implemented "Exists" filter.

Generated selector:
[code]

The generated code produces query like:
[code]
Instead of:
[code]

The reason of this is the