[2019-05-14 14:23] mweststrate opened #1 "Looking for maintainers!"
I think this project is very promising. However, since I am currently not running any projects that use mobx-state-tree and GraphQL in real life. And beyond that, I'm currently running to many OSS projects already :)

So, consider becoming a maintainer of this project if you want to see this project to be continued!

[2019-05-22 00:39] elie222 opened #3 "Running examples"
Some issues running examples. I've tried:

[code]

But get this error:

I don't understand why this is a dependency in the `package.json` either:

[code]

[2019-05-22 01:01] elie222 opened #4 "Batching"
Is query batching currently supported?

Seems like you could often end up making multiple requests. I believe Apollo Client has this functionality built-in.

If not supported, is this a good feature to be added to the library, or you'd recommend users handle larger queries in a different way?

[2019-05-22 01:05] elie222 opened #5 "Automatically updating store upon query/mutation result"
In the Twitter example I see this code:

[code]

I assumed that the auto-generated `self.queryMessages` would update the MST store, but here I see it being done manually, so I take it this is not the case?

~~If not, why not? Seems like the codebase will be full of these manual updates to the store, whereas a library such as Apollo Client will update its store itself upon each query.~~

UPDATE: In

[2019-05-27 11:27] mattiasewers opened #6 "SSR support"

[2019-05-27 19:51] mweststrate opened #7 "This package should have a cooler name!"

[2019-05-27 19:53] mweststrate opened #8 "mst-gql should support a `mst-gql.json` file for configuration"
Instead, or additionally to, using the cli options, which can be pretty long.

Also, some future options might need richer data than can be easily provided in a CLI.

[2019-05-27 19:56] mweststrate opened #9 "It should be possible to generate non-nullable fields"
Depends on #8

Currently, all fields (except `id` and `__typename`) are generated to be a `types.maybe`, as they might never be instantiated.

However, in strict typescript, this will require a lot of non-null assertions.
Also, it can be very good to make it mandatory that queries for a certain type also fetch a certain field.

So it would be could to have an option, for example, that specifies ma

[2019-05-27 20:00] mweststrate opened #10 "Support apollo client?"
Currently, mst-gql is based on `graphql-request`. Not using apollo client has a few benefits

- much smaller footprint
- easy / simple setup

However, using apollo might have soon benefits as well
- gradual adoption, if the apollo client can be used as networking layer
- benefit from features not present in mst-gql, or which are in a more mature state in apollo
- It could be interesting to researc

[2019-05-27 20:05] mweststrate opened #11 "Detect superfluous files in the models directory"
Currently, if a model definition disappears from the graphql endpoint, the files that were generated for it in the past are not removed. It would be great to do that in the future.

[2019-05-27 20:08] mweststrate commented on #3
This problem should be fixed now!
Run `yarn && yarn build` in the root first, and after that, `yarn` in any of the examples should work.

Feel free to close the issue if that is indeed the case :)

[2019-05-27 20:10] mweststrate commented on #4
I'm not familiar with that appollo client feature, let's see if more people need it :) In that case it could be added, or we could investigate if we could reause that feature from apollo-cient (see also #10 )

[2019-05-27 20:12] mweststrate commented on #5
The `sortedMessages` is the 'view' on the messages. The messages themselves are basically unordered, so sortedMessages makes sure that additionally fetched messages are appended to the end, while newly posted messages are prepended to the front.

Note that this could also have been expressed as view, by sorting on the `timestamp` of the messages. (which would probably be a little bit cleaner)

[2019-05-27 20:16] elie222 commented on #4
May not be too important at this stage. Good blog post on it and it’s
drawbacks:

https://gist.github.com/3aa404dbd5953bf29c3f8d2962c845fa

It isn’t enabled by default in Apollo.

On Mon, 27 May 2019 at 23:10 Michel Weststrate <notifications@github.com>
wrote:

[2019-05-27 20:27] mweststrate commented on #4
Ok, I'll close it for now. Can always reopen later.

[2019-05-27 20:27] #4 closed

[2019-05-27 20:30] elie222 commented on #8
Did you consider using graphql-codegen? It’s a library with type and code generators for lots of languages. Ts, flow, Apollo, urql...

Cli/json options come out the box with it.

[2019-05-27 20:30] elie222 commented on #8
https://graphql-code-generator.com/docs/getting-started/

[2019-05-27 20:30] mweststrate opened #13 "Use a decent code generator or templates"
The current generator `generate.js`, is a pretty straight forward string concatenation tool. it's fast and straight forward, but probably not very maintainable as it grows more complex in the future. Something more solid could be a good idea, I think @birkir had some thoughts about that in the past

[2019-05-27 20:37] mweststrate commented on #13
For example: https://github.com/dotansimha/graphql-code-generator

[2019-05-27 20:41] sw-yx commented on #13
@jamonholmgren's https://github.com/infinitered/gluegun goes templating well.

[2019-05-27 20:49] mweststrate commented on #6
I don't see any reason why it wouldn't work with SSR at the moment.

[2019-05-27 20:53] mattiasewers commented on #6
@mweststrate Sorry I should been more specific, how would I extract and restore data rendered on the server?

[2019-05-27 20:59] mweststrate commented on #6
The standard MST primitives can be used for that:

const data = getSnapshot(store)

...

const store = RootStore.create(data, { client config and such })

On Mon, May 27, 2019 at 10:53 PM Mattias Ewers <notifications@github.com>
wrote:

[2019-05-27 21:00] mweststrate commented on #8
@elie222 yes, see #13

[2019-05-27 21:17] FredyC commented on #10
Using the whole `apollo-client` might be overkill indeed. However, [`apollo-link`](https://www.apollographql.com/docs/link/overview) alone is nicely made (build on top of observables) and  I am fairly certain it can be used without client to facilitate the whole communication layer including batching or deduplicating.

It's important to realize that hardcoding HTTP transport isn't the best approac

[2019-05-28 06:23] ematipico opened #15 "React should be opt-in or opt-out"
I think the generation of the code related to React should be an opt-in feature. Store management should be agnostic.

Or at least, it should be possible to give an **option to not output React code**.

[2019-05-28 06:39] FredyC commented on #15
You are not forced to use React related code, but I do agree it could be living in a separate package.

[2019-05-28 07:32] ematipico commented on #15
Yes you are right, that's why it's better to pass an option to not generate it instead of delete it every time.

I'm working on a project that uses MST and GraphQL but not react. It would be handy.

[2019-05-28 07:44] FredyC commented on #15
Well, considering the #1 you are kinda free to contribute such change :) I don't think it's going to happen soon otherwise.

[2019-05-28 08:31] mweststrate commented on #15
There is --modelsOnly that omits the react and graphqlclient / query stuff. PR for additional flag with in between mode (yes queries, no react) is welcome

[2019-05-28 09:21] ematipico commented on #15
Yes I read about `--modelsOnly`, I didn't get that it also omits react stuff. I'll what I can do, if this change is welcome :D

[2019-05-28 19:32] mweststrate commented on #15
PR welcome! --noReact?

[2019-05-28 20:21] FredyC commented on #15
Seems like it should be another way around :) Instead of disabling stuff, the user should specify what to generate.

Alternatively, it would be nice to adopt the way `graphql-code-generator` allows to [configure plugins](https://graphql-code-generator.com/docs/getting-started/codegen-config) used for generating code. Ultimately, everything should be like a plugin so it's easy to create custom ones

[2019-05-29 02:55] jamonholmgren commented on #13
Thanks for the mention, @sw-yx!

We're using the `ejs` library to power our template system:

https://github.com/infinitered/gluegun/blob/b35a848c1cf5324f7767d15104416d8a78b2035b/src/toolbox/template-tools.ts#L16

We also have a really cool patching library:

https://github.com/infinitered/gluegun/blob/b35a848c1cf5324f7767d15104416d8a78b2035b/src/toolbox/patching-tools.ts

Both are built-in to Glu

[2019-05-29 09:10] FredyC commented on #13
Should we actually turn this into a monorepo to split stuff into plugins? I am no big fan of Lerna, it does the job, but it also gets in the way fairly often.

[2019-05-29 09:54] mweststrate commented on #13
Let's not over engineer yet; it does make contributing harder

Op wo 29 mei 2019 11:10 schreef Daniel K. <notifications@github.com>:

[2019-05-29 09:58] FredyC commented on #13
Ok sure, I suppose that Gluegun can use "plugins" from the single package, so that shouldn't matter, but we should also support custom plugins from NPM.

---

Regarding the code generation, I actually do have a custom generator for `graphql-code-generator` which generates fully typed hooks for each graphql operation. I am not sure yet how it would like here, but a similar alternative would be real

[2019-05-29 10:00] mweststrate commented on #13
Please open separate issues for separate ideas 😉

Op wo 29 mei 2019 11:58 schreef Daniel K. <notifications@github.com>:

[2019-05-29 10:06] FredyC opened #18 "Generating React hooks specific to operations"
Regarding the code generation, I actually do have a custom generator for `graphql-code-generator` which generates fully typed hooks for each graphql operation. I am not sure yet how it would look like here, but a similar alternative would be really nice.

[code]

I am using prefixes Q, M, S, F for my `*.gql` documents and based on that I can distinguish those easily.

_Originally posted by @FredyC

[2019-05-29 11:02] mweststrate commented on #18
Could you post some before and after examples with the actual api you have in mind from component perspective?

* A benefit of using hooks is that they can nicely be tree-shaken

Some downsides I see:
* Cant reuse them from imperative logic
* They don't provide a way to do some pre / or post processing logic, while keeping all query logic in the store allows for a central place to organize these t

[2019-05-29 11:29] elie222 commented on #18
Sample output when using graphql-code-generator: https://graphql-code-generator.com/docs/plugins/typescript-react-apollo#withhooks-boolean-default-value-false

[code]

[2019-05-29 11:33] FredyC commented on #18
This is based on Apollo (obviously) and I even have a custom fork of `react-apollo-hooks` to improve DX.

I haven't really tried this package in action to see what it generates. Nor I read that whole README (😮). It does look intriguing on a surface, but I have a very well established approach with hooks I don't see much of gain from stuffing it into mobx models right now.

For each query, I am als

[2019-05-29 12:01] #15 closed

[2019-05-29 14:24] mweststrate commented on #18
Ok, sounds like this is not a proposal based on an actual problem / usage. Closing for now.

[2019-05-29 14:24] #18 closed

[2019-05-29 14:31] mweststrate commented on #15
Released as 0.1.2. Thanks @ematipico & @dpnolte !

[2019-05-31 10:23] mattiasewers commented on #6
@mweststrate I'm having trouble getting ssr to work with next.js since we need resolve all the queries before rendering, like apollo does. How would you do it?

[2019-05-31 10:27] mweststrate commented on #6
Create the store, invoke the relevant query methods, await them, then render

Op vr 31 mei 2019 12:23 schreef Mattias Ewers <notifications@github.com>:

[2019-05-31 11:03] mattiasewers commented on #6
@mweststrate How do i know which queries to execute? Different pages might execute different queries

[2019-05-31 11:23] mweststrate commented on #6
It will depend in whether you did put all the logic in components or on
stores. In the first case it would be hard to tell

Op vr 31 mei 2019 13:03 schreef Mattias Ewers <notifications@github.com>:

[2019-05-31 11:39] mattiasewers commented on #6
@mweststrate I'm using `useQuery` hook to fetch data

[2019-05-31 11:58] mweststrate commented on #6
are you invoking it like `useQuery(store => store.someQuery)` or are you
creating a query inside the component itself? If you use it from the store,
you can make sure the query happened already, and set the network policy to
cache-only to make sure the query resolves immediately

On Fri, May 31, 2019 at 1:39 PM Mattias Ewers <notifications@github.com>
wrote:

[2019-05-31 12:47] mattiasewers commented on #6
@mweststrate ok, how?

[2019-05-31 12:52] mweststrate commented on #6
In pseudo code it would be something like:

[code]

[2019-05-31 13:12] mattiasewers commented on #6
@mweststrate ok that would work but it's not optimal. So I'm working with next.js and want resolve any query on a component before rendering without knowing the query. Apollo does this by traversering the react tree.

[2019-05-31 13:17] mweststrate commented on #6
Ah, no, such a thing doesn't exist atm for mst-gql

On Fri, May 31, 2019 at 3:12 PM Mattias Ewers <notifications@github.com>
wrote:

[2019-05-31 13:20] mattiasewers commented on #6
@mweststrate I'll look into it!

[2019-05-31 13:42] aksonov opened #21 "Failed to convert type"
Got following output:
[code]

[2019-05-31 13:58] mweststrate commented on #6
Awesome!

Op vr 31 mei 2019 15:20 schreef Mattias Ewers <notifications@github.com>:

[2019-05-31 18:55] mweststrate commented on #21
Looks like referring to an interface from an object field type is not supported by the generator at the moment. Currently interfaces are merged into the models that implement them.

Instead, probably separate models should be generated and implementations should extend them.

Or alternatively: the interface could be defined as the union of all concrete object types that implement them.

[2019-05-31 20:06] aksonov commented on #21
Thanks for quick response! Any quick workaround to generate stubs?

[2019-05-31 20:12] mweststrate commented on #21
You could adjust the generator to skip fields that have an interface type

Op vr 31 mei 2019 22:06 schreef Pavel Aksonov <notifications@github.com>:

[2019-06-01 19:54] onomated commented on #21
Just ran into this myself with my `USER` interface.  @aksonov worked on any changes to the generator yet?

[2019-06-03 07:52] mattiasewers commented on #6
@mweststrate I've found a solution that worked for me. So the idea is that when you use `useQuery` we push the generated promise to some placeholder in the store e.i.

[code]
and then in `normalizeQuery`, this is only need for ssr tho

[code]
The only thing left to do on the server would be
[code]
This is kinda what apollo does, let me know what you think!

[2019-06-03 10:11] mweststrate commented on #6
Sounds like a great idea to incorporate this!

Does this mean that the tree should be rendered twice on SSR? One to get
the promises, await them, render again? Doesn't sound too bad though :)

(small details: use .volatile instead of .props, and make sure to clean up
the collection, so Set would probably work better, but those are the
details)

On Mon, Jun 3, 2019 at 9:52 AM Mattias Ewers <notific

[2019-06-03 11:13] mattiasewers commented on #6
@mweststrate Yes, we unfortunately have to render twice on the server but it's the same trade of as apollo. This will also be solved once suspense is finished 😄

I'll create a pr

[2019-06-03 22:18] dpnolte commented on #21
@onomated @aksonov  I made a start in #23 to support interface fields. Maybe you can check if it works for you?

[2019-06-04 05:51] dpnolte commented on #13
I just want to add that kotlin/java poet might be a good source of inspiration: https://github.com/square/javapoet and https://github.com/square/kotlinpoet . I love that library. It uses builders to generate the code, instead of dealing with a template engine. The builders take care of indentation, importing types and injecting formatted variables with c-style literals. Writing code generator logi

[2019-06-04 07:16] #5 closed

[2019-06-04 07:16] #3 closed

[2019-06-04 07:17] mweststrate commented on #1
Invited so far @elie222 @dpnolte, welcome aboard!

[2019-06-04 18:33] elie222 commented on #10
Not sure how `apollo-link` fits in here, but Apollo Client accepts different cache mechanisms. An article on it:
https://medium.com/homeaway-tech-blog/creating-your-own-apollo-cache-for-perf-and-profit-8f786849e5f6

And some cache implementations:
In Memory Cache (Apollo default): https://github.com/apollographql/apollo-client/tree/master/packages/apollo-cache-inmemory
Hermes: https://github.com/c

[2019-06-04 19:35] FredyC commented on #10
@elie222 The cache is not composable. You would have to use customized MST cache for a whole project (or keep separate client instances). That also makes the gradual adoption much harder.

I think the `graphql-request` can be used by default, but with an option to supply client instance that should be used for running queries. Possibly other adapters for alternative solutions.

[2019-06-05 19:07] onomated commented on #21
@dpnolte Works great! Thanks for introducing inline fragments to the QueryBuilder as well.
@mweststrate perfect timing on this component as well.  Was just migrating from ApolloClient to mobx/libx and I stumbled on this
Cheers!

[2019-06-06 10:44] dpnolte commented on #21
Thanks, then i'll close this issue. #23 will be part of the next release

[2019-06-06 10:44] #21 closed

[2019-06-06 10:49] dpnolte commented on #1
Thanks! My availability is shifting depending on whether I've an assignment, but always happy to help. And more importantly: when is the first Friday afternoon drinks?

[2019-06-06 11:13] dpnolte opened #25 "Enable enums to be used in queries"
Currently, GraphQL Enum types are converted into MST's types.enumeration. However, there are still some open ends in supporting enums to use them in queries:
- Enums fields are not added to the ModelSelector/QueryBuilder of the containing model
  - probably require changes in `generateFragments` in generate.js
- Enums are not typed when being used as a query variable
  - probably require changes i

[2019-06-06 18:21] dgdosen opened #26 "Examples with classes vs hooks"
Are there any examples that use classes? (and decorators?) vs hooks? Is that possible?  I'm looking to take baby steps...

[2019-06-06 20:19] chrisdrackett opened #27 "updating the store outside of graphql"
I'm looking into using mst-gql on a project I'm working on. I'm really happy so far with the models, queries and mutations!

That being said I'm currently stuck around have live data updates. Our server is currently serverless so we don't currently use GraphQL subscriptions. What we do currently is use pusher to send data from the server to the client and then the client updates the Apollo cache.

[2019-06-06 20:36] chrisdrackett commented on #27
I wonder if `merge` is what I'm looking for. I'll play with it a bit!

[2019-06-07 07:45] dpnolte commented on #27
Yes, that sounds right to me. When subscribed to your event, you could use `merge` to merge the incoming data from pusher with the store. But it is important that the data still contain `__typename` and - if possible - any `id` to upsert the correct model. You can review the implementation logic here: https://github.com/mobxjs/mst-gql/blob/master/src/mergeHelper.ts
Alternatively, you could impleme

[2019-06-07 07:55] dpnolte commented on #26
The simplest example is example 1, but hooks are being used. Maybe you can start from example 1 and try to convert the [home component](https://github.com/mobxjs/mst-gql/blob/master/examples/1-getting-started/src/app/Home.tsx) to a class with decorators as a first step?

[2019-06-07 14:10] flybayer commented on #27
Just be aware that `merge` won't removed deleted records from your store! You may or may not care about this depending on your app.

[2019-06-07 15:24] chrisdrackett commented on #27
yeah, luckily (currently at least) we're using a boolean for deleted items so that should not be a problem. Thanks!

[2019-06-07 15:28] chrisdrackett opened #28 "INPUT_OBJECT in typescript"
I tried to use mst-gql with a Prisma generated schema today and ran into the following error:

[code]

when looking at my schema I see:

[code]

[2019-06-07 16:12] chrisdrackett opened #29 "can't resolve enum"
I have some enums in my types and after generating my models I get the following error:

[code]

In ItemModel.base.js I see an unused import:

[code]

I wonder if this is suppose to be used below in this file under `ItemModelSelector`?

Sorry if this is related to #25 I'm still figuring everything out!

[2019-06-08 15:55] chrisdrackett commented on #27
working like a charm, I'm going to close this issue!

[2019-06-10 19:36] elie222 opened #32 "`realpath` missing when running examples"
When running the examples I ran into this issue when running `yarn install`:

[code]

Doing this fixed it for me:

[code]

`realpath-native` does get installed in the root `node_modules` folder. Should the example bash script be updated to rely on the copy of `realpath` in `node_modules`?

[2019-06-11 17:57] mskv opened #33 "Better TypeScript support in query builders"
I think it would be useful to infer the types of return values from the query builder. Here's an example from the README:

[code]

After a quick glance at the source code, I think the builder is not currently used in any way to infer the types of its results. However, I think it would be possible in TS to do that.

I hacked around a little proof of concept that shows how a builder could be written

[2019-06-17 09:23] mweststrate commented on #26
Yes, it should be no problem to use it without hooks, if you follow for example the following pattern:

For case, see:

[code]

[2019-06-17 09:24] mweststrate commented on #28
Input object types have not been implemented yet, but it should be trivial to do so, as they don't need a corresponding MST type, only a typescript interface (the logic is already partially present in the generator). Alternatively, it could be put to `any` atm.

[2019-06-17 09:27] mweststrate commented on #32
It is a built-in linux utility, probably not available on Mac.... It is just to make the path absolute in the build script, probably there is a mac compatible alternative, as it is quite a basic shell feature :P

[2019-06-17 17:54] elie222 commented on #28
I've made a PR that puts it to `any` and logs a warning. Will look to implement it properly now.

[2019-06-17 19:42] elie222 opened #37 "Add semantic release / comitizen"
https://github.com/mobxjs/mst-gql/pull/23#issuecomment-502600998

[2019-06-18 12:31] elie222 commented on #32
Added a note to the README about it:
https://github.com/mobxjs/mst-gql/commit/4ebc07e04f124142d34b3570e04609cf824d4a60

Closing for now.

[2019-06-18 12:31] #32 closed

[2019-06-18 12:32] #26 closed

[2019-06-23 08:53] #6 closed

[2019-06-23 09:43] dpnolte commented on #29
@chrisdrackett thanks for reporting! I also had the same issue: the import paths for enums were incorrectly generated. In your case, the import path should probably have been './ItemTypeEnum'.  Can you check if this is still the case? This should be fixed with #23

[2019-06-23 09:45] dpnolte commented on #28
@chrisdrackett could you check if #36 works for your use case? Thanks!!

[2019-06-23 10:47] dpnolte commented on #33
Looks interesting!
When would you use the returned type from the query builder? Do you have any use cases?

[2019-06-23 12:28] mskv commented on #33
Sure. I'm afraid I can only give some food for thought and not any concrete examples.

My original thinking came about upon seeing this example:

`const { store, error, loading, data } = useQuery(store => store.queryMessages())`

I would want the full, correct typing of `data` based on what query builder is used in `queryMessages`.

The idea to infer types from the builder came from what my curren

[2019-06-23 13:40] dpnolte commented on #33
Thanks for sharing your insights. I actually think your use case is useful.

You can type the returned data from useQuery. That is, the useQuery hook takes a type parameter to define the returned data:
[code]

I think even that the example `useQuery(store => store.queryMessages())` is supposed to work with proper data typing. If you look at example 3, the query is defined in file Rootstore.base.ts

[2019-06-23 15:25] mskv commented on #33
Right, I see, we can have the `useQuery(store => store.queryMessages())` return `data` typed to `MessageModel.Type[]`... but this is still sub-par in comparison to the Apollo CLI approach. This will always end up with a type that has lots of nullable props due to the need of using `types.maybe` to define the model.

Using the Apollo CLI approach of defining types based on queries gives me a true p

[2019-06-23 19:06] chrisdrackett commented on #28
@dpnolte yep! looks like I can now generate using typescript without issue! 🎉

[2019-06-23 19:06] #28 closed

[2019-06-26 03:06] chrisdrackett commented on #29
Yep! this is working now 🎉

[2019-06-26 03:06] #29 closed

[2019-06-26 05:36] chrisdrackett opened #42 "support returning enums in queries"
I'm trying to get the value of an enum in for a given type. given the following schema:

[code]

I'm trying to do:

[code]

however it seems that `type` isn't available in this case. Sorry if this is a known issue with enums!

[2019-06-26 05:50] chrisdrackett commented on #42
Should note that I'm using typescript. It seem that by updating the `ItemMode.base.ts` file from:

[code]

to:

[code]

gives me what I need. I'm looking into doing a PR for this, but I'm guessing there might be cases I'm missing and I'm also still not super familiar how code is generated in this lib yet.

[2019-06-26 06:38] chrisdrackett opened #44 "curious what to do with datetime or similar"
I have a scalar `DateTime` that I'd love to teach mst-gql to treat as a Date.

So far I've tried editing my `models/<item>Model.ts` to have:

[code]

and that much seems to be working, however I'm not sure where to put the code that takes the string returned from the server and transforms it into a Date.

[2019-06-26 07:01] chrisdrackett commented on #44
Nevermind, I was able to figure this out. If anyone else is curious to support (for example) Luxon dates you can use the following in `models/<item>Model.ts`:

[code]

[2019-06-27 17:49] #44 closed

[2019-06-27 22:38] antondomratchev commented on #7
I guess I'll throw a couple in the hat:
Graphix (GraphQL + Mobix State Tree)
Mobix Tree Graph
MST Graph

I think Mobix State Tree is a hard one to work with on its own 😜

[2019-06-28 07:51] elie222 commented on #7
Graphix is nice and short.

MobX Graph
MobX GraphQL

Some other options that make it clear from the name what they do.

On Fri, 28 Jun 2019 at 1:38 Anton Domratchev <notifications@github.com>
wrote:

[2019-06-29 23:59] chrisdrackett opened #45 "Circular dependencies between models"
I'm running into the following error on all my models that are related to each other:

`'TagTypeModelBase' implicitly has type 'any' because it does not have a type annotation and is referenced directly or indirectly in its own initializer.`

Here is the file in question:

`UserModel.base.ts`
[code]

`Project` has a link back to the `User` model. When I first ran into this I found:

https://github

[2019-06-30 00:03] chrisdrackett commented on #45
looks like this might have to do with with the fact that the `NoteObjectTypeModelBase` references the `TagTypeModelBase`.

[2019-06-30 01:10] chrisdrackett opened #46 "relations with arguments not showing up on model"
I have a schema that looks like the following:

[code]

but after running `mst-gql` I get the following:

[code]

I found that if I remove the args MST picks things up correctly. For example if I change followers to be `followers: [User!]` I then see it correctly in my store:

`followers: types.optional(types.array(MSTGQLRef(types.late((): any => UserModel))), []),`

I don't actually use these arg

[2019-07-05 08:41] Amareis commented on #45
+1, in my (complicated enough) domain models generated models are useless because of circular dependencies.

[2019-07-05 08:48] Amareis commented on #45
Against the comment in https://github.com/mobxjs/mst-gql/blob/master/generator/generate.js#L354, types.late isn't enoug to prevent circular dependencies :)

[2019-07-05 08:52] elie222 commented on #45
@chrisdrackett does editing the generated file solve your problems? (I realise this isn't a long term fix).

@Amareis is the problem with TS types or a JS issue?

[2019-07-05 08:59] Amareis commented on #45
@elie222 just TS typings. For correct circular references handling we need to use `types.late((): IAnyModelType => SomeModel)`, but if we do it everywhere, **all** references will be `any` type. So, this should be applied only at some points, to break the wheel, but currently IDK how to select that points algoritmically.

[2019-07-05 09:15] Amareis commented on #9
Related to #33 too

[2019-07-05 09:22] Amareis opened #48 "Handle Relay connections"
Our models use [Relay connections](https://facebook.github.io/relay/graphql/connections.htm), maybe mst-gql can handles it in some pretty way.

[2019-07-05 09:26] Amareis opened #49 "Add option to generate base models at different folder"
On big schemas where is too much files :)

![image](https://user-images.githubusercontent.com/4806617/60712578-c1ca0680-9f30-11e9-9aca-d0dd266a9303.png)

[2019-07-05 09:44] Amareis commented on #45
https://github.com/pahen/madge can be helpful in find and resoving circular deps. My current models have 36 of it.

[2019-07-05 10:41] elie222 commented on #49
Lol. May be smart for us to group these files by type so each type has its
own folder.

On Fri, 5 Jul 2019 at 12:26 Иван Плесских <notifications@github.com> wrote:

[2019-07-05 21:22] chrisdrackett commented on #45
@elie222 editing the generated file does fix the problem, but like @Amareis mentioned because this makes the return type `any` you only want to do it where needed and not on everything. I'm not sure if that is something the library could detect, but if so, it would be awesome.

I can try and add a note about this if needed to the docs. Its really more a MST thing than a mst-gql thing, but might be

[2019-07-09 00:30] brobertsUPS opened #51 "Use `maybeNull` instead of `maybe` for default fields"
I read the docs on graphql and the default is every field is nullable by default:

https://graphql.org/learn/best-practices/#nullability

I initially ran into this when trying to query a relation type on an `ItemList` component. The query looks like this:

![Screen Shot 2019-07-08 at 5 25 00 PM](https://user-images.githubusercontent.com/5407471/60850722-6c4a5f80-a1a5-11e9-9aa4-02a4a58f51ad.png)

T

[2019-07-09 07:01] elie222 commented on #51
I think you're right. `maybeNull` is more appropriate. Happy for you to
make a PR with the fix.

On Tue, 9 Jul 2019 at 03:30, Brandon R <notifications@github.com> wrote:

[2019-07-10 19:49] brobertsUPS commented on #51
Sounds good, I will see if I can create a PR for this

[2019-07-11 22:03] elie222 commented on #45
So I'm thinking we can handle this by manually generating the TS types. TS shouldn't have issues with the circular dependencies in general. For example, the following code compiles fine:

[code]

Having TS figure out the types from the model itself is nice usually, but as we're generating this code in any case, we may as well generate the TS types too and get around this circular any issue.

@mwes

[2019-07-12 10:30] Amareis commented on #45
Yep, that's will really cool! Besides of circular deps handling, it'll make nice typenames in compiler errors, instead of usual mst types garbage.

[2019-07-12 10:33] mweststrate commented on #45
I think it is a really cool idea! Be aware to use interfaces instead of
types wherever possible, as types in TS can't have circular refs either

On Fri, Jul 12, 2019 at 12:30 PM Иван Плесских <notifications@github.com>
wrote:

[2019-07-16 03:22] chrisdrackett opened #54 "export enum types when outputting to typescript"
for example instead of:

[code]

output:

[code]

The name `XXXEnumType` is terrible and too close to the MST name of `XXXTypeEnum`. Any suggestions of a better name?

[2019-07-16 11:13] pvpshoot opened #55 "[question] How to refetch data after delete object from model"
Ok, i have this mutation on my backend:
[code]

after `createUser ` :
[code]
new record in RootSore.users appears.

**How can i delete record from RootSore.users?**

i tried this:
[code]
-> nothing

this:
[code]
-> record drops, but then immediately applied new patch with old data;
1) Map.length // 2
2) deleteUser() -> Map.length // 1
3) Map.length // 2

[2019-07-17 03:37] chrisdrackett commented on #27
I'm going to reopen this as I'm running into a new issue. I've found that by using merge my lifecycle events (`afterAttach`) don't seem to be firing. Is this to be expected? If so, I'm wondering if there are other ways I might update items outside of GraphQL?

The issue I'm running into is a `User` has `Items` and each item has an `owner` that is a `User`. When an updated `Item` comes in from push

[2019-07-17 20:53] mweststrate commented on #45
Regardless on whether the above is implemented or not, in general two tips that help with breaking circular type dependencies:

1. Break circles by not relying on type inference for method arguments / return types (example: https://github.com/mobxjs/mobx-state-tree/issues/1341#issuecomment-511363856)
2. Use interfaces that extends types (example: https://github.com/mobxjs/mobx-state-tree#using-a-m

[2019-07-19 05:00] #27 closed

[2019-07-19 08:28] odjhey commented on #7
MSTix

[2019-07-25 22:47] #42 closed

[2019-07-25 23:06] #54 closed

[2019-07-26 00:09] #49 closed

[2019-07-26 00:10] chrisdrackett commented on #25
@dpnolte can you confirm if this has been fixed in the recent changes? I think this can probably be closed, but I wanted to check with you first!

[2019-07-26 00:18] chrisdrackett opened #61 "optimistic updates with new items"
I'm curious if anyone has thoughts around supporting optimistic updates when adding new items to the store. Because items are currently stored under their ID (which won't be available until a response comes back from the server) I'm not sure the best way to handle this case, if it is even possible.

[2019-07-26 00:22] #51 closed

[2019-07-26 03:36] chrisdrackett commented on #45
@elie222 have you done any work on this? I was thinking of giving it a try tomorrow and/or over the weekend

[2019-07-26 07:18] elie222 commented on #45
I have not unfortunately :( too busy right now

On Fri, 26 Jul 2019 at 6:36 Chris Drackett <notifications@github.com> wrote:

[2019-07-26 07:30] elie222 commented on #61
So there are different cases, but I think each can be handled.

Create, update, delete.

When an update or delete happens you have the id in question. So you can
perform an optimistic update and then revert if the mutation fails.

Regarding create you can insert a new item inventing an id and then
removing the item once the real item is added from the server (or updating
the id, although I don’t r

[2019-07-26 09:13] nnennajohn opened #62 "Bug: Can't read kind of undefined."
Hi. Not sure if this is the right place to put this. I kept trying to run this and kept getting an error can't read .Kind of undefined at interfaceOrUnionType.kind. I ended up cloning this and trying to get it to work locally.

I got it to work by adding a conditional check in the handleInterfaceOrUnionType func in generate.js

[code]

And

[code]

I think it chokes where my  Schema has
[code]

Ad

[2019-07-26 23:55] chrisdrackett commented on #61
yep, we're handling update and delete without any issue right now, but I'm just not sure how to handle the create case.

my current thought is this:

- create a temp ID when creating the item on the client
- send that ID to the server
- when the server sends back the real item, send back the temp ID as well.
- use the temp ID to replace the temp item on the client with the real item.

Ideally I'd

[2019-07-27 00:10] chrisdrackett commented on #55
This might not be helpful, but the way we handle this is having a `isDeleted` flag on the record in question. In this case the `deleteUser` mutation would return the user record that has been deleted with `isDeleted` as `true`. You can use this locally to remove the record from your store.

[2019-07-27 18:26] elie222 commented on #61
That process would work, but I'm not sure why the server needs the temp id
to match up.

If the client makes a request to the server, the client knows what the
request was made for.

The very rough code would look something like this:

[code]

On Sat, 27 Jul 2019 at 02:55, Chris Drackett <notifications@github.com>
wrote:

[2019-07-28 13:26] maxpou commented on #7
For your information, MST is the French acronym for STD (sexually transmitted disease) 😉

[2019-07-28 14:49] mwarger commented on #7
Forest

[2019-07-28 20:35] gaui commented on #7
MST Graph or just MSG; MobX State Graph 🤪

[2019-07-29 00:14] flybayer commented on #7
Honestly I’m not sure there’s anything better than mst-gql unless you choose a normal noun that doesn’t try to mix Mobx, MST or GraphQL :)

[2019-07-29 02:07] chrisdrackett commented on #7
agree, if we want a descriptive name we are pretty good right now, IMO.

[2019-07-30 18:56] mweststrate commented on #7
Also see replies to this thread, some cool replies in there :)
https://twitter.com/elie2222/status/1155247614654328834

On Mon, Jul 29, 2019 at 4:07 AM Chris Drackett <notifications@github.com>
wrote:

[2019-07-31 04:16] chrisdrackett opened #65 "add documentation about using a config file"
looks like the work was done in #14, but might be nice to add documentation.

[2019-07-31 19:19] chrisdrackett opened #66 "types on `data` returned from useQuery not correct"
I think this is related to #47. it seems now that data is returned in the following format given something like `queryUser()` I now get:

[code]

however data is still typed as an instance of `User` so doing `data.user.email` gives me an error:

`Property 'user' does not exist on type 'ModelInstanceTypeProps…`

seems like we need to update the types for the `data` bit of the `useQuery` hook.

[2019-07-31 19:25] chrisdrackett commented on #66
@mattiasewers, fyi!

[2019-08-01 04:20] aleclarson commented on #7
You can have ["misty"](https://www.npmjs.com/package/misty) if you want. ;) Or maybe "mstical" would work.

[2019-08-01 11:14] mattiasewers commented on #66
We should really write the tests in ts as well, anyway I'll take a look at it

[2019-08-01 14:14] beepsoft opened #67 "yarn test and yarn start fails"
Hi,

I'm trying to play with the examples in the master branch. As a first step I just tried to run the top level tests for the project but it failed like this:

[code]

I also tried to run the 1-getting-started example:

[code]

I tried with node 10 and 12 as well.

Should these work or am I doing something wrong?

Also, I don't seem to get the nice code completions Michel demonstrated here:

htt

[2019-08-01 15:52] chrisdrackett commented on #67
looks to get the type-check to work correctly you need to run `yarn` within the `2-scaffolding` project first. I'll update the docs and/or the test script for that piece.

[2019-08-01 17:11] chrisdrackett commented on #66
looks like as part of this the examples need to be updated as well. I'm not currently able to get them to run, but adding as an FYI here.

[2019-08-01 17:11] #61 closed

[2019-08-02 16:52] beepsoft opened #72 ""RootStoreBase implicitly has type 'any' ..." when generating models for a Hasura schema"
Hi,

I'm trying to generate mst-gql models from a [Hasura](https://hasura.io/) (v1.0.0-beta.4) generated graphql shema.

This is the database schema (basic Todo) I use in postgresql:

[code]

Hasura generates this schema for it

[code]

When I run `mst-gql --format ts todo-schema.graphql` and try to use the generated models, useQuery, etc. I get no code completion because the type of RootStoreBase

[2019-08-02 17:01] chrisdrackett commented on #72
@beepsoft this is a known issue, see #45 for more info. The ideal plan is to generate the types automatically, it just hasn't been attempted yet!

[2019-08-02 17:05] #65 closed

[2019-08-02 17:05] #8 closed

[2019-08-02 18:39] #62 closed

[2019-08-02 20:54] mweststrate commented on #45
#69 should already make this much better

[2019-08-02 20:54] mweststrate commented on #72
This seems to be a regression, and might very well be fixed by #69

[2019-08-02 20:55] mweststrate commented on #67
This should be fixed for example 2 in #69. If you're interested feel free to check the branch out and see if it is indeed the case

[2019-08-03 06:37] beepsoft commented on #72
@mweststrate The commits in #69 seem to fix this issue. Thanks! 👍

[2019-08-03 08:11] beepsoft commented on #72
@mweststrate I also tried it with a bit more complex postgresql/Hasura schema (based on https://github.com/callicoder/spring-security-react-ant-design-polls-app). For this I still get "RootStoreBase implicitly has type 'any' ..." error:

[code]

[2019-08-03 22:50] #67 closed

[2019-08-03 23:02] chrisdrackett opened #73 "Fix Example 4"
Example 4 is currently not working 100%. I think this might have more to do with the setup instructions than the example itself. Ideally someone with knowledge of Apollo can get it up and running with good docs.

[2019-08-03 23:27] elie222 commented on #73
Will take a look tomorrow

[2019-08-03 23:32] chrisdrackett opened #74 "update changelog and release changes from #69"
- [ ] note that changes have been made to the non-base models, so when upgrading users will need to manually edit these files
- [ ] note that examples have been updated

[2019-08-05 20:33] mweststrate commented on #72
That is really too much info to work with :). Could trim down the model so
that it becomes the minimal model that is needed to reproduce the issue?
Note that there can be two causes, so best find to try out which one it it
is when reducing the model:

1. There is some schema construction in there, which might not be that
common, that generates code that results in the a circular dep and therefor
t

[2019-08-05 22:44] chrisdrackett opened #75 "move type to `<Name>Model.base.ts` from `<Name>Model.ts`?"
Will the user ever have to edit or add to this line?

https://github.com/mobxjs/mst-gql/blob/7d15bf933d0b5fa76195c3547b2d405ad9b8a79f/examples/1-getting-started/src/app/models/TodoModel.ts#L6

If not, maybe it makes sense to move it to the generated file?

[2019-08-07 07:11] beepsoft commented on #72
Yeah, I know this is big and complex, but that's what Hasura generates. (Btw. you mentioned Hasura in your mst-gql talk, that's why I gave it a try to see how/if it works :-) ).

Anyway, I will experiment with it some to see which definitions cause the problem.

[2019-08-09 18:08] chrisdrackett opened #78 "issues with `finally` on react-native"
I'm attempting to use `mst-gql` on react native and I've run into the following:

[code]

I think this might be related to: https://github.com/facebook/react-native/issues/17972

I'm going to spend a little time on it today, but figured it was worth opening the issue

[2019-08-09 18:25] chrisdrackett commented on #78
I can confirm that removing the `finally` fixes the issue on react-native. I'm pretty behind on promises in general, so I'll open a PR with a fix that might not be ideal :D

[2019-08-09 19:05] #78 closed

[2019-08-11 18:18] chrisdrackett opened #80 "using multi-model fragments within a model"
So I have started to define various fragments in my `RootStore` that work fine there. Recently I wanted to use one of these fragments on a mutation in another store:

`ItemModel`
[code]

The problem is that `ITEM_FRAGMENT` includes a `selectFromOtherModel` function from a model that are not available at this point.

I see here: https://github.com/mobxjs/mst-gql/blob/master/examples/3-twitter-clone

[2019-08-11 18:23] chrisdrackett commented on #80
I wonder if the `<XXX>ModelSelector` and `selectFrom<XXX>`bits from each model could be moved into a file that is loaded first so that these are usable in any model file?

[2019-08-13 07:27] #66 closed

[2019-08-14 23:09] mukulhase opened #82 "[Question] Correct way to update access token in createHTTPClient"
I'm using MST-GQL in my app and I have a "currentUser" store where I have a login function which receives and sets the access token. I want to be able to use this access token in the "Auth Bearer" header for all further requests. How do I set the header _after_ the RootStore has been initialised?

[2019-08-14 23:56] chrisdrackett commented on #82
the way I'm currently handling this is that I have a auth context outside of MST that I use to handle auth. I only start to render the `mst-gql` provider after I have the token.

This works for me because none of my graphQL is accessible without a user, but this might not be the case for you.

@mweststrate is there a way to update the `gqlHttpClient` after a store is setup? If not, maybe this is a

[2019-08-16 20:17] mweststrate commented on #82
If this is specifically about setting additional headers, I think we could extend the `QueryOptions` interface to support additional settings for that (e.g. a `headers` map). Most parts of the api already support passing an object with this config in, so I think that would also solve this case

[2019-08-16 20:21] mweststrate commented on #75
@chrisdrackett no, it never needs to change, although moving might theoretically complicate the resolve order and such (but I think it won't). Personally I think the biggest downside of moving is that then `TodoModelType` and `TodoModel` would be imported from different files.

[2019-08-19 06:57] williamtran29 opened #83 "[Bug] when generate with --format js"
when I ran the command:
$ yarn mst-gql --format js --force http://localhost:4000/graphql

it still generates like this in RootStore.base.js file, seem to be still typescript code with js format

[code]

[2019-08-22 15:47] antondomratchev commented on #83
Do we want to define these types as MST models? I just encountered this issue on the new version

[2019-08-22 16:06] mweststrate commented on #83
Please make sure to also include the original graphql definition from which this was generated. It might be that these were just generated for input types, for which we don't need a MST model, as they serve just to make the arguments to queries strongly typed.

[2019-08-22 16:20] antondomratchev commented on #83
@mweststrate Thats the case for me, those types were generated from input types. I was wanting to try using these as MST models so I can generate forms directly from the models.

[2019-08-22 16:23] mweststrate commented on #83
I see, sounds like something that could be done. Not fully sure that would
be in scope of this package though. (In the sense that the input object
really only reflect plain objects, without any capabilities, gql
integration, queries, methods etc etc. So the goal here seems to be just
reflection.

On Thu, Aug 22, 2019 at 6:20 PM Anton Domratchev <notifications@github.com>
wrote:

[2019-08-28 17:51] beepsoft commented on #72
I couldn't really find I way to work around this. @mweststrate is there any chance for you to try mst-gql with an actual Hasura generated schema? Using the two together would be really great!

[2019-08-28 19:07] mweststrate commented on #72
Sorry, I'm not really personally involved in maintaining this package, just
wanted to provide the head start after many requests. But I have no
projects currently in which I'm using it, nor do I have the time &
motivation left to maintain this package. So if this package will benefit
you significantly, I'll recommend to dive a bit deeper in it. This package
is really going to be a community effort

[2019-08-29 13:17] gstuczynski opened #85 "using useQuery with TypeScript"
How to use useQuery with typescript.
Folowing code gives me error

[code]

and VSCODE
[code]

[code]

[2019-08-29 13:34] gstuczynski commented on #85
Ok i found the issue, i had to set variables as not required in this function in RootStore.base.ts

[2019-08-29 13:34] #85 closed

[2019-08-30 20:06] beepsoft commented on #46
I run into the same issue. It seems that `resolveFieldsAndImports()` in generate.js explicitly filters out fields with arguments.

https://github.com/mobxjs/mst-gql/blob/0839161adfe478e6389ec184fd7985d148cc1c83/generator/generate.js#L297

Is this necessary, is there any reason for this behaviour? If so, then can this be made optional?

[2019-08-30 20:34] chrisdrackett commented on #46
@beepsoft this is a duplicate of https://github.com/mobxjs/mst-gql/issues/46 I believe. I'm not sure if there is a reason behind this (@mweststrate?) and haven't had a chance to dig in myself yet.

[2019-08-30 20:40] beepsoft commented on #46
Until someone can clarify this I added a --allowFieldArgs option to the generator and created a pull request in case this turns out to be useful.

[2019-08-30 20:52] chrisdrackett commented on #46
@beepsoft does it seem to work without issue with args?

[2019-08-30 21:01] beepsoft commented on #46
Yes, in my app it seems to generate the approriate definitions and when querying via the store it fills these properties correctly. In my cases these are arrays of objects. If the type is specified as root with `--root Foo`

then I get
[code]
otherwise
[code]
I think that's how it is supposed to work.

[2019-08-30 21:13] chrisdrackett commented on #46
If this is the case I see no reason not to make it the default :)

[2019-08-30 21:15] beepsoft commented on #46
Yep. :-)

[2019-09-02 14:03] mukulhase opened #87 "[Question] How to refetch a query after a mutation."
A component which uses "useQuery" doesn't get updated even if another component calls the same query after a mutation.

[2019-09-03 17:00] chrisdrackett commented on #87
are you using `data` from the `useQuery` hook? If so, this is actually (in my understanding) currently looking at the cache of that query and not the store.

We get around this in our project by never using data and instead making sure we're always rendering from the store itself.

Notice here: https://github.com/mobxjs/mst-gql/blob/master/examples/3-twitter-clone/src/app/components/MessageWall.ts

[2019-09-04 13:25] beepsoft commented on #45
Wouldn't it be possible to use https://graphql-code-generator.com for this? It can generate TS interfaces  for the same graphql schema we use in mst-gql-scaffold.js.

[2019-09-04 13:59] elie222 commented on #45
The MST types are different to what graphql codegen will produce.

But there are places this project could have used graphql codegen. It was
lightly discussed in some another issue.

On Wed, 4 Sep 2019 at 16:25 beep <notifications@github.com> wrote:

[2019-09-04 14:07] beepsoft commented on #45
@elie222 I see. And how should this MST compatible TS interface look like? Do you have any idea of this?

[2019-09-04 14:22] elie222 commented on #45
Take a look here:
https://github.com/mobxjs/mobx-state-tree#typescript-and-mst

If you're running MST in your project you should be able to hover over
items and see their types.

You can do something like this to get TS types from an MST model in a
regular MST project:

type ISearchStoreType = typeof SearchStore.Type
export interface ISearchStore extends ISearchStoreType {}

On Wed, 4 Sep 2019 at

[2019-09-04 15:07] beepsoft commented on #45
Thanks for these details!

Another idea/question: implementing this in the generator as a general mechanism for any late() type:

https://github.com/mobxjs/mobx-state-tree/issues/943#issuecomment-442603532

We would then always have the actual prop as of type any (because of IAnyModelType) and a matching view, which returns the prop casted using Instance<...> and would use this view function in co

[2019-09-04 20:55] mukulhase commented on #87
Yes I was using data. Thanks.

[2019-09-04 20:55] #87 closed

[2019-09-05 07:39] beepsoft commented on #45
I implemented this solution above. It works nicely with TS 3.4, but doesn't work with newer versions.

[2019-09-05 15:29] chrisdrackett commented on #45
there seems to be something going on with TS versions past 3.4 that make things like this project and others I use (https://github.com/prisma/nexus-prisma/issues/291) have issues. I haven't taken the time to dig into it (for now I'm just locked to 3.4.5).

[2019-09-07 05:29] beepsoft commented on #46
@chrisdrackett Can you please fix this by deleting that filter line?

[2019-09-07 17:31] chrisdrackett commented on #46
I’m currently out of town. The earliest I could get to it is Tuesday.

[2019-09-09 16:08] veeral-patel opened #88 "Should this project be used in production?"
Hi! Thanks for this project! I know this is experimental software, but is that because there's no maintainers or because it's not ready to be used in production?

I haven't had any issues with it, so I feel comfortable integrating it into my app; let me know if this is a mistake.

[2019-09-09 16:12] chrisdrackett commented on #88
I think mostly because its still a bit early and things like test coverage and typescript support are still a work in progress. That being said I'm also using this library in production (or close enough) without any worries or issue!

[2019-09-09 17:45] RXminuS commented on #7
Why not just mstQL?
![mstql](https://user-images.githubusercontent.com/3949285/64553808-62c2ac80-d33a-11e9-9583-836ee6fd66ba.png)

[2019-09-09 20:46] veeral-patel commented on #88
Thank you! @chrisdrackett

[2019-09-09 20:46] #88 closed

[2019-09-11 02:23] odjhey commented on #82
@mweststrate  but the current [httpclient](https://github.com/prisma/graphql-request) does not support adding headers in every request. from the issues list of graphql-request, they suggested to re-instantiate the client every time headers change. Looking at our src, the httpClient is passed as a store's environment through some dependency injection.

This may be a MST specific question, but can w

[2019-09-11 09:40] mweststrate commented on #82
I think you could create your own graphql-request wrapper (the api is
pretty small anyway), which would allow you to set headers for the next
request, and does the new client creation under the hood? When setting up
mst-gql you can than configure it to use your graphql-request-wrapper
instead of the built in implementation

On Wed, Sep 11, 2019 at 4:23 AM Odee <notifications@github.com> wrote:

[2019-09-11 16:17] #74 closed

[2019-09-11 16:52] #46 closed

[2019-09-11 16:55] chrisdrackett commented on #72
@beepsoft I'm going to close this as we have #45, but feel free to open other issues related to Hasura if needed!

[2019-09-11 16:55] #72 closed

[2019-09-11 16:56] chrisdrackett commented on #25
I'm going to close this for now, feel free to reopen if this is still an issue!

[2019-09-11 16:56] #25 closed

[2019-09-11 21:31] zenflow opened #91 "[Bug] Fresh data gets overwritten with stale data from __queryCache"
## (almost) minimal reproduction repo

https://github.com/zenflow/mst-gql-next/tree/demo-bug-stale-data-reused

I removed *almost* all of the code unrelated to demonstrating this bug. Pardon the next.js integration bit; it has zero impact here.

The relevant parts are in [server/schema.js](https://github.com/zenflow/mst-gql-next/blob/master/server/schema.js) and [pages/index.js](https://github.com

[2019-09-13 22:18] beepsoft opened #92 "Alternative way to generate types.identifier/types.identifierNumber for non ID typed identifier fields"
The problem
----
Currently - and very logically - the generator generates `types.identifier` MST type for graphql fields of type `ID`. For example:

[code]

becomes:

[code]

Hasura (https://github.com/hasura/graphql-engine), however, generates schemas for PostgreSQL tables matching the type of the columns in the database. So, in case my id in the table is of type `bigint`, which is quite typical

[2019-09-14 01:51] zenflow commented on #92
weird.. why doesn't Hasura use the `ID` type for IDs? That seems like the real problem that should be solved. Do you need to somehow indicate to Hasura that that field is the ID?

[2019-09-14 05:59] beepsoft commented on #92
As far as I know Hasura doesn't have a way to force generation of `ID` for primary keys, but I also posted an issue there whether that's possible. Of course, this would be the ideal way.

For now I can hand edit regexp-replace `id: bigint`s in the schema with `id: ID` but this isn't convenient to do every time the schema changes and need to regenerate the MST definitions.

[2019-09-15 22:08] elie222 commented on #7
Pronounced Mystical? Cool logo :)

On Mon, 9 Sep 2019 at 20:45, Rik <notifications@github.com> wrote:

[2019-09-16 04:41] zenflow commented on #91
I was thinking about taking a try at fixing this sometime in the next few days, although I have no typescript experience (yet).. Somebody may need to help with or correct that aspect of my changes to get it merged, but it would at least get the ball rolling.

### The changes I would like to make:
- Don't ever copy data from the __queryCache onto root type model instances. Only copy data from query

[2019-09-16 19:42] chrisdrackett commented on #91
@zenflow I haven't had a chance to look at this issue yet. I might have some time later this week to download the code and dig through.

[2019-09-17 23:55] zenflow opened #94 "[SSR] getDataFromTree ignores (doesn't wait for) queries triggered after loading first queries"
Sometimes we have a component that makes a query then renders some component(s) that makes more queries.

Currently `getDataFromTree` does not fulfill those queries that are made after the first query(s) are done. The page is server-rendered while all queries beyond the first "layer" are still not loaded. The second layer of queries is actually triggered [server-side] by the second and final rende

[2019-09-18 00:31] zenflow opened #95 "[SSR] Queries made on server are repeated on client when page loads"
This issue assumes queries use the fetchPolicy of "cache-and-network" (default) or "network-only" . It's not an issue if using "cache-first" or "cache-only". And SSR won't work at all if using "no-cache".

You can see this issue in action in `examples/5-nextjs` (if you work around some minor issues starting it), or in my branch that works on it (#93):

1. server-rendered page loads, showing full s

[2019-09-18 09:09] mattiasewers commented on #94
@zenflow sounds resonable, I don't think I have time this week but PRs are always welcome!

[2019-09-19 15:33] #75 closed

[2019-09-19 15:40] chrisdrackett commented on #82
@odjhey can you post your solution for this?

[2019-09-19 16:06] chrisdrackett commented on #91
@zenflow I think this issue is worth looking at for sure. This is one of the first things I ran into when using `mst-gql` as well. In our projects we "get around" it by never using `data` from `useQuery` in any of our components and instead only ever referencing the store directly.

First off IMO the following suggestions:

are solid and I think we should do them.

It seems to me that if you are u

[2019-09-19 17:16] zenflow commented on #91
Looks like my second suggested change ("Filter/remove [now-] unused data from __queryCache...") did not take into account the `raw: true` option for queries. These queries currently depend on having fully populated objects in __queryCache . I bring up this problem and a proposed solution in PR #97.

[2019-09-19 19:04] #83 closed

[2019-09-23 21:09] zenflow opened #99 "[optimization] Keep __queryCache normalized"
First brought this up in issue #91. I'm separating it out since it's a related, but essentially different, issue.

See PR #97 for some discussion about how this should work with "raw" queries.

Based on my branch for #97 I started implementing this went the approach of keeping __queryCache normalized by default (no option), and to not worry about "raw" queries too much as long as they return the r

[2019-09-23 21:15] #94 closed

[2019-09-23 21:15] #95 closed

[2019-09-23 21:15] #91 closed

[2019-09-23 23:28] zenflow commented on #99
In a similar vein, we should just drop the `fetchPolicy: 'no-cache'` option since it doesn't really work right now (when you use 'no-cache', object data is still cached in the root type collections of the root store) and rather than fixing it we should focus on more useful things.

[2019-09-24 01:49] jamonholmgren commented on #55
I handled this by deleting the record in question manually. It worked fine for me.

[code]

[2019-09-24 13:09] elie222 commented on #45
I haven't touched it all unfortunately.

On Tue, 24 Sep 2019 at 15:24, beep <notifications@github.com> wrote:

[2019-09-24 13:35] beepsoft commented on #45
I may try to implement it, but I don't know what actually needs to be done here.

Can you give me some hints how it would work? How these generated TS types would be associated with the MSTGQLObject based MST models the generator generates? If that's how it is planned to work at all - I'm a little bit lost here.

[2019-09-24 16:12] chrisdrackett commented on #45
I think after the types are generated we would just associate them with the return of `RootStore.create`, for example here: https://github.com/mobxjs/mst-gql/blob/master/examples/1-getting-started/src/app/index.tsx#L11

I think also ideally the user should be able to easily extend these types in case they are adding props, views, actions, etc. to a store themselves.

[2019-09-24 17:22] chrisdrackett commented on #45
@beepsoft would it be helpful for me to attempt to put together example output for some of the examples in this repo? That might give us a target to discuss before we worry about how to get from the input to output.

[2019-09-25 00:09] zenflow opened #101 "[bug] `model.hasLoaded(fieldName)` returns false for fields loaded via store snapshot"
`model.hasLoaded(fieldName)` [incorrectly] returns false for fields loaded via store snapshot.
So the method is broken if you use SSR or `localStorageMixin`, or otherwise load data via snapshot.

Looking at [the source](https://github.com/mobxjs/mst-gql/blob/4f37e7444775aeafb9b883bb2e17933937109607/src/MSTGQLObject.ts#L39-L65) it's not hard to spot the problem: the `loadedFields` variable to track

[2019-09-25 00:22] zenflow commented on #51
@brobertsUPS @elie222 It seems to make sense to use **both** `maybe` & `maybeNull`:
- `maybe`, so value can be `undefined` when value hasn't been loaded from graphql server yet
- `maybeNull` **only for fields that are nullable (i.e. not explicitly non-null) according to the graphql schema**, so value can be `null` when the value loaded from graphql server is `null`.

Right now the field nullabilit

[2019-09-25 00:23] zenflow commented on #101
Related discussion about whether to use `types.maybeNull` vs `types.maybe`: https://github.com/mobxjs/mst-gql/issues/51#issuecomment-534798130

[2019-09-25 04:53] beepsoft commented on #45
@chrisdrackett Yes, an actual example would be a great starting point, thank you!

[2019-09-25 07:24] zenflow commented on #73
Got it working in #105

[2019-09-25 10:51] kimgronqvist commented on #51
@zenflow I was just going to create an issue about this.

My thinking is that we wouldn't use maybeNull at all. All fields gets wrapped in types.maybe, and nullable fields are a union of the type and null.

[code]

So omitting a property means it defaults to `undefined`, while null is something that you have to pass in yourself.

[2019-09-25 13:25] RXminuS commented on #45
I'm a bit swamped to have time to help out so instead I left a $50 bounty on bountysource :-)

[2019-09-25 13:35] RXminuS opened #108 "Add error when trying to use reserved names for models"
Hey,

We had a GraphQL model called Subscription (based on Stripe) that mst-gql (I still maintain mstQL (Mysitical) #7 is better :-P ) didn't generate any models for. I think it's because of a possible naming conflict with GraphQL subscriptions but it would at least be good to show an error.

This is probably something I can fix myself, just not sure if I'll have the time this week so thought I'd

[2019-09-25 14:21] RXminuS commented on #82
It seems you can actually just call `getEnv(self).gqlHttpClient.setHeaders({authorization: "bearer token"})` in for instance a handler that listens for token/user changes or after loading in localStorage data in an `afterCreate`.

[2019-09-25 16:31] #99 closed

[2019-09-25 16:33] chrisdrackett commented on #1
@mweststrate can we add @zenflow to the project?

[2019-09-25 16:37] zenflow commented on #1
Thanks @chrisdrackett! I am definitely interested in helping to maintain this project and develop it to it's full potential!

[2019-09-25 17:09] chrisdrackett commented on #45
@beepsoft ok, I'll work on it some today. Not sure if I'll get anything to share as I probably need to learn a lot more about how MST types work in general :D

[2019-09-25 18:09] chrisdrackett commented on #45
I went ahead and put together a draft branch for this work here: https://github.com/mobxjs/mst-gql/pull/110

This was a quick first pass and certainly missing a lot. It also currently does not do any generation.

Hopefully this can act as a discussion starter!

[2019-09-25 18:10] mweststrate commented on #1
added @chrisdrackett @zenflow !

[2019-09-25 18:26] #73 closed

[2019-09-26 15:16] RXminuS commented on #82
We can write a little example that showcases how to do it with a simple API (sign-in/out) flow?

[2019-09-28 09:00] odjhey commented on #82
hellow, sorry I was out for a while. I believe @RXminuS 's solution works way better and a lot simpler. But here goes nothing.

[code]

I have a modified copy of example-1
https://github.com/odjhey/mst-gql/tree/example-6/examples/6-custom-http-handler

[2019-09-30 05:15] zenflow opened #111 "[Bug] Error querying root type field of non-root type object"
[code]

An error like above is thrown whenever trying to load query results that have a non-root type object that (in turn) has a field that is a root type.

For example, you'll get that error trying to query the following schema (where Search is a non-root type and Item is a root type):

[code]

Problem is that when `merge`ing query results, we have an island (not part of root `store`) mst node f

[2019-09-30 05:54] #111 closed

[2019-09-30 11:15] zenflow commented on #111
Please disregard this issue. This is totally inaccurate & out of confusion.

We can query root type fields of non-root type objects just fine, as long as the field uses `MSTGQLRef` as it should (and does for simple object types, but does not for unions & interfaces).

[2019-09-30 11:17] RXminuS commented on #13
Would love to help out with this.

Gluegun definitely looks promising (especially the patching could be great). I've also used [Plop](https://github.com/amwmedia/plop) which was quite simple to understand and [Hygen](https://github.com/jondot/hygen) looks promising.

@dpnolte ts-morph looks like "the proper way" that you would want to do code generation by using the AST. However, reasoning about A

[2019-09-30 11:18] RXminuS commented on #1
We are using this in production now so happy to invest more team resources in it :-)

[2019-09-30 11:25] zenflow commented on #111
Please totally disregard this issue. It is totally inaccurate and confusing.

[2019-09-30 11:52] RXminuS commented on #45
#112 is probably somewhat related

[2019-09-30 11:56] RXminuS commented on #10
Just my 2cts...I don't think it might be worth (at least for now) putting in a lot of gradual adoption code from Apollo. I think if we instead focus on making MST & mstQL work really great on their own there will be enough of an audience that simply switch over in a larger refactor (like us). Especially since the MST way of structuring your application is VERY different from Apollo's component fir

[2019-09-30 12:21] mweststrate commented on #1
@RXminuS awesome! I'll send an invite. @chrisdrackett is probably the best person to coordinate with :)

[2019-09-30 12:37] mweststrate commented on #13
Nope! I think the person giving this a shot is in the best position to
judge :). But yeah, I agree that the AST direction is most probably adding
unnecessary burden

On Mon, Sep 30, 2019 at 12:17 PM Rik <notifications@github.com> wrote:

[2019-09-30 13:44] beepsoft commented on #45
@RXminuS does #112 solve the circular dependencies problem? Or which part of it?

[2019-09-30 22:24] RXminuS commented on #13
Ok, but then I'll give it a shot with Gluegun next week. I'll probably first just spit out a few ejs templates not worrying too much about the actual data. And then put up a bit cleaner framework for the CLI & logging. Hopefully, then others can join in to help fill in the actual template data as I expect that requires a bit of knowledge of how it is currently generated.

I would prefer writing ev

[2019-09-30 22:43] chrisdrackett commented on #13
yes please on typescript :)

[2019-09-30 23:22] jamonholmgren commented on #13
@RXminuS `npx gluegun new mst-gql --typescript` will get you set up with an initial TypeScript boilerplate. Hit me up if you run into problems. I'm happy to knock out bugs fast on Gluegun. I just released 4.0.0 which needs more testing, so let me know. Also any documentation gaps.

[2019-10-01 09:52] gadzillllla commented on #45
+1 i have circular deps in gql

base file generate at base model field

`import { UserGroupModel } from "./UserGroupModel"

export const UserGroupModelBase = MSTGQLObject
  .named('UserGroup')
  .props({
 //
    manageableUserGroups: types.optional(types.array(MSTGQLRef(types.late(() => UserGroupModel))), []),
//
  })`

at the same time custom model required import UserGroupModelBase
`
import { Us

[2019-10-01 10:55] pvpshoot commented on #45
and this is QL schema
![image](https://user-images.githubusercontent.com/6636655/65956478-84a3e080-e45b-11e9-8b2e-d0f9fbc3f9b3.png)

[2019-10-01 21:42] RXminuS commented on #45
@beepsoft I've started a new PR that's a bit better #117 . The issue that it solves is that in certain cases the actual import is not yet defined depending on the loading order. By using the internal.js module you get more control over the exact loading order. However, it doesn't solve anything about the circular type declarations preventing proper type inference on models that reference themselve

[2019-10-01 21:43] RXminuS commented on #45
@gadzillllla Can you try with #117 and reorder the `internal` file to see if you can make the module load sooner?

[2019-10-01 21:46] RXminuS commented on #80
@chrisdrackett this could be fixed with #117

[2019-10-01 22:01] RXminuS commented on #55
I can potentially see a problem if there are other models that rely on the post to still exist or somehow hold a reference to it since `MSTGQLRef` isn't a SafeReferenc and would throw an exception. What was the reason for using a normal reference @mweststrate? Is this something we should refactor?

[2019-10-02 04:01] chrisdrackett opened #118 "remove promise.finally to fix react-native"
promise.finally can cause issues in some versions of react-native. I see we recently added a new instance of it here:

https://github.com/mobxjs/mst-gql/blob/5479a544b7c2e9dc2e0e83b2ebad393839318947/src/MSTGQLStore.ts#L144

I'm not super strong in how promises work atm, so I'm wondering if someone else could take a look.

/cc @zenflow

[2019-10-02 07:28] RXminuS commented on #118
Maybe we could rewrite to async/await instead? Make the code a lot clearer and since we compile it down anyways it shouldn't be a problem right?

[2019-10-02 07:33] RXminuS commented on #118
What is the specific issue in React Native? Last I used Promise.finally it didn't exist in ES6 yet so thought we were using something like Bluebird, but seems that it's part of the standard Promise now.

Only issues I could find seem to indicate it is fixed now:
https://github.com/facebook/react-native/issues/19490

[2019-10-02 07:50] pvpshoot commented on #45
@RXminuS we tried it, and it works fine for now

[2019-10-02 11:04] mweststrate commented on #55
I don't think I've put much thought in it. The biggest constraint I had is
that it at least should be able to handle partially loaded data (2 cases:
1) the references value is not included in the schema, 2) the reference is
included but the referred object is not available at the client)

On Tue, Oct 1, 2019 at 11:01 PM Rik <notifications@github.com> wrote:

[2019-10-02 16:28] chrisdrackett commented on #118
it is fixed now, but a lot of people (including everyone using expo—me—for example) are not yet on that version of RN :)

[2019-10-02 16:29] chrisdrackett commented on #118
for now I can use `0.4.1` without much issue, so maybe this is a non-issue on some level. That being said, I'd love to reduce incompatibility wherever possible.

[2019-10-02 16:56] RXminuS commented on #118
Ok, I understand. On the flip side it feels a bit weird to write fixes for correct code just to accommodate issues in other libraries. You'd end up with something like below if you still want to make a PR But imho I don't think it's something that should be fixed here.

[code]

[2019-10-02 17:08] chrisdrackett commented on #118
no, I agree, it just means that I'm going to be stuck in the past on `mst-gql` for a while while waiting for expo to upgrade react native :)

[2019-10-02 17:22] RXminuS opened #119 "Real-World Problems & Thoughts"
There are a few things we've noticed working with mstQL that I think we might need to address. Please share your own experiences if you're using this in "production" as well.

## 1. Unwieldy Codebase
The number of models can quickly grow to unmanageable size for a simple API. Ideally, we'd be able to leave most models alone and only implement one if we actually have something to add to it. One sol

[2019-10-02 17:24] RXminuS commented on #118
In that case, I would just fork it for yourself, make the change above and setup [dependabot](https://dependabot.com/) to automatically merge in changes upstream.

[2019-10-03 07:49] zenflow commented on #118
Actually the code to avoid using `finally` is not that complicated:

Replace this

https://github.com/mobxjs/mst-gql/blob/5479a544b7c2e9dc2e0e83b2ebad393839318947/src/MSTGQLStore.ts#L144-L146

with this:

[code]

Though I agree that we generally shouldn't use workarounds here to accommodate issues in other libraries, I don't see any problem with it in this case as a courtesy to @chrisdrackett sinc

[2019-10-03 09:01] RXminuS commented on #118
I'm not really anyone to set a direction here but what we've seen when making fixes like this is that they suddenly at some point get undone in a PR by someone who cleans up the code for an idiomatic pattern. And then suddenly the code breaks again for people that relied on it. And also that this fix won't propagate to other / future uses of `finally` either.

I know it's maybe a bit Googley "we f

[2019-10-03 09:02] RXminuS commented on #118
Again, I'm not the one to make a decision on that but that's been our experience in the past.

[2019-10-03 11:46] RXminuS commented on #119
One idea that I had is to draw some inspiration from how [GraphQL Code Generator](https://graphql-code-generator.com/docs/getting-started/) creates resolvers.

You would start to specify in the configuration which models to import for composition:

[code]

Where the extension would look like

#### **some-module/index.ts**
[code]

Then we would simply generate a single `mstgql.ts` file that imports

[2019-10-03 11:52] RXminuS commented on #119
Also another thought.

I think we should potentially only generate Typescript code, because we can always pass it through a type omission process, much easier than we can add types after the fact.

And having to decide in the generators whether or not to generate something quickly becomes messy.

[2019-10-03 15:26] chrisdrackett commented on #119
I'm a little confused what problem is trying to be solved by the above. Is the concern there are too many files in the `models` folder? Or is it something about how the files are currently generated?

I like the idea of generating typescript and they (if the user wants js) just stripping the types out. This sounds like something that could be its own ticket.

[2019-10-03 15:34] chrisdrackett commented on #118
This is a hard one as `Promise.prototype.finally` has fairly wide browser support (~88%). As noted the react-native bug has been fixed and in a couple months when expo upgrades it won't be a problem there either. My gut is to just use the simple fix for now as at the end up the day it results in more compatibility without any real downsides. If another `finally` slips in by accident in a couple mo

[2019-10-03 15:42] #11 closed

[2019-10-03 15:54] chrisdrackett commented on #1
fyi we now have an early spectrum chat at https://spectrum.chat/mst-gql/ I'm not sure the best way to get a list of the current collaborators, but if you are one (@elie222, @mweststrate, @dpnolte) and want I can add you to the private `#Collaborators` channel so we can discuss releases timing, process, etc.

[2019-10-03 18:15] RXminuS commented on #119
Yeah so partially the problem is that there are a lot of models generated, and only a very small subset actually end up having our own code. I'd much rather have a single `mstql.ts` file that holds all the boilerplate and then imports the relevant extensions to those models compared to about 80+ `boilerplate.ts` files that are mostly untouched.

But it would also make it a lot easier to generate n

[2019-10-03 18:30] mweststrate commented on #119
N.B. note that it is configurable for which types models get generated

The single file idea sounds very interesting though, something worth
exploring.

On Thu, Oct 3, 2019 at 7:15 PM Rik <notifications@github.com> wrote:

[2019-10-03 18:49] RXminuS commented on #119
Yeah, the problem is that we actually want models generated for all the API models, but that all of it is basically boilerplate. We only add our own functionality to 5-10 of those models but I still have to dig through about 80 files to find them.

I'll mock it out the single-file idea in the Gluegun version I'm working on then we can have a more productive discussion :-)

[2019-10-03 19:08] mweststrate commented on #119
Perfect, looking forward!

On Thu, Oct 3, 2019 at 7:49 PM Rik <notifications@github.com> wrote:

[2019-10-03 19:39] mattiasewers commented on #1
@chrisdrackett I'd like to be added!

[2019-10-03 20:36] RXminuS opened #121 "add pre-update and post-update ability to optimistic updates"
Currently, Optimistic Updates are only rolled back in the case of an error. However, sometimes we want to insert a model optimistically with a temporary id and then once the resolver returns replace it with the actual object.

Projects like Meteor allowed for a much broader set of Optimistic Updates because it would essentially be like eventual consistency between the server and client. But maybe

[2019-10-03 21:25] chrisdrackett commented on #121
there is discussion on this here: https://github.com/mobxjs/mst-gql/issues/61

[2019-10-03 22:18] RXminuS commented on #121
Ah sorry missed that. Why was the issue closed? Our inserting of a temporary object wasn't actually that involved so hadn't thought about the edge case yet of actually having to update the optimistic item you inserted.

Would it maybe make sense to make the optimistic function call two-fold? One that's called before a resolve, one that is called after the resolve but before the merge? Like a `befo

[2019-10-04 00:00] chrisdrackett commented on #121
I like the idea of having a pre and post update hooks, that would be a really nice feature IMO.

[2019-10-04 00:56] zenflow commented on #118
Yeah, I feel like by the time another `Promise.prototype.finally` slips into the code base, expo will probably be upgraded and that bug won't be an issue anymore. And if not, there's no harm done; we just temporarily lose RN support again and are back to where we are now. I think that still helps things quite a bit. There's no need for a long-term solution for a short-term problem.

[2019-10-04 02:28] #118 closed

[2019-10-04 20:53] #101 closed

[2019-10-08 18:38] chrisdrackett commented on #119
I'm going to close this issue for now mostly because I don't feel like its actionable. Please feel free to continue this discussion on spectrum and/or open issues mentioned above that are actionable!

[2019-10-08 18:38] #119 closed

[2019-10-10 19:39] beepsoft commented on #45
I just tried if it is any better with TS 3.7.0-beta, but unfortunately it is not.

[2019-10-17 16:58] RXminuS opened #123 "Unhandled promise rejection"
We're getting an unhandled promise rejection whenever our graphql server returns an error (so 200 response code but with an error object inside).

The problem seems to come somewhere from around how the graphQLClient.request is async and can call

` throw new ClientError({ ...errorResult, status: response.status }, { query });`

and that this is called in the `MSTGQLStore.query` method and saved i

[2019-10-17 20:13] chrisdrackett commented on #123
if there is an error on the server shouldn't it be returning a 500?

[2019-10-17 20:29] chrisdrackett commented on #121
Thinking about this more I think this is actually already covered because you can take the `pre` action as part of the optimistic update and any post action when the query comes back (loading becomes `false` for example)

[2019-10-17 20:29] #121 closed

[2019-10-17 20:54] chrisdrackett opened #124 "add ability to skip merge on query/mutation"
I'm thinking more about the optimistic update of new items case and how I might handle that when using `most-gql`.

Building off @elie222's suggestion here: https://github.com/mobxjs/mst-gql/issues/61#issuecomment-515704098

I'm wondering if it's useful to add the ability to turn off the merge step for a mutation. Then you could do something like:

[code]

so in the above pseudocode you could run

[2019-10-18 17:34] chrisdrackett commented on #124
https://github.com/mobxjs/mobx-state-tree/issues/887 would be nice :)

[2019-10-18 17:38] chrisdrackett commented on #124
my gut is that without https://github.com/mobxjs/mobx-state-tree/issues/887 or similar it won't be possible to handle something like this without the following flow:

- add temp item
- await server response
- delete temp item as item from server is added.

This does create a lot of complications for an application (like ours) that is trying to support offline operation. If the user has mutated the

[2019-10-19 06:43] fullofcaffeine opened #129 "SSR with custom app, how to hydrate with the pre-fetched data and avoid a refetch?"
Hi!

I'm trying to setup `mst-gql` for SSR in a custom React app of mine. It's based off https://github.com/manuelbieh/react-ssr-setup, but with the Redux stuff removed. I've seen the examples in the README and in the nextjs app, and I **did manage** to fetch and render from the server.

The problem though, is that it's not clear how to send the snapshot data to the client so that it can hydrate t

[2019-10-19 13:30] zenflow commented on #129
Seems to be a duplicate of #95 which should be fixed already..

- make sure you're using the latest version of `mst-gql`
- make sure you're using the `ssr: true` option when initializing the root store (necessary on both server and client)
- let us know what the issue was (or if it's still an issue).. we might need to improve documentation here

[2019-10-19 23:52] fullofcaffeine commented on #129
Hi @zenflow, thanks for the prompt reply!

There was indeed a mistake in my setup -- I was not setting the `ssr` flag to true on both ends. But that wasn't the main problem. There was a key piece missing from my SSR setup: passing data to the client from the server.

What I ended up doing was to get the snapshot data in the server, convert it to JSON (using `JSON.stringify` and rendering it in the

[2019-10-20 08:52] vkasraj opened #130 "apollo binary not found while generating the scaffold"
### Package.json
[code]

### mst-gql.config.js
[code]

### Error
[code]

[2019-10-21 18:27] #129 closed

[2019-10-21 18:28] fullofcaffeine commented on #129
Closing this as the original issue has been solved. There are a few observations above and a question that'd like to discuss, but there's no rush. Thanks!

[2019-10-21 18:33] fullofcaffeine opened #131 "GraphQL over websocket?"
_Apologies if this seems a bit OT, it might be, but I think it's still relevant since it's related to the underlying GraphQL implementation of `mst-gql`._

I know subscriptions are run through websockets already, and `mst-gql` already supports them transparently, but I was wondering if it currently somehow supports (through the graphql client library it uses) running graphql completely (which woul

[2019-10-22 22:02] fullofcaffeine commented on #26
Most of my components are class based, so I'm trying to use the context approach. The example shown here is not working well for me, `this.context`  returns undefined if called from the constructor.

If called from the ` render`  function, the it seems to work, but TypeScript doesn't seem to be aware its type, it's currently typed as `any`. Do you know why?

Any insights appreciated.

[2019-10-22 22:05] RXminuS commented on #123
No that's the weird thing. I handle the error in a try-catch block but you still get this message.

[2019-10-22 23:48] fullofcaffeine opened #132 "Proper TS typing when using from React class component (and using mst-gql with class-based React comps)"
Hi!

I'm trying to figure out the usage patterns for class-based React components (most, if not all, the examples are based of React hooks) and I did manage to make it work (I could call a mutation), but I can't get TS to get the proper typed context.

I have this entrypoint:

[code]

And the `App.tsx`  component:

[code]
Then in the `SignUp`  component, I have this:

[code]

**For some reason, th

[2019-10-23 01:20] fullofcaffeine opened #133 "How to properly extend a model?"
I'm working on implementing user auth in my app and I'd like to use `mst` to trigger the signup mutation + keep the and control the whole signin flow in the user model. I've found the following example that I'm basing my solution off:

https://spectrum.chat/mobx-state-tree/general/example-user-store-model~b0acbfee-2113-4951-82a2-0cc0721c8893

I have a User model that was generated by `mst-gql` and

[2019-10-23 03:06] odjhey commented on #131
Hello, not really sure i understand what you mean, but looking at source, you can achieve this by providing only wsClient (no httpClient).

https://github.com/mobxjs/mst-gql/blob/6337b0d5513804d7868f9552bdb296e8ea121c50/src/MSTGQLStore.ts#L60

[2019-10-23 03:22] odjhey commented on #133
Hello, props can work.

And fix the typing to `types.boolean`

[2019-10-23 03:42] odjhey commented on #132
We might not be able to leverage `useQuery` on class components due to it being built on react hooks. https://reactjs.org/docs/hooks-faq.html#should-i-use-hooks-classes-or-a-mix-of-both
You can prolly solve this by create a 'wrapper' (HOC), written using the functional approach, then wrap your class based component before using it.

For the typing part, you might get the types by using a consumer

[2019-10-23 03:42] fullofcaffeine commented on #131
Hi @odjhey,

I was just curious, it's not meant to be an issue report.

Thanks for pointing me out to the right direction. Nice to know `mst-gql` supports switching fully to the websockets transports transparently!

Closing this.

[2019-10-23 03:42] #131 closed

[2019-10-23 03:43] fullofcaffeine commented on #133
@odjhey Hi! Thanks for taking the time to look into it and reply! I'll try with props again. Not sure why I got the "read-only" error from TS, but probably did something wrong. Will come back to this issue tomorrow after I try it out.

[2019-10-23 03:48] fullofcaffeine commented on #132
That's basically a way to expose the hook to a class right? That's surely interesting and a technique that might come in handy in the future. However, I shouldn't need to do that for `mst-gql` right? I mean, using the StoreContext should be enough to provide the same functionality, or am I wrong?

Oh nice! I'll try it out. However, do you know why the typings didn't work in my case? I'd love to kn

[2019-10-23 04:01] odjhey commented on #130
hellow, can you show these files/folders

`/home/hello/Documents/code/keeper/native/node_modules/.bin/mst-gql` and
`/home/hello/Documents/code/keeper/native/node_modules/mst-gql/.bin/`

[2019-10-23 05:51] vkasraj commented on #130
This folder is missing:
`/home/hello/Documents/code/keeper/native/node_modules/mst-gql/.bin/`

`/home/hello/Documents/code/keeper/native/node_modules/.bin/mst-gql`

[code]

[2019-10-23 06:26] odjhey commented on #130
Hmm. `.bin` folder should be there upon install.

can you try doing `npm i` or `yarn` inside `/home/hello/Documents/code/keeper/native/node_modules/mst-gql/` for the mean time.
See if `.bin` gets built.

[2019-10-23 06:35] vkasraj commented on #130
I did `npm i` multiple times. But no luck.

node: v12.13.0 LTS
npm: v6.12.0

I will try to reinstall the dependencies, will tell you after that If it is solved or not.

[2019-10-23 07:01] odjhey commented on #130
this should not happen but try doing `npm i` **inside** `/home/hello/Documents/code/keeper/native/node_modules/mst-gql/`

[2019-10-23 07:08] vkasraj commented on #130
I did that but sadly not `.bin` folder as you said. But running the same script from above generating this error.

[code]

[2019-10-23 11:29] godness84 commented on #133
@fullofcaffeine `loginFailed` is declared twice, as a prop (`loginFailed: false`) and as a computed value (`get loginFailed(){ ... }`). Since a computed value is readonly, typescript is complaining. Remove the computed value `get isLoginFailed(){ ... }` and you're done :)

[2019-10-23 17:46] chrisdrackett commented on #133
also `loginFailed: false` is fine, you could also use `types.boolean` but that can be inferred from the default value without issue.

[2019-10-23 21:05] fullofcaffeine commented on #133
Thanks a lot for all the help!

I now see it was actually described in the README. What confused me was the error TS gave, but should have looked further into it, since it's a simple mistake.

Apologies for the n00b questions, and thanks a lot for mst-gql, I'm really enjoying it!

[2019-10-23 21:05] #133 closed

[2019-10-23 21:08] fullofcaffeine commented on #129
Is anyone else also doing SSR with `mst-gql` in a custom non-nextjs app? I'd just like to know if exposing the snapshot in the window is the "recommended" way of sharing the snapshot data with the client-side. It does seem to work well.

[2019-10-23 22:05] fullofcaffeine commented on #132
@odjhey Found out the missing piece. There's a full-blown example here:

https://github.com/piotrwitek/react-redux-typescript-guide/issues/140

It's for Redux, but the context part is framework agnostic.

TL;DR: For TS to be able to type the context, this line is needed:

[code]

I haven't tried your approach with the consumer JSX tag, so not sure if typings work there out-of-the-box, but that mig

[2019-10-23 22:05] #132 closed

[2019-10-23 22:08] fullofcaffeine commented on #26
Ok, I figured it out!

For anyone else using `mst-gql` with React class components and TypeScript, check out this issue: https://github.com/mobxjs/mst-gql/issues/132.

The example from @mweststrate works fine for vanilla ES6, but if you're using TypeScript, you won't get the proper typed context. Just be sure to add the additional line I mention in that issue.

[2019-10-24 02:18] odjhey commented on #82
Hello @mukulhase , can we close this issue?

[2019-10-24 02:32] odjhey commented on #130
Hello, i am not sure why this is happening.
We initially encountered this a few months back and did a manual patch as it only happens to some machines. Then forgot about it cause suddenly it no longer throw the error on new builds. maybe a search on why `npm` `node` `.bin` folder is not getting generated on some modules be a good way to start.

below is the manual temp fix/patch we did to move alo

[2019-10-24 03:38] #82 closed

[2019-10-24 16:28] vkasraj commented on #130
I searched as you said. Most of them saying there is some issue with `npm`. But `node` and `npm` are working fine for me.

BTW I am using https://github.com/tj/n for version management, could be this causing the issue.

FYI, I just set up my project on a different machine, the same issue came up. I literally don't know what is causing this issue and Its really holding me up to use this package.

[2019-10-24 18:37] mattiasewers opened #134 "Add suspense support"
React just released documentation for concurrent mode. I will start looking into implementing support for suspense for mst-gql.

https://reactjs.org/docs/concurrent-mode-suspense.html

[2019-10-25 02:06] odjhey commented on #130
Hmm. can you share a repo that has this problem. Let me try on my machine.

[2019-10-25 04:38] vkasraj commented on #130
Yeah sure. This is the project which i am working on.

https://github.com/vkasraj/keeper

[2019-10-25 06:11] odjhey commented on #130
this repo worked for me
npm: v6.12.0
node: v12.13.0

your best bet is to try without `n`, not really sure why.
i tried using `nvm`, also worked.

i think this is no longer an mst-gql issue, we should close for now.

[2019-10-25 06:39] vkasraj commented on #130
I will try with `nvm`. Hope it should work.

If it works with `nvm` then it should be `n` issue. I will raise an issue there.

[2019-10-27 12:58] vkasraj commented on #92
I think this can be a problem for some mongodb user i.e. myself as I have a user schema like this. Where I defined `_id` as Mongo `ObjectId()`
[code]
And the generated tree is like this
[code]
Also when I mutate the state i.e login, the users tree looks like this where `undefined` gets added in the keys (I don't know it its related or not).

[code]

[2019-10-28 04:24] odjhey commented on #92
Can you try scaffolding using the `roots` option. In our case, the generator identifies `_id` as an identifier using the `roots` option as long as you type `_id` with `ID` in your gql schema.
Also, note that mst-gql is database agnostic, it only depends on your gql schema.

[2019-10-28 10:28] onomated commented on #45
@RXminuS had the same issue as @gadzillllla, JS codebase with circular dependencies.  Tried running your fork and got this error:

[code]

[2019-10-28 11:22] beepsoft commented on #45
@RXminuS this PR seems to provide a solution:

https://github.com/mobxjs/mst-gql/pull/128

Will be hopefully merged into master soon.

[2019-10-28 12:54] onomated commented on #45
#128 is generating TS for JS spec:
[code]

Also exhibiting the same webpack circular dependencies error while loading app:
[code]

[2019-10-28 13:00] beepsoft commented on #45
(@onomated wrong @ in previous message, sorry :-) )

I've never seen such webpack error, sorry, then it is a different issue.

[2019-10-29 04:03] fullofcaffeine opened #135 "Model cannot find the store/parent at depth 2"
Hi,

I initially created an issue at the `mobx-state-tree` repo, but found out it was related to `mst-gql` insted.

There's a thorough explanation here: https://github.com/mobxjs/mobx-state-tree/issues/1408.

**TL;DR**: I wasn't able to get to the root store from within a model in order to call the mst-gql-generated GraphQL query/mutation functions. I was getting a `Uncaught Error: [mobx-state-tre

[2019-10-29 07:20] vkasraj commented on #92
I do set the `roots` in `mst-gql.config.js`. I think that `_id` is the culprit for that `undefined` key in the user tree.

[code]

[2019-10-29 18:22] fullofcaffeine commented on #135
Does anyone know if there's any specific reason it's using getParent(self, 2), which seems to be relative and prone to errors if the depth changes, to getRoot, which seems to be absolute and safer to access from anywhere?

[2019-10-29 20:39] chrisdrackett commented on #135
not sure, @mweststrate can you comment?

[2019-10-29 20:44] mweststrate commented on #135
getRoot is prone to the opposite problem; additional wrapping of your store in other stores. Since all models that use parent and are code generated, should live at level 2, I think that should be safer?

Probably we should use `getParentByType`, which is not sensitive to depth changes.

[2019-10-29 20:54] chrisdrackett commented on #123
I think we're going to need more info to move forward on this. Can you post a minimal test case? logs?

I'm also still confused about a GraphQL server sending an error back within a 200 status code.

[2019-10-29 20:55] #130 closed

[2019-10-29 21:59] fullofcaffeine commented on #135
@mweststrate What would you recommend me to do in my case? The model in question lives at a `me` prop in the RootStore.

[2019-10-29 22:01] fullofcaffeine commented on #135
And adding to that: it's created using `types.optional(types.lazy(() => UserModel), () => ({id: 'Guest'}))`.

[2019-10-30 19:09] fullofcaffeine commented on #135
@mweststrate `getParentByType`, is that how the method is named? I couldn't find it in `mobx-state-tree`'s README. Did you mean [this one ](https://github.com/mobxjs/mobx-state-tree/blob/master/docs/API/README.md#getparentoftype)instead?

[2019-10-30 19:26] fullofcaffeine commented on #135
[code]

[2019-10-30 19:55] mweststrate commented on #135
Yes that was the func I was referring to.

There is nothing really special about depth; depth just refers to the
amount of nodes between two things. Just keep in mind that maps and arrays
count as independent nodes. It is very similar to a folder / file
structure. So '2' means '2 folders up'

By the way, if this is an mst-gql project, and UserModel is a generated
model, the store should already ha

[2019-10-30 20:27] fullofcaffeine commented on #135
Thanks for the insights. That makes sense.

Not a user on the backend, yes, but some features of the site can be used by a Guest (which is basically a signed-out user).

How would I go about creating the instance of that user though in the collection provided by `mst-gql`?

[2019-10-30 20:56] fullofcaffeine commented on #135
It seems to me that's it's not straightforward (or desirable?) to mix MST models with plain mobx-state-tree models? If I try to create a `GuestModel` that doesn't inherit from `ModelBase`, I get TS errors in the `createStoreContext`.

[2019-10-30 21:00] fullofcaffeine commented on #135
I guess I'm the one that is going against the way mst-gql is supposed to be used. From what I understood, ideally, login would start in a mutation that'd return the logged in user and mst-gql would automatically add it to its users collection, and I could then reference it from `me`. I'm just not sure about the concept of `GuestUser`.

Do I really need to model it in gql as well? It seems to be a

[2019-10-30 21:03] chrisdrackett commented on #135
on our app we just have a boolean on the root store for if you are logged in or not. I'm not sure if this would work in your case, but we adjust the UI and calls made based on this flag.

[2019-10-30 21:08] fullofcaffeine commented on #135
@chrisdrackett Thanks for the insight. That might be the way to go!

I'm just puzzled on how to mix and match mst-gql and mobx-state-tree models. I created an `Auth` model to gather the `signin`, `signout` actions and added it to the store:

[code]

Am I no supposed to mix and match pure mst models and mst-gql models?

[code]
Auth is a model I created and does not inherit from mst-gql`s 'ModelBase

[2019-10-31 01:30] chrisdrackett opened #136 "add `ensureLoaded`"
https://github.com/mobxjs/mst-gql/pull/102#issuecomment-538558449

[2019-10-31 02:36] fullofcaffeine commented on #135
This issue is already off-track, apologies. I just have two related questions before I close, if you allow me:

1) @chrisdrackett Where do you put your `signin`,`signout` actions? At the RootStore?
2) If I want to extend a mst-gql model with a non-mst-gql model, let's say, by adding a `me` property at the RootStore that points to a non-mst-gql model, how should I do that properly (without triggeri

[2019-10-31 09:56] mweststrate commented on #135
I'm not sure where the error is coming from, but it is the right way to set it up and mix your own models. Also note that it should be `types.optional(Auth, () => ({}))`, not `() => {}` which means something entirely different :)

[2019-11-05 20:45] fullofcaffeine commented on #82
I have a related question -- is the client setup to automatically send cookies? I'm having an issue where cookies are not being sent when the gql http client makes the requests to the `/graphql`  endpoint. Both the web server and the api server run from the same domain and port, so shouldn't be a CORS problem. Any hints?

[2019-11-05 21:54] fullofcaffeine commented on #82
Actually, the problem is the passing of cookies from the client over to the server when the same code that runs on the client runs on the server. It seems `graphql-client` does not support transparent passing of cookies from the client, so it's not isomorphic. It seems Apollo Link supports the SSR cookie use-case out-of-the-box: https://stackoverflow.com/questions/51995187/how-to-access-cookie-in-

[2019-11-05 22:45] fullofcaffeine commented on #82
Nevermind, I accomplished what I wanted by passing the cookie header value from the express request object over to the `graphqlHttpClient` header options when instantiating it on the server.

[2019-11-05 23:02] fullofcaffeine opened #138 "[SSR] Calling a query method on the server, passing the snapshot over to the client and calling it again results in a fatal error by mobx"
Hi,

I have an isomorphic app that uses `mst-gql`. I create the `store`  on the server, get the snapshot off it, add to the DOM like so:

[code]

Then the client picks it up:

[code]

The initializeStore function looks like this:

[code]

As you can see, there's also code to pass the cookies over from the client request to the server, since it's an isomorphic app.

Now, the issue I'm having is rel

[2019-11-06 07:17] RXminuS commented on #135
Can't we use [getParentOfType](https://github.com/mobxjs/mobx-state-tree/blob/master/docs/API/README.md#getparentoftype) instead?

[2019-11-06 07:19] RXminuS commented on #123
https://www.apollographql.com/docs/apollo-server/data/errors/ is how errors are returned with a 200 status code. I'll see if I can make a small repo.

[2019-11-06 07:43] fullofcaffeine commented on #135
@RXminuS Yes, that might be the best solution. I haven't tried it out yet as I chose to just put the actions at the `RootStore` for now, so it's not urgent anymore. I might have a peek at it during the next few days, hence leaving this open for the time being.

However, I'm puzzled by this (somewhat unrelated, but relevant) issue: https://github.com/mobxjs/mst-gql/issues/135#issuecomment-548113187

[2019-11-06 23:55] fullofcaffeine commented on #138
This is a somewhat blocking issue for me since SSR is a vital component of this app. I'd be very grateful if someone could give me some insights on what I might be doing wrong (or perhaps this is a SSR-related bug?)! Thanks in advance :)

[2019-11-07 21:19] fullofcaffeine commented on #129
*ping* :)

[2019-11-07 21:32] zenflow commented on #129
@fullofcaffeine I haven't built a non-next.js SSR app in years, but I think that is how I did it. That's also the way next.js does it. I don't see any problem with doing it that way. Hope that helps.

[2019-11-07 22:08] fullofcaffeine commented on #26
Another thing:

To actually access the `context` from the constructor function, I had to do the following:

[code]

So, I had to actually add the parameter to the constructor and use it instead of accessing it from `this`. Hope this helps anyone out there that went through a similar issue when trying to run this example.

[2019-11-07 22:11] mweststrate commented on #26
I think that is the normal React behavior indeed

On Thu, Nov 7, 2019 at 10:09 PM Marcelo Serpa <notifications@github.com>
wrote:

[2019-11-07 22:29] fullofcaffeine commented on #26
@mweststrate I have a related question: what is the proper way to ignore one of the callbacks, say, if I only want to define the `data` callback and leave `loading` and `error` undefined?

[2019-11-07 22:31] fullofcaffeine commented on #26
Ah, nevermind, I see the query method already returns it in `data`.

[2019-11-07 22:58] fullofcaffeine commented on #138
OK, it looks like `mst-gql` query methods are not compatible with mst `views` because they change state somehow. I initially expected them to only return data, but it does makes sense they change state because they have to update the entity collection and or cache.

What I did was to rework my approach and do the following:

[code]

So, `afterCreate`, the `RootStore`  will call the `queryMe` query

[2019-11-07 22:58] #138 closed

[2019-11-07 23:04] fullofcaffeine opened #139 "Mixing non-mst-gql models with mst-gql generated models: TS typing woes"
I originally reported this here: https://github.com/mobxjs/mst-gql/issues/135#issuecomment-548113187. However, since it wasn't really directly related to the purpose of that issue, I'm opening another one for it.

I'm trying to mix `mst-gql` and `mobx-state-tree` models (models that inherit from `MSTGQLObject`). I created an `Auth` (non-`mst-gql`) model to gather the `signin`, `signout` actions an

[2019-11-07 23:06] fullofcaffeine commented on #135
This isn't a problem for me at the moment. I figured I'd just explicitly access the store using `getParent`  when needed directly at the specific model, so I'm closing this. Feel free to re-open if you find this is still an issue that affects you.

[2019-11-07 23:06] #135 closed

[2019-11-09 20:42] godness84 commented on #139
Maybe `Auth` refers somehow to `RootStore`? In this case you have a circular references issue. And when you have it, strange things happen 😄 To solve it, you should break the circularity. How? It depends on the code of the `Auth` model.

[2019-11-12 06:25] odjhey commented on #123
This might be related, a fix for the unhandled rejection. During offline mode, requests usually yields Network Request errors, i just added a catch block.

https://github.com/odjhey/mst-gql/commit/68eb6bd4dcdfbc6b265de29b6e757b2eecec6cba

[2019-11-18 21:13] chrisdrackett opened #141 "update `localStorageMixin` so that it is possible to clearTimeout"
We've run into a case where a user logs out of our app and we clear local storage only to have `localStorageMixin` repopulate it shortly after due to the timeout. I wonder if there is a way within mst-gql to avoid this case as part of the mixin so a user won't have to worry about it on their end.

[2019-11-19 11:06] chika-kasymov opened #142 "[question] Best way to stub GraphQL responses?"
First of all, thanks for the library it's awesome! I read the README and other opened issues, but I didn't find info about how to mock/stub GraphQL responses. Can someone guide me on that?

Currently, in my project I use Apollo GraphQL client and use resolvers to return stubbed responses (from JSON files). And I use that in my UI tests and in case when some query/mutation is still not ready on the

[2019-11-21 01:02] chrisdrackett opened #149 "update types for optional mutation variables"
Right now a mutation variable that is optional will output in the root store as

[code]

however as far as I know in typescript this isn't correct. it should be:

[code]

otherwise if you omit `isComplete` typescript will give an error:

```Property 'isComplete' is missing in type …```

we should update this to use the other format.

I believe the code that needs to change lives here: https://gith

[2019-11-21 01:03] #124 closed

[2019-11-21 05:06] fullofcaffeine commented on #124
@chrisdrackett Did you end up using any workarounds for that limitation?

[2019-11-21 17:04] chrisdrackett commented on #124
@fullofcaffeine not at the moment. We have this on the roadmap on our project but it isn't something we're currently working on. The solution might require some updates to mst-gql, but as for this specific fix, in light of the current state of MST I'm not sure it is worth keeping this specific issue open.

[2019-11-22 01:05] #45 closed

[2019-11-22 01:05] chrisdrackett commented on #45
fixed in `0.7.0`

[2019-11-22 10:02] beepsoft commented on #45
🎉 Great work @godness84 for your solution and @chrisdrackett for managing the merge! I'm so happy with this issue being solved!

[2019-11-22 10:30] godness84 commented on #45
Thanks to you guys!

[2019-11-22 11:53] RXminuS commented on #139
I'm having the same problem but we have over 70 models so it's hard to figure out where the problem is. I was able to "force" the typechecker into submission though by changing `reactUtils.ts`

[code]

[2019-11-22 13:38] godness84 commented on #139
@fullofcaffeine @RXminuS in `mst-gql v0.7.0` TS circular ref issues got solved.

If your extension code adds new circular refs (as it happens in your example, I suppose), declare your reference as `any` (e.g. `types.optional(Auth as any, () => ({}))`) then use the new `withTypedRefs` utility function as you will see in the new generated models.

[2019-11-22 16:54] chrisdrackett commented on #1
@mweststrate can we add @godness84 to the project?

[2019-11-22 22:41] mweststrate commented on #1
Sure! But that handle doesn't seem to exist :)

On Fri, Nov 22, 2019 at 4:54 PM Chris Drackett <notifications@github.com>
wrote:

[2019-11-28 13:35] chika-kasymov commented on #142
I'm closing this. Find out related info at the bottom of the documentation - https://github.com/mobxjs/mst-gql#stub-the-transportation-layer-in-unit-tests.

[2019-11-28 13:35] #142 closed

[2019-12-01 21:31] godness84 commented on #1
Happy to be on board! :tada:

[2019-12-02 21:33] penumbra1 opened #151 "Auth header when downloading the schema?"
Hi!

First of all, thanks for the great tool and the interesting talk!

From what I see in [mst-gql-scaffold.js](https://github.com/mobxjs/mst-gql/blob/202e987c05eca1f2ea30a4c55ee22bebfd35b2f4/generator/mst-gql-scaffold.js#L69), there is currently no way to pass an auth header when fetching the schema from an endpoint.

As Apollo CLI accepts a [--header flag](https://github.com/apollographql/apoll

[2019-12-03 15:34] preetb123 opened #152 "Understand the workings of mst-gql"
I am really not getting how mst-gql works and handles the cached data.
How do i get access to it?
I need to do search, filtering, sorting, grouping etc on that data. Also i may need to modify, delete data from the cache.

The examples given were not of much help.
I have created a small example here https://github.com/preetb123/mst-gql-app

`Add/Remove` button adds/removes a book to cart and added

[2019-12-03 17:36] chrisdrackett commented on #152
Hi @preetb123 are you familiar with MST itself? If not that is a good place to start: https://github.com/mobxjs/mobx-state-tree

If you are familiar, I would say you want to add most of the above as views and actions on the RootStore model here: https://github.com/preetb123/mst-gql-app/blob/master/src/models/RootStore.ts

I think our twitter example is a good place to look for info about extending

[2019-12-04 22:09] smartnet-club opened #153 "Scaffold generator does not support Boolean GraphQL type in mutation model"
The model:
`type Mutation {
logout: Boolean!
}`

Skipping generation of query 'logout', its return type is not yet understood. PR is welcome

[2019-12-04 23:38] #149 closed

[2019-12-05 00:22] smartnet-club commented on #153
Found in sources: return scalar types not supported.

[2019-12-05 00:22] #153 closed

[2019-12-05 18:55] preetb123 commented on #152
thanks @chrisdrackett, i was able to use RootStore.ts to add app specific behaviour using views and action. I have updated the example https://github.com/preetb123/mst-gql-app.
How can i get access to `store` outside of react class or stateless function?

[2019-12-06 13:43] elie222 commented on #152
You can just import and access wherever you like:

[code]

[2019-12-06 15:07] beepsoft commented on #13
@RXminuS do you have any progress with this?

I myself would like to have the options provided by https://graphql-code-generator.com/docs/plugins/typescript, which allow changing the case of type names/enums and getting rid of underscores in type names in generated code.

It uses a configuration like this:

[code]

I thought I add such options to the current generator but if there's already a bett

[2019-12-10 14:35] preetb123 opened #156 "Scaffolding tool does not generate proper query input argument types"
Scaffolding tool(`yarn mst-gql`) does not generate proper types for input variables
Ex. the generated types for code
https://github.com/preetb123/mst-gql-app/blob/master/server/index.js#L79

[code]

are
https://github.com/preetb123/mst-gql-app/blob/master/src/models/RootStore.base.ts#L36
[code]

Here the variable `ids` should accept `[BookInfo]`

[2019-12-10 18:44] beepsoft opened #157 "Better generated names"
I would like to discuss whether we could generate better names for the MST models and whether it could be made configurable. I feel that it would provide better developer experience overall.

TLDR; these are my suggestions:
1. Allow generation of Javascript conform names for graphql names with lowercase, underscores, snake_case, etc.
2. For a graphql type called `Todo` generate a typescript interf

[2019-12-11 15:26] beepsoft opened #158 "StoreContext in reactUtils.ts is of type any"
It seems that StoreContext in reactUtils.ts is of type `any` instead of `React.Context<RootStoreType>`. As a result the store in `useQuery` is not typed anymore.

I created this minimal test project.

https://github.com/beepsoft/mst-gql-context-any.git

After running `yarn` and checking in my IDEs (both IntelliJ and VSCode) the type of StoreContext is always `any`.

IntelliJ:

<img width="592" alt

[2019-12-12 09:57] beepsoft commented on #158
Sorry, it is probably some IDE issue, because now VSCode shows `React.Context<RootStoreType>` while IntelliJ (2019.3) still shows `any`, which must be a bug because I also generated d.ts declarations and there the types were all OK.

[2019-12-12 09:57] #158 closed

[2019-12-17 12:16] preetb123 commented on #152
@elie222 i am not sure if the above way of using `RootStore.xyz` is correct. I don't get access to any method or prop on `RootStore`.

What i want to achieve is to get `AsyncStorage` in place of `localStorage` here https://github.com/mobxjs/mst-gql/blob/master/examples/4-apollo-tutorial/client/src/index.js#L17

[2019-12-19 20:24] chrisdrackett commented on #152
it is possible to pass in your own storage method:

https://github.com/mobxjs/mst-gql#use-with-react-native

[2020-01-03 12:13] zenflow commented on #151
mst-gql's CLI actually uses apollo's CLI under-the-hood to download the schema:

https://github.com/mobxjs/mst-gql/blob/635da9ffeb9ccf6ed5a6bd30f15271063501d97b/generator/mst-gql-scaffold.js#L66-L70

So this would be pretty trivial to implement.

I'm not opposed to it! :)

[2020-01-22 23:40] Aryk commented on #44
hey @chrisdrackett are you replacing "createdAt" prop? I didn't know that was possible, but it makes sense. Didn't know about Luxon before..will check it out. 😃

[2020-01-23 00:31] chrisdrackett commented on #44
<3 Luxon

[2020-01-23 22:01] Aryk commented on #44
Yeah, I've been using it a lot in the last day. It's great, has simplified my code a ton. I hope it all ends up working with my backend Graphql...we'll see 😸

[2020-01-24 08:30] stfnsr commented on #7
![Frame 2](https://user-images.githubusercontent.com/4975791/73054245-38593200-3e8a-11ea-9f8e-d3beaf69628a.png)

Basically the MST Logo, but graphql flavored/colored, with a single point in the middle - because mst-gql helps you integrate a gql endpoint into MST  :)

I filled out the lower right bit of the MST Logo just for visual balance first, but thinking about it, giving it a fill kinda makes

[2020-01-24 09:49] stfnsr commented on #7
Thinking about it btw,
in case you (@mweststrate ) should be thinking about alternative names for mst,
I would seriously consider "grove" (or "hain", if up for some German ^^).
If I'm not mistaken mst works by composing (sub-)trees, and a grove is just that — a composition of trees.
And generally positively associated, organic/living and resilient. And approachable, compared to e.g a forest (which

[2020-01-24 10:19] beepsoft commented on #157
@chrisdrackett, @zenflow any ideas, comments? I would be glad to proceed with this and implement what is agreed on.

There are 2 issues that can be discussed and resolved separately:

1. **Allow new aliases for the types provided by the input graphql model**. This would be an optional feature with a command line option (my current implementation uses `--namingConvention`).
1. **Better overall nami

[2020-01-27 19:44] antondomratchev commented on #7
Oh man is it time for a poll? mstQL vs mobx-graph-tree

[2020-01-27 22:50] fullofcaffeine commented on #7
mstql FTW :)

On Mon, Jan 27, 2020 at 1:44 PM Anton Domratchev <notifications@github.com>
wrote:

[2020-01-28 18:18] chrisdrackett commented on #157
So for issue 1 my opinion is to not add an option and just have this transformation be the default. This does not apply to my codebase as our models already come in "clean" but as a user I would much rather a library generate `PollsAggregateFieldsModelBase` than `polls_aggregate_fieldsModelBase`. Unless others feel strongly that we should add the option that would be my vote. As we're pre-1.0 I th

[2020-01-29 12:20] beepsoft commented on #157
@zenflow had some concerns with changing the names to something different than the ones provided by the schema:

I think this is valid to have the same (similar) names as in the schema. It is a matter of taste. I myself prefer to see idiomatic Javascript/TypeScript symbols. That's why I think having a command line option to configure this is a good option.

[2020-02-03 19:33] beepsoft commented on #157
I went ahead and implemented all the features above in PR #155:

1. Proper pluralization in RootStore props
1. `TodoModelType` -> `Todo`
1. `TodoPriorityEnumEnum` -> `TodoPriorityEnum` (the file is now called `TodoPriorityEnumModel.ts` when this is defines)
1. `--namingConvention js` to change snake_cases to PascalCase type names and camelCase field/function names
1. Added support for  this https:

[2020-02-04 16:40] mattiasewers opened #162 "Refetch query after variables changes"
I'm currently using mst-gql with next.js and cannot get it to refetch queries when variable from the route changes, has anyone had problems with this before? The component rerenders but it does not refetch the query.

[2020-02-06 11:44] rajeevAgilehub opened #163 "clear cache not working"
I am trying to clear the asyncStorage on logout, but it is not working.

[2020-02-06 12:40] preetb123 commented on #141
`applySnapshot(self, {})` resets the cache. Put it inside a separate action and call it after logout

[2020-02-06 21:19] chrisdrackett commented on #163
this is a known issue, tracked here: https://github.com/mobxjs/mst-gql/issues/141

[2020-02-06 21:19] #163 closed

[2020-02-06 21:20] chrisdrackett commented on #162
I'm about to start using this with next.js so I'll let you know how it goes for me or if I run into anything.

[2020-02-06 21:31] chrisdrackett commented on #152
you need to initialize the store somewhere, like https://github.com/mobxjs/mst-gql/blob/master/examples/4-apollo-tutorial/client/src/index.js#L23 and then from that you should have access to whatever you need.

[2020-02-06 21:32] #123 closed

[2020-02-07 05:26] rajeevAgilehub commented on #141
thanks, it worked..
One more question "can we reset a specific data, not all ?"

[2020-02-09 00:44] Aryk opened #164 "Require Cycle"
When we have types that are self-referencing, I get a warning:

[code]

I'm not sure if this will result in an error down the line, but I get an annoying warning message on bootup. Any recommendations on how I can fix this?

For now I'm using "YellowBox.ignoreWarning" but I'm still getting a bunch of yellow in the console.

[2020-02-10 00:16] Aryk opened #165 "LIST always interpreted as required"
These two definitions will both result in required values for `ids`, in other words, I cannot omit the value from my query. One of them has "ids" as required and other does not. However, even if I do not make `ids` required, the typescript definition will not have a "?" on it, making it optional ie `variables: { ids: string[] }`. It should be `variables: { ids?: string[] }` when it is not required

[2020-02-11 00:33] chrisdrackett commented on #165
I could be wrong, but I think ID is required as a way to connect the item to the store. Without the id and type there isn't a way to know what local item to connect to the one coming down from the server.

[2020-02-11 04:23] Aryk commented on #165
To clarify, "ids" is an argument I defined for the query method on the graphql service. Yes, if provided, it must be an array with "ID" inside of it. However, I've specified that "ids" the array is optional, meaning you don't have to pass in the array.

This is not supported by mstgql

[2020-02-12 18:32] chrisdrackett commented on #164
we get this as well in react-native. It should be harmless. There are potential ways that our models could be generated in a way to avoid this that @RXminuS and others have been looking at, so if we can get a solid PR on the matter this might be fixable!

[2020-02-14 06:41] rdewolff commented on #1
How is it running in production ? How much are you testing this ?

[2020-02-14 08:07] Aryk commented on #164
Ok, got it, good to know I'm not the only one experiencing this.

Do you happen to know how I can remove these warnings from the console? I tried overriding the console.warn/error/info/log methods but I'm not able to intercept those messages.

[2020-02-14 19:02] fullofcaffeine commented on #1
Can we close this? I think there are already enough maintainers?

[2020-02-14 20:08] #1 closed

[2020-02-16 03:13] iho commented on #48
+1

[2020-02-17 08:30] tylerstar opened #173 "Error cannot be caught: "onrejected is not a function""
Hi, I got an porblem while running the example 3, I purposely add `throw new Error() to one of the server's resolver` and then the client seems to unable to handle the error properley.

`
const { data, error } = useQuery(...)
`
`error` above will return undefined, and if I try to use `then().catch()` to catch the error, the error message will be 'onrejected is not a function'.

[2020-02-17 08:42] mattiasewers commented on #173
@tylerstar Hi this is kind of a bug, to catch the error you have to do it like so here:
https://github.com/mobxjs/mst-gql/blob/90c786e5646ee4a4619ffb9e85e272c2b84e730d/src/Query.ts#L170
so it becomes
`.then(data => ondata(data), error => onerror(error)`

but anyway we should check if the user provides that function

[2020-02-21 07:33] Aryk commented on #165
This issue has been really annoying, curious if others have experienced it. Im using Ruby and for example I have:

[code]

And yet, if I don't do creatorId: undefined, the TS compiler will throw an error.

[2020-02-21 15:53] iho opened #175 "File Upload"
Hi
Does it support file upload? Can you give me example?

[2020-02-24 03:19] mwarger commented on #157
@beepsoft Cheers to you!  I was searching around this evening wondering why my actions weren't generating for my Hasura API.   Thanks for the PR!

[2020-02-25 21:26] antondomratchev commented on #175
@iho Since mst-gql is simply a type wrapper for schema on the front-end file uploads are out of scope. Here is an article that describes your options in graphql https://leapgraph.com/graphql-file-uploads.

I recommend going with a separate REST endpoint to handle file uploads, unless you are implementing apollo-server in which case the article suggests using apollo-upload-server.

[2020-02-25 21:31] antondomratchev commented on #162
@mattiasewers I've been bitten by cache first strategy in one of my apps, and had to force all my queries to `{ fetchPolicy: 'network-only' }`. I am not using next.js but thought I would mention it

[2020-02-27 17:35] #175 closed

[2020-02-27 17:37] chrisdrackett commented on #164
@Aryk look here for some info: https://reactnative.dev/docs/debugging#warnings

[2020-02-27 17:37] #164 closed

[2020-03-01 17:36] stfnsr commented on #7
What about mst-graphgen?
It's descriptive in what it does I think, generating code based ob a graphql endpoint.

Mst-gql is unclear on whether it uses or generates graphql.

I like mstQL from it's sound "mysticai?", Bit am not fond of the QL at the end, as it makes it sound like a new query language

[2020-03-01 17:38] stfnsr commented on #7
(that said, I still favor mobx-graph-tree, not at least bc I spend 10 min on the Logo XD)

[2020-03-20 15:31] Matth10 opened #190 "Circular dependencies problem"
## Issue
We are currently using graphql with almost 100 of root types. After the generation of all the `models.base` and `model` we were having this error : `SellerModelbase\_WEBPACK_IMPORTED_MODULE_0_.SellerModelBase is undefined`.

## Reason
After an investigation on that I realized we have a lot of circular dependencies.
<img width="747" alt="Screen Shot 2020-03-20 at 8 27 42 AM" src="https://u

[2020-03-20 22:24] fullofcaffeine commented on #1
@chrisdrackett Nice :) ... there's still the warning in the README though? If you guys give the greenlight, I can take care of this chore and submit a PR.

[2020-03-22 04:52] fullofcaffeine opened #191 "Can't return data when `then`ing a Query?"
Hi fellow `mst-gql`lers,

I've found a weird case while working with `mst-gql`, and I'd like to know if it's a bug.

I have a specific React component that fetches a collection from `GraphQL` using `mst-gql` but that needs to do some additional processing before handing the data over to a sub-component. The processing is simple, it just needs to convert the mst tree to pure `JSON` (using the `toJS

[2020-03-22 17:48] Matth10 commented on #119
@RXminuS What the status of the spike with Gluegun ? We are currently doing some refactoring and are really interesting with this lib. However we have about 100 of models and this result with a lot of circular dependencies (134). I think this one file idea could resolve our problem.

[2020-03-22 18:23] chrisdrackett commented on #1
@mweststrate can we add @special-character to this repo please?

[2020-03-22 19:51] mweststrate commented on #1
Done!

On Sun, Mar 22, 2020 at 6:23 PM Chris Drackett <notifications@github.com>
wrote:

[2020-03-22 22:18] fullofcaffeine commented on #173
Sorry to hijack this thread, but why is the `then` function signature different from the `Promise`'s one? I see it's defined specifically for the `Query` class, but maybe it should be called something else to avoid confusion? Or maybe I'm missing something? This actually was what confused me at https://github.com/mobxjs/mst-gql/issues/191.

[2020-03-27 09:00] hexrcs commented on #7
The GraphQL client [urql](https://formidable.com/open-source/urql/) stands for "Universal React Query Library". For me I think it's OK to have QL at the end :P

Love the idea `mstql` aka "Mystical"! <3

To blend the great ideas of @stfnsr and @RXminuS together, I made something like this below.

![mstql@1x](https://user-images.githubusercontent.com/26751752/77739291-89fc7500-7011-11ea-9ea1-7af4c4c

[2020-03-27 19:13] special-character commented on #7
@hexrcs I really like `mstql`. Has meaning but is also easy to say "Mystical" and understand what it means.

[2020-03-30 01:01] vriad opened #193 "Get rid of warning in README"
I've been looking for something like this library for a LONG time, it's basically a dream come true.

But I almost decided against using it because of the (extremely effective!) warning in the README about the lack of maintainers. Of course, as it turns out there are now half a dozen maintainers, including one whose company is using this in production and is (presumably) motivated to keep the whee

[2020-03-30 14:50] Matth10 commented on #108
I think this issue can be closed.

[2020-03-30 16:21] #193 closed

[2020-04-01 02:36] vriad commented on #193
🚀🚀🚀

[2020-04-01 06:55] beepsoft commented on #157
@chrisdrackett  as #155 has been merged we can close this issue, right?

Ps.: version number in package.json is still 0.7.1

[2020-04-03 00:53] fullofcaffeine opened #197 "Further processing data from store in useQuery hook and using it from SSR"
Hey everyone,

This is related to the previous [issue](https://github.com/mobxjs/mst-gql/issues/191) I opened, but please disregard that one as it ended up being too confusing.

Allow me to describe what I want to do instead and perhaps more experienced fellow `mst-gql`'ers could help me:

So, I have a React hook that looks like this:

[code]

To briefly describe what this hook does:

1) It fetche

[2020-04-03 00:55] fullofcaffeine commented on #191
I tried to rephrase this issue as the description in this one ended up being a bit confusing and did not describe what I really wanted to accomplish. See https://github.com/mobxjs/mst-gql/issues/197 instead.

[2020-04-03 00:55] #191 closed

[2020-04-03 00:59] fullofcaffeine commented on #139
@godness84 Thanks for letting us know! I guess we can close this issue, then.

[2020-04-03 00:59] #139 closed

[2020-04-06 15:18] mattiasewers commented on #197
@fullofcaffeine this does not seem to be supported atm, see how its done in a similar way in examples:

https://github.com/mobxjs/mst-gql/blob/54a020f07e11313d91288625091bed8e02e2fed7/examples/3-twitter-clone/src/app/models/RootStore.ts#L43

so its recommended to do it the store instead.

[2020-04-07 00:06] fullofcaffeine commented on #197
Ah, great. This pattern might as well work for me. I'll try that out.

To further elaborate on this issue, though:

I actually might've over-complicating things a bit, but perhaps it could be used to trigger the discussion for further improvement. Maybe there's a way to improve the Query API to allow "filters/middlewares"? Please let me know if the following makes sense to you:

These filters coul

[2020-04-09 09:20] sanketsahusoft opened #198 "Offline first approach"
First of all, thanks for the great work! I am looking at offline first strategies.

Strategy: Everything local + sync to remote later
• Create objects locally (unique + reliable IDs), merge in RootStore, mark them dirty.
• Keep a tick that syncs the dirty objects.

Do you think this is a good approach?

[2020-04-09 09:21] sanketsahusoft opened #199 "Add a Roadmap / Projects"
I would like to contribute, do we have a list of priorities that I can refer to?

[2020-04-09 10:24] Aryk commented on #199
Hi @sanketsahusoft could you help me push through this PR for this glaring and common problem?

https://github.com/mobxjs/mst-gql/issues/165

[2020-04-09 10:27] Aryk commented on #165
@chrisdrackett any chance we can push this through. It's been sitting around for two months.

To repeat. This is not a nice-to-have. MST-GQL is not honoring the graphQL spec.

I have a PR ready to go with tests that just need to be accepted.

cc @mobxjs

[2020-04-09 11:55] sanketsahusoft commented on #165
I am not sure if we can skip IDs as it is primarily used by the RootStore for references.

[2020-04-09 14:12] Aryk commented on #165
I think my example confused you and @chrisdrackett . Let me show you a better example.

[code]
MST will parse these arguments and output:

[code]

Notice how both creator_ids and show_past in Ruby are both "required: false". ++However++, in Typescript with this library it will output +only+ showPast as an optional param, when really it should be:

[code]

Does this make sense now what is wrong?

L

[2020-04-09 14:54] special-character commented on #198
Hey @sanketsahusoft, this is exactly what @chrisdrackett and I do for the application we are working on now. We use the `mst-gql` `ModelBase` to keep a queue of actions that need to be synced. We use a [reaction](https://mobx.js.org/refguide/reaction.html) to react to changes in the online state and the queue state. If either of those change we check if we need to sync and go through the queue.

T

[2020-04-09 15:51] #165 closed

[2020-04-09 16:53] chrisdrackett opened #201 "add at least one enum to an example"
Would be good for testing outside our tests.

[2020-04-09 17:15] chrisdrackett opened #202 "don't import modules if they aren't used"
for example `RootStore` in `reactUtils` and potentially enums in `RootStore.base`

[2020-04-09 17:55] #108 closed

[2020-04-09 17:58] chrisdrackett commented on #199
hi @sanketsahusoft! We don't currently have a roadmap, but one would probably be a good idea. There are some bigger things like how we generate files (#13) and smaller things you can find in our issues list. I'm going to go through and clean it a bit now.

[2020-04-09 18:00] chrisdrackett commented on #199
added a roadmap here, now to fill it out ;)

https://github.com/mobxjs/mst-gql/projects/1

[2020-04-09 18:01] #199 closed

[2020-04-09 18:01] #198 closed

[2020-04-09 18:06] chrisdrackett commented on #197
@fullofcaffeine a lot of this is possible within your MST models. Instead of doing this kind of work in the hook you can do it within your models using a reaction or a computed. This does mean that you don't actually use `data` from the useQuery hook and instead would be doing something like:

[code]

or similar.

Does that help? I might also be missing something...

[2020-04-09 18:07] chrisdrackett commented on #190
this has been an ongoing issue. I know @RXminuS had some ideas around this, but I'm not sure what come of them. I know there has been talk of flattening some of the generated structure so we end up with less generated files. This might help some with the circular dependencies.

[2020-04-09 18:09] #157 closed

[2020-04-09 18:10] #152 closed

[2020-04-09 18:11] chrisdrackett commented on #152
closing this for now but feel free to open a new issue if you run into issues!

[2020-04-09 18:12] chrisdrackett commented on #141
@rajeevAgilehub you could do this just by updating the object sent into `applySnapshot` to contain only the data from the current store you want to keep.

[2020-04-09 18:12] #141 closed

[2020-04-09 18:17] chrisdrackett commented on #157
@beepsoft sorry about that! it is released now! Lots going on :)

[2020-04-09 18:19] lishine opened #203 "Gqless"
Have you seen this? Can be a combination...

[2020-04-10 10:09] sanketsahusoft commented on #199
Thanks, @chrisdrackett! Let me add a few more things to the roadmap!

[2020-04-10 10:13] sanketsahusoft opened #205 "Casing issues in the generated code"
I have a GraphQL type named as "FileContent", the generated props collection in the RootStore was "fileContents" but during `merge` it was looking for a prop "filecontents" on the RootStore (with a small c).

Any quick hints where to look for it?

[2020-04-10 10:50] godness84 opened #206 "Generated xxxPrimitives query fragments are not immutable"
For each model a `xxxPrimitives` instance is generated in order to quickly select all the simple fields of a model. It's an instance of `QueryBuilder`, so you can keep calling its methods to append other complex fields.

Obviously (but it was not so obvious for me at first) if you call methods on your `xxxPrimitives` instance, whenever you use the same `xxxPrimitives` instance in other parts of yo

[2020-04-10 15:18] chrisdrackett commented on #206
I haven't run into his myself, but your description makes sense. I would agree that solution 2 is the most desirable way forward with this.

[2020-04-10 15:21] chrisdrackett commented on #203
this is pretty cool, but off the bat I don't have any thoughts on how this could be combined with mst-gql. To me the big difference is with mst-gql you are not really doing any graphQL in your components, but instead are interacting mostly with mst. That being said, I think we would be down for suggestions if there are features you think would fit well with mst-gql.

I'm going to close this for no

[2020-04-10 15:21] #203 closed

[2020-04-11 01:42] stfnsr commented on #7
@hexrcs
Seems like a good synthesis! :)
I have a tendency to overthink the symbolism of things, and yours composes both logos in a more obvious and thus recognizable way.
And it's pink, so that's nice 🎉

[2020-04-12 23:05] mwarger opened #207 "generating models skips mutations when pointed at local schema endpoint"
I'm using Hasura in a local environment with docker.

Running with this config does not generate the mutations I would expect (and that previously worked).

[code]

However, downloading the schema using something like `graphqurl` (command: `gq http://localhost:8080/v1/graphql -H 'X-Hasura-Admin-Secret: supersecret' --introspect > schema.graphql` and then pointing the `mst-gql` generator at the res

[2020-04-13 05:04] mwarger commented on #207
I think I figured this out.  This is an authentication issue with the endpoint not allowing mutations for unauthenticated users, so the schema returned lacks mutations.

[2020-04-13 05:04] #207 closed

[2020-04-13 12:55] jonlambert commented on #130
I just ran into this issue on a fresh project. There is no `<project>/node_modules/mst-gql/.bin` directory present after running:

[code]

Or running:
[code]

Can this issue be reopened please?

[2020-04-13 13:05] numToStr commented on #130
You can try using `yarn`.

Earlier I was using `npm` when I faced this issue. May be the issue is with npm.

[2020-04-13 13:08] jonlambert opened #208 "Installation using NPM fails"
I followed the instructions for installing `mst-gql`, but replacing `yarn` with `npm`. Attempting to run the generator produces the following error:

[code]

No .bin directory is present within the library:

[code]

However if I then run the same installation steps with yarn, it works correctly:

[code]

[2020-04-13 15:25] chrisdrackett commented on #208
hm, is apollo in your node_modules when using NPM? it's in our dependencies at 2.25.0. The .bin directory is a npm thing and should also be located in `node_modules`

[2020-04-13 15:29] chrisdrackett commented on #205
I'm guessing this is due to a bug related to the new naming that @beepsoft worked on. I would start looking at the changes in this PR first: https://github.com/mobxjs/mst-gql/pull/155

Who ever looks at this should add a test if at all possible!

[2020-04-13 16:59] beepsoft commented on #205
@sanketsahusoft Can you maybe share your graphql schema?

[2020-04-13 17:31] beepsoft commented on #205
And also provide the parameters you used for generating the mst models, please!

[2020-04-13 17:58] mwarger commented on #151
I'm going to look at adding this feature.

[2020-04-13 18:23] beepsoft commented on #205
@sanketsahusoft One thing that worth checking is whether the mst-gql you use to generate the schema and the one that you use at runtime (at the time executing the queries) are of the same version. I created a test with a simple graphql model like this:

[code]

and it seems to correctly generate `fileContents` root map, and when I do a `files` query the merge correctly tries to store it in the `fi

[2020-04-14 08:40] sanketsahusoft commented on #205
Thanks, @beepsoft @chrisdrackett! I will try the `--dontRenameModels` flag.

[2020-04-14 08:44] beepsoft commented on #205
@sanketsahusoft Also, if you upgraded from an earlier version of mst-gql (eg. from 0.7.1 to 0.10.0) you may have to regenerate all model files using `--force`. **WARNING**: this would overwrite any customizations you added to `RootStore.ts` and any model files, which are extended from the `.base.ts` files, so take care with that.

[2020-04-14 08:46] sanketsahusoft commented on #205
@beepsoft I am on 0.7.1. I didn't realize when 0.10.0 went live. Let me see! Thanks again!

[2020-04-14 10:16] beepsoft commented on #201
I just tried 0.10.0 and actually there is something wrong with enum generation: both the model and the typescript type has the same name. Eg. for an enum `StatusEnum` there should be a file generated with name `StatusEnum.ts` with a typescript type called `StatusEnum` and an mst model `StatusEnumModel`, however the model is now also called `StatusEnum`.

I will look into this now.

[2020-04-14 10:28] beepsoft commented on #201
@chrisdrackett It seems that you changed something around this in the a222426e964d8f646774720ec04a2b1e851e8027 and 11e79aa548281874f437eaff2b103da9dd174499 commits. My version generated the `...Enum` and `...EnumModel` names but now you generate the same name for both. Can you take a look at this?

[2020-04-14 14:49] chrisdrackett commented on #201
Yeah, enums are not models, I had missed this during the review as none of the mst-gql examples have enums, but found it when updating our project. That being said, maybe I missed something? I don’t see any duplicate names in our enums, but there might be a case I’m not aware of.

[2020-04-14 15:13] beepsoft commented on #201
Take a look at `tests/generator/generate.test.js`. There you test for this result: a typescript `enum InterestEnum` and an mst model/type `const InterestEnum`. Here we don't compile these with `tsc` but if we did it would fail because of the name clash.

[code]

The simplest solution would be to give the mst type some new name. Maybe `InterestEnumType`?

[2020-04-14 19:35] chrisdrackett commented on #201
ah, I see, we don't run into this in our app because our enums don't have `enum` in the name. So we end up with something like `export enum ItemType` and `export const ItemTypeEnum` in our `ItemTypeEnum` file. I think the suggestion of adding `Type` to the end of the type is probably the best thing to do here as it matches with what we do with models.

[2020-04-15 15:47] Aryk opened #210 "React Native + ActionCable + MST-GQL doesn't work"
This library from Apollo has specific implementations that only these use such as sending a second "connection_init" message after the initial connection.

More info here: https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md

I noticed that mst-gql requires "subscribe" "unsubscribe" and "request" methods. Is this a standard interface? The WebSocket implementation tha

[2020-04-15 16:47] chrisdrackett commented on #208
@jonlambert any updates on this?

[2020-04-15 22:40] Aryk opened #211 "Infinite Scrolling"
Has anyone used mst-gql with infinite scrolling?

The graphql spec provides for pagination with connection, nodes, edges, etc. I'm wondering if there is room for having a separate "add-on" repo for mst-gql to add things like this.

Here is something I cooked up for anyone who might need to do standard according-to-spec [pagination](https://graphql.org/learn/pagination/):

[code]

I don't quite kno

[2020-04-16 02:13] fullofcaffeine opened #212 "SSR and onAfterInit, query being refetched upon hydration"
I have an action at my `RootStore` that fetches some data from my backend GQL server:

[code]

This runs well on the node and the proper HTML is rendered and the snapshot data is also rendered as `window.__PRELOADED_STATE__` on the page. Then, when the hydration comes in, I recreate the store on the client and:

[code]

(_I've written about how I was doing it here: https://github.com/mobxjs/mst-gq

[2020-04-16 02:17] fullofcaffeine commented on #197
Hi @chrisdrackett

Yeah, that seems to be working. Thanks! I'm still kind of puzzled on why the `then` interface doesn't allow for chaining, it seems kind of counter-intuitive, or perhaps I'm missing something?

I'm closing this issue as this seems to solve the issue.

[2020-04-16 02:17] #197 closed

[2020-04-16 14:26] Aryk opened #213 "Is createUseQueryHook supposed to have a TS parameters passed in?"
Autogenerated file looks something like this:

[code]

But in the library there is:

[code]

Shouldn't the autogenerated file do something like `createUseQueryHook<RootStore>`;

Maybe it was intended to be that way?

[2020-04-16 14:34] Aryk commented on #213
My guess is, it's  supposed to be:

[code]

[2020-04-16 17:07] chrisdrackett commented on #213
`STORE` here is a generic and is inferred from the context. So the `RootStoreType` in your example is what comes in for `STORE` you can override it if you want, but by default it should just work®

[2020-04-16 18:50] Aryk commented on #213
That's interesting. My understanding is that RootStoreType extends and adds those extra methods like "store.mutate<method>" etc. I probably don't understand TS well enough. My thought is that it should only be able to find the methods from the STORE generic, which has just #query #mutate and a few others, but not those automatically generated methods in the RootStore.Base file. For that you would

[2020-04-16 20:24] chrisdrackett commented on #213
right, but `StoreContext` is being passed in here which is setup like `createStoreContext<RootStoreType>` this effectively says that the `STORE` === `RootStoreType` and you are off to the races!

[2020-04-17 01:58] fullofcaffeine commented on #212
I've done some further reseach, and the actual issue **seems** to be related to  `material-ui`'s (somewhat convoluted) SSR machinery, specifically its CSS class name genaration logic. I've opened a ticket [there](https://github.com/mui-org/material-ui/issues/20604). It might be related to how `mst-gql` renders on node, but I'm betting it has to do with mui. If you any insights, I'd love to know, o

[2020-04-18 16:40] Aryk commented on #210
Ok, I created a wrapper that works with ActionCable on React Native. Hopefully people can find this useful:

[code]

[2020-04-20 02:10] kidroca opened #214 "Dealing with incomplete data - merging new data to a model"
Hi I'm trying to use mst-gql - I've got some really large models that are rarely used in full.
They've scaffolded with nullable types so that partial data requests can be made as explained here:

[Dealing with incomplete objects](https://github.com/mobxjs/mst-gql#dealing-with-incomplete-objects)

When I make a query for partial data and commit it to the model I expected it would merge with the exi

[2020-04-20 15:32] chrisdrackett commented on #214
MST *should* automatically merge the data for you. Note that if you look at the data on the query you might still only be seeing the specific fields asked for as part of `PROFILE_DATA_FRAGMENT`. You'll need to look in your store to see the full merged object.

What type is `nested` in this case? Is this a nested model? a map?

[2020-04-20 20:33] kidroca commented on #214
It's a nested model from the scaffold

I noticed something else, that I think was the issue: The root types were not picked correctly. Now that I added a configuration with explicit array of root types - collections (maps) were correctly generated across the root models, but I'm dealing with another issue now - an exception when a query is fetched because it cannot be serialized to the model for s

[2020-04-20 21:56] kidroca opened #215 "mergeHelper would sometime fail using an undefined `data.id`"
I'm getting an error when fetched data is saved to a root collection:

Tracing it with the debugger here's what I've found:

![image](https://user-images.githubusercontent.com/12156624/79803118-0b71c980-836a-11ea-8c22-dacf68bd0eb6.png)

- `data.id` is undefined
- at some point the code uses the `id` to store the created instance in a map and it fails with the error

I'm not sure if there's some lo

[2020-04-22 20:17] #211 closed

[2020-04-22 20:17] #213 closed

[2020-04-22 20:19] Aryk opened #216 "Type script error when returning a mutation in an action"
I created an action which does a mutation, but when I "return" from it, it blows up my Typescrip checker and it cannot no longer find the methods on many of the MSTGQL models:

[code]

Has anyone else experienced this. If I remove the "return" all the typescript errors go away.

My guess is it has something to do with some circular referencing because I have a lot models and got alot of those warn

[2020-04-22 20:27] Aryk commented on #216
Ok, if I specify a return type like "any", the errors go away. Anybody have any idea why this was happening?

[2020-04-22 21:25] chrisdrackett commented on #216
yeah, this is our old friend circular I'd wager. The best way to combat this is to explicitly type your action returns atm.

[2020-04-24 11:52] Aryk commented on #199
Hey I don't have access to the roadmap, but can we please fix the coupling of actions occuring in a constructor function? 😄

For example:

[code]

Oops! mutate already ran when I loaded the Component. 😢

It really should be decoupled so you can do:

const {loading, data, error, query} = useQuery(store => store.mutateLater(input: {blah}, undefined, {runLater: true}))

const runMutationOnButtonClick

[2020-04-25 15:38] mattiasewers commented on #199
@Aryk https://github.com/mobxjs/mst-gql#mutations

[2020-04-26 06:38] MaxSvargal commented on #216
Just specify a return type of the function.

[2020-04-26 10:35] Aryk commented on #199
Oh so that's what setQuery is for...got it. Will try it out!

[2020-04-26 16:17] #216 closed

[2020-04-26 21:37] ivkirill opened #217 "Add @ts-nocheck comment"
Add `// @ts-nocheck` in header for generated *.ts files, for prevents `tsc` errors.

[2020-04-26 22:37] Aryk opened #218 "Circular Reference Causing Queries to Fail?"
The strangest thing happened to me. I added one graph association to my UserType and mst-gql started failed on me. What's weird, is it didn't even add any more imports.

The only change added to my models directory was the following:

<img width="1262" alt="Screen Shot 2020-04-27 at 1 29 23 AM" src="https://user-images.githubusercontent.com/525212/80321661-6f433900-8827-11ea-8933-a0b2ac2de36b.png"

[2020-04-26 22:39] Aryk commented on #218
NEvermind, I figured it out, it was because I had a "friends" method already defined in the actions. I'm loving the informative status message from Mobx, really helped me out... :/

[2020-04-26 22:39] #218 closed

[2020-04-27 17:32] Aryk opened #219 "Cached result should not be truncated"
The deflateHelper has no way to override the behavior found here:

https://github.com/mobxjs/mst-gql/blob/master/src/deflateHelper.ts#L8

The problem with this is that if nested objects have different data because of the parameters passed to the query, the cached result will not have that new data, and things will not update correctly.

For example, lets you have a field called "nearby_starbucks_c

[2020-04-27 17:48] fullofcaffeine commented on #212
OK, I managed to fix my issue and found out what was causing it. It wasn't related to `mst-gql` nor `material-ui`, so please disregard this issue. If you're curious, the answer is here: https://stackoverflow.com/questions/61277705/loading-state-second-ssr-rendering-pass-causing-a-client-side-rendering-glitch/61465076#61465076.

[2020-04-27 17:48] #212 closed

[2020-04-28 19:12] Aryk opened #220 "Make primitives easily chainable"
My understanding with primitives is that you have to do something like this to actually be able to continue the chain.
[code]
Wouldn't be cleaner and more flexible to have

const postReactionModelPrimitives = rs => rs.id.foo.bar.car

That way we could do:
[code]

Or maybe I'm missing something from the documentation?

[2020-04-29 07:16] beepsoft commented on #201
@chrisdrackett should I create a PR for fixing the above issue?

[2020-04-29 08:49] axelnormand opened #221 "Typing and setQuery when initial useQuery undefined"
Hello
Quick question.....I was just curious on the best pattern to type a useQuery (particularly data) when the initial useQuery is undefined (ie i dont want anything to run on mount)?
Then i use setQuery later in the code (eg when press button)

[code]

ps very much enjoying creating a new UI with mst-gql and all the typing goodness so many thanks for the library

[2020-04-29 18:15] Aryk commented on #164
Hey Chris, I think as my application gets larger and larger, this hurting Typescripts ability to find references to things.

Sometimes, I run the typescript compiler and there are no errors, other times there are like 50 errors, having to do with not finding methods from the MSTGQL store.

I'm sure it has something to do with the dependencies. How do I get around needed to require types, and model

[2020-04-29 19:07] Aryk commented on #164
@chrisdrackett

I've confirmed that the require cycles are eminating from the models.

I have a suggestion. Why don't the *base files also export the type's that they already import?

For example:

User.base
[code]
^^ It already does that automatically because networks is an association on the user.

Then in UserModel you can do

[code]

instead of needing to add another required file.

I'm not 10

[2020-04-29 19:09] chrisdrackett commented on #220
I'm not entirely sure what is going on here, what is your use case?

[2020-04-30 03:42] chrisdrackett commented on #201
sure, sorry, we've been extremely busy so I haven't had much time to put to this.

[2020-04-30 11:43] Aryk commented on #220
Nevermind, I figured out how to chain these query selectors, we're all good!

[2020-05-01 01:55] gitfish opened #222 "Multiple fields of type ID attempt to create multiple mst props of type Types.identifier (which is illegal)"
Multiple fields of type ID attempt to create multiple mst props of type Types.identifier - this is illegal as per https://github.com/mobxjs/mobx-state-tree/blob/master/packages/mobx-state-tree/src/types/complex-types/model.ts line 362.

A schema that produces this is (this is an amplify generated example):

type Blog @model {
  id: ID!
  name: String!
  posts: [Post] @connection(keyName: "byBlog",

[2020-05-01 02:15] chrisdrackett commented on #222
I don’t believe this is valid GraphQL, I believe the ID scalar is meant for the unique identifier for a object. When doing a reference can you just do the following in GraphQL:

[code]

[2020-05-01 02:26] gitfish commented on #222
Yep, that'd definitely be nice graphql, but this particular schema is generated by amplify and the custom directives are used to generate indexes in dynamo and also allows access to the raw foreign key (of type ID).

I don't believe I've come across anything in the spec that says a type can't contain two fields of type ID - http://spec.graphql.org/June2018/#sec-ID. I understand that a field 'id' o

[2020-05-01 02:28] gitfish commented on #222
I guess the easiest option is to just change the types on the schema and see how I fair. It's not particularly accurate semantically though - not that I really care ;)

[2020-05-01 02:36] gitfish commented on #222
Unfortunately I get InvalidDirectiveError: id field is not of type String when trying to change it.

[2020-05-01 04:03] chrisdrackett commented on #221
this is a good question that I don't have a great answer for.

The way we deal with this in our app is that we don't actually access `data` at all and just access `store` which, at the end of the day, contains whatever came down as data. That being said, if this does not work for you we might need to look into a way of typing data. My guess is that it will have to be somewhat manual as I don't thi

[2020-05-01 04:09] chrisdrackett commented on #222
hm, I'm not familiar with amplify so this is all new to me. I don't see anything in the graphQL spec about decorators (@<something>). Is this an input format like a prisma schema? I'm wondering if you can have amplify output a graphQL schema that you can then ingest in mst-gql.

[2020-05-01 04:17] gitfish commented on #222
Hi,

The sample I posted was a graphql schema. The @s are called directives as
outlined here:
https://graphql.org/learn/queries and
http://spec.graphql.org/June2018/#sec-Language.Directives

There are a couple of standard and then it’s up to how the server etc
interprets them (in this case AWS AppSync).

Cheers,

On Fri, 1 May 2020 at 2:09 pm, Chris Drackett <notifications@github.com>
wrote:

[2020-05-01 04:20] gitfish commented on #222
Directives aren’t relevant to the issue I raised. However, graphql builds
schema will fail because it can’t understand the directives - there is some
configuration/arts that can be passed to avoid this. I’m generating off the
json version that amplify generates.

On Fri, 1 May 2020 at 2:09 pm, Chris Drackett <notifications@github.com>
wrote:

[2020-05-01 06:27] chrisdrackett commented on #222
from the graphql site:

@include(if: Boolean) Only include this field in the result if the argument is true.
@skip(if: Boolean) Skip this field if the argument is true.

I see one more in the working spec, [`@deprecated`](http://spec.graphql.org/draft/#sec--deprecated)

`@model`, `@key`, `@connection` are not standard and I don't think mst-gql can take on understanding or supporting these directiv

[2020-05-01 06:29] chrisdrackett commented on #222
when you are querying your server is it possible to get back the `postID` or `blogID` field? or do these just have `post` and `blog`?

[2020-05-01 15:51] axelnormand commented on #221
Thanks for the reply. Good to know.
Similar to what you suggested i think , the pattern i used instead was to use store (from useContext) in a wrapper component and pass props to a child presentation component.
Not the end of the world.

Could mst-gql perhaps generate a useLazyQuery too which returns the query function to run later like react apollo hooks does?
https://www.apollographql.com/docs/r

[2020-05-01 19:03] #210 closed

[2020-05-01 19:11] Aryk commented on #220
Actually @chrisdrackett seems like I'm not out of the woods. When it comes to building selectors, it's quite confusing. There are three variations...all of them "work".

[code]

All three "work", however I found that when I create long queries, with every refresh, my query would keep concatenating on itself and I would end up with an every increasing query.

This would only happen in this variatio

[2020-05-01 19:57] gitfish commented on #222
Every framework uses several custom directives - e.g. Apollo - this is not unique to AppSync. Also, directives in this case aren’t the issue. The issue is that two Types.identifier props are being produced in mst. I’ve manually modified the output files to use Types.string vs Types.identifier on the blogID etc fields on the generated base model (should not be touching that) and it works fine. Anyw

[2020-05-01 20:03] gitfish commented on #222
And, yep, naturally the postID and blogID fields are available to query as they're on the schema.

[2020-05-01 20:16] chrisdrackett commented on #222
Sorry if I'm coming off as resistive, I'm just trying to understand the problem space to be able to help work to a solution.

Seems like it would be possible for us to add a way via config to specify the field to use as Types.identifier in the case that more than one exist, and I'm sure we would be happy to look at a PR.

I just want to make sure that I both understand the use case and that it is

[2020-05-01 20:32] special-character commented on #222
The issue I see right now with having two ID fields is that the mst-gql generation will have no way to determine which should be the `identifier`.

When I typically have GraphQL that references another table, the resolver return the full data as a part of the graph instead of just the id. I might be missing something but I don't quite understand why two IDs would be needed since the whole point of

[2020-05-01 20:38] chrisdrackett commented on #222
I think the whole `Blog` object is available via `blog` but `blogID` also exists. It seems to me this exists because amplify is using the `graphql` schema both for generating the database and defining what is returned. This is different from something like prisma where you define in one place and the generated schema is simpler.

[2020-05-01 20:51] special-character commented on #222
Ahh, I see. It does seem like `mst-gql` should be able to support the flexibility

[2020-05-01 21:02] Aryk commented on #211
Hey guys, my solution has evolved some more after developing my app. Here is the new version, more decoupled, more extensible:

[code]

In your own configuration file:
[code]

[2020-05-02 00:42] chrisdrackett opened #223 "Support Multiple fields with type `ID`"
right now we only expect a single ID field. However, in the case a user has more than one ID field on an object mst-gql will not know which one is the ID for the object.

This issue covers updating the config or similar to support letting mst-gql know which is the canonical ID for any model that has more than one ID.

We should provide a clear error during scaffold that we ran into this and give t

[2020-05-02 00:43] chrisdrackett commented on #222
@gitfish added https://github.com/mobxjs/mst-gql/issues/223 to cover this, FYI

[2020-05-02 00:43] #222 closed

[2020-05-04 11:06] barbalex commented on #198
Combining this with offline usage ~~would be~~ is huge.

I think you should place this prominently on the readme. It could attract a lot of interest and hopefully even some willing to help develop this further. To make it accessible to humble devs like me.

I am now searching for "easy" options to make some of my apps offline capable without having to go all in into [CouchDB](https://docs.couchdb.

[2020-05-04 16:06] chrisdrackett commented on #198
@special-character I wonder if we could easily put our take on offline into one of the mst-gql examples as a first step?

[2020-05-04 17:23] fullofcaffeine commented on #198
I'd love to check it out!

On Mon, May 4, 2020 at 11:06 AM Chris Drackett <notifications@github.com>
wrote:

[2020-05-06 15:37] special-character opened #224 "Local Storage Mixin Saves Potentially Stale Data"
We were working with our application and noticed that local storage wasn't saving some data after the app loaded. I looked into the `localStorageMixin` and added two `onSnapshot` listeners directly next to where the local storage is set by `onSnapshot` ((here](https://github.com/mobxjs/mst-gql/blob/master/src/localStorageMixin.ts#L39))

[code]

[code]

After looking at the source code, the `thrott

[2020-05-07 02:16] mwarger commented on #223
Something additional to consider: not all schemas use `ID` as the type for ID (Hasura, for example, could have a `uuid` as the ID type).

[2020-05-07 12:49] mattiasewers commented on #221
@axelnormand You can use `setQuery` for that

[2020-05-07 14:48] chrisdrackett opened #226 "optimize final build"
this came up in #225. At the moment we don't compress our bundle. There might also be other low hanging fruit we're missing around our build process so this issue covers looking at it and improving it where possible.

[2020-05-07 14:51] chrisdrackett commented on #226
@mweststrate is there a reason we use `--no-compress` at the moment when building? I see it came in fairly early here: https://github.com/mobxjs/mst-gql/commit/56905674249676432330bb0e35ab082a58aad00d#diff-b9cfc7f2cdf78a7f4b91a753d10865a2 and I'm curious if there was something you had run into that necessitated that

[2020-05-07 15:03] mweststrate commented on #226
I think that was just too make debugging easier in the example project

On Thu, 7 May 2020, 15:51 Chris Drackett, <notifications@github.com> wrote:

[2020-05-07 15:26] chrisdrackett commented on #223
I'm confused, they use something other than `ID` in the graphQL schema? what is the logic behind this?

[2020-05-07 15:36] chrisdrackett commented on #221
going to close this for now, but feel free to open a new issue with any further questions or issues!

[2020-05-07 15:36] #221 closed

[2020-05-07 15:39] chrisdrackett commented on #220
@Aryk sounds like what you are running into might be related to https://github.com/mobxjs/mst-gql/issues/206

I don't use these selectors / selector builders myself, so it's hard to me to currently comment on how this currently / should work at the moment without digging deeper.

[2020-05-07 15:43] chrisdrackett commented on #217
this might be an issue with your ts config, I'm not seeing errors in our example project or in my project that uses `mst-gql`. If you are having issues more information would be helpful.

[2020-05-07 21:29] ivkirill commented on #217
I'm using CRA in project.

Common errors like:
TS6133: 'RootStore' is declared but its value is never read.
TS6192: All imports in import declaration are unused.

I can't add rules into tsconfig, cause it will be affect all project.

And I can't exclude generated directory using _tsconfig_ **exclude** property:

[2020-05-07 22:11] chrisdrackett commented on #217
ah, so this has to do with the generated model code. Ideally our generator should not be generating unused imports. I'm going to rename this issue to cover that issue.

For now you can safely remove unused imports in the generated code to remove typescript errors. Unfortunately you'll need to do this every time you run scaffold, but hopefully we can get to cleaning this up!

[2020-05-07 22:31] special-character opened #227 "How to use a mst-gql Query in a generator action"
I am working on using one of my `RootStore.base.ts` queries inside an action and I want to make it a generator action. I am getting a type error because the returned `Query` from the `RootStore.base.ts` function is not compatible with a `Promise` (type wise).

ex:
[code]

The offending code in `RootStore.ts`
[code]

Has anyone tried to do this yet?

[2020-05-08 05:45] #224 closed

[2020-05-08 06:26] dpnolte commented on #226
For the react-native field in package.json, we could also point to the source `src/mst-gql.ts`. My understanding is that metro supports compiling TypeScript and would make the debugging experience for the user better.

[2020-05-08 15:45] #151 closed

[2020-05-11 14:05] barbalex commented on #198
This seems a good starting point: https://github.com/mobxjs/mobx-utils/blob/master/src/queue-processor.ts

[2020-05-11 16:25] barbalex commented on #198
o.k., got it: a reaction is much simpler 👍

[2020-05-11 17:06] special-character opened #228 "Add/Update an example to be offline-first"
This was brought up first in this issue: https://github.com/mobxjs/mst-gql/issues/198

There is some interest on how to support offline with this library. We should add a new example or update one of them to be offline first. I have done this in another project so I can take a crack at this.

[2020-05-11 17:07] special-character commented on #198
It seems there is a decent amount of interest in this approach. I could probably update one of the examples or create a new one to show how we currently do this.

I created this Issue to do that. I can do it but might not get to it right away.

https://github.com/mobxjs/mst-gql/issues/228

[2020-05-11 19:41] barbalex commented on #198
I ended up building a new Type named "Query":

[code]

Which is used in the model:
[code]

and a reaction:
[code]

Here part of a mutation in a form:
[code]

Surely this is just a first attempt. But it seems to work 😄

[2020-05-12 12:12] barbalex commented on #223
@mwarger oh, is that why I always get
[code]
when trying to select fields in referenced tables?

My project uses hasura.

[2020-05-12 12:19] barbalex commented on #223
related issue: https://github.com/mobxjs/mst-gql/issues/215

[2020-05-12 12:24] barbalex commented on #214
@kidroca
could your problems be related to the fact that mst-gql seems to expects a single id field to exist and be named `id`? https://github.com/mobxjs/mst-gql/issues/223, https://github.com/mobxjs/mst-gql/issues/215

[2020-05-12 12:30] barbalex commented on #162
I have the same problem. Query is:
[code]
When id changes due to navigating to different dataset, the component re-renders but the query is not re-run. So no new data is shown.

[2020-05-12 12:33] barbalex commented on #223
Actually there is an issue just about hasura not using type `ID`: https://github.com/mobxjs/mst-gql/issues/92

[2020-05-12 12:44] barbalex commented on #92
Note that in hasura when using uuid's as id's, id type is `uuid!`.
So I guess because I am using hasura, instead of pointing to my hasura graphql api, I will have to:
1. create a schema.json file
2. replace types for all id's from `uuid!` to `ID`
3. scaffold using the schema.json file as source

[2020-05-12 12:50] barbalex commented on #10
Switching over from apollo right now, I see how great it is that after loading, data is automatically refreshed wherever it is referenced.

Maybe I was doing it wrong but in apollo I had to refresh/update the cache for every query that fetched the data in question.

[2020-05-12 14:04] mwarger commented on #92
The alternative workaround is to override the ID field in the props by extending the MST definition in the generated file.  You can replace the ID field with one that has ID instead of UUID and it works.  @barbalex @numToStr

[2020-05-12 14:32] mweststrate commented on #226
I strongly recommend against doing that in general. It is very likely to
break if the typescript version or configuration differs from the hosting
project. The node eco system is not designed for having untranspiled
modules

On Fri, May 8, 2020 at 7:26 AM dpnolte <notifications@github.com> wrote:

[2020-05-12 14:54] beepsoft commented on #92
@barbalex I do exactly the same for now. I have this in my `package.json`:

[code]

`gql:dl` will download and replace `bigint` with `ID`, then I run `gql:gen` to generate the models.

What @mwarger  is suggests is also possible, but it is more work to go into each model and define a new ID property. What would be helpful is to have some mechanism in `mst-gql` to run some custom code when generati

[2020-05-12 15:31] chrisdrackett commented on #223
good point, I feel like we could fix both these issues with a single fix of optimally specifying an ID via config.

/cc @beepsoft

[2020-05-12 15:53] chrisdrackett commented on #162
@barbalex what is your fetch policy?

[2020-05-12 15:58] barbalex commented on #162
Fetch policy is unchanged so I guess that would be "cache-and-network".

I am using the data off `data`. Having started to move from apollo to mst-gql only two days ago I haven't even thought of doing it differently yet.

[2020-05-12 19:48] barbalex commented on #162
As usual this dataset is accessible from a list that was loaded before. But for the list not all the fields are loaded. That is why I was using data from the query off `data`.

I have tried loading all fields for the list and then finding the dataset from that data to show it. While that _does_ work (the find command runs when the component is re-rendered and returns the correct data), it seems li

[2020-05-12 19:54] barbalex commented on #162
Yes: network-only and cache-first. Did not make any difference.

[2020-05-13 04:56] chrisdrackett commented on #162
and all the things coming down have a typename and ID? sorry, trying to be helpful :)

[2020-05-13 14:09] barbalex opened #229 "references returning undefined"
May be related to https://github.com/mobxjs/mst-gql/issues/223 and https://github.com/mobxjs/mst-gql/issues/92. May also be due to ignorance on my side.

I have two tables:
[code]

When the app has loaded some data I can see there is an art with id `13121b40-9436-11ea-acf3-df093177d2de` because
[code]
returns:
[code]

Also I see that there is an ae_art with id `ad0b1c83-6741-4937-b1e8-9d38c64460cd

[2020-05-13 15:54] special-character commented on #198
@barbalex That seems really close to what we are doing as well. Currently, we only remove the operation from the queue if it succeeded. One thing we found useful was to add a scheduled reaction to run every minute to catch cases where the request fails. Something like this:

[code]

[2020-05-13 16:07] dpnolte commented on #226
right, didn't realize that :)
If anyone is picking this up, please disregard my comment above.

[2020-05-13 17:56] chrisdrackett opened #230 "Query Cache"
I wanted to start a discussion around the cache in `mst-gql` and get a read for how others think about it.

I've seen confusion in issues on this repo and within our own app about the relation of the cache `data` from `useQuery` to the store. Because the cache happens at a network level, data in the cache and locally (if being mutated in the local store) can get out of sync.

We've had an issue wh

[2020-05-13 17:58] special-character commented on #230
For our example this is the data that we got back from our server when we query for deleted items:

[code]

This is the data that was stored in the query cache:

[code]

[2020-05-13 17:58] chrisdrackett commented on #229
@barbalex what does the query look like when you get this data from the server?

[2020-05-13 19:43] barbalex commented on #229
The query is:
[code]

The result is:
[code]

[2020-05-13 20:28] barbalex commented on #198
@special-character Thanks a lot, I didn't know the scheduler option.

@others:
You need to run the function once before setting the interval or it will never run immediately:
[code]

[2020-05-14 08:40] barbalex commented on #162
@chrisdrackett that is very helpful.
You are right: The response comes without __typename. So that will be the reason.

I am querying using a graphql-tag based query because otherwise referenced tables will not arrive (https://github.com/mobxjs/mst-gql/issues/229).

Unfortunately when I add __typename to my fragments that provokes an error. Will have to solve that:
[code]

[2020-05-14 09:05] barbalex commented on #162
O.k., solved above error (__typename was missing in a nested fragment).

But the original problem remains, even though now all data is returned with id and __typename:

[code]

[2020-05-14 09:12] barbalex commented on #229
Remember I mentioned:

Well, that was the reason. Some of my queries did not return __typename. Now that it is added, references are working!

Sorry for bugging you and thanks for great help!

[2020-05-14 09:12] #229 closed

[2020-05-14 11:46] barbalex commented on #162
After diligently adding __typename to all queries and fragments it seems this was the solution.
Thanks for your help @chrisdrackett

[2020-05-14 12:17] barbalex commented on #162
So to bring it to the point again:

This query:
[code]

Receives this answer:
[code]
And when the component is re-rendered with a new id due to a change of dataset, the query is not re-queried.

Some more info:

The type is:
[code]

herkunftModel.base.js is:
[code]

The querie's model is:
[code]

[2020-05-14 12:42] barbalex commented on #229
Hm. Since I diligently added __typename to all queries and fragments it seems that my hasura instance keeps crashing. There must be some more stuff I have to learn...

[2020-05-14 15:31] chrisdrackett commented on #229
yep, for mst-gql to work currently you need an ID and __typename on everything that comes back from the server

[2020-05-14 15:38] barbalex commented on #229
I have now added id's to all actual tables.

We are querying a few views though that analyze data change over time. It is not possible to have a real id here. So I guess I will have to prevent them from being processed by mst-gql by using the `--excludes` option when scaffolding.

And later query them using graphql-request directly. Or keep apollo just for that.

[2020-05-14 15:43] barbalex commented on #229
Actually there is nothing preventing me from caching those views in mst itself, is there?
So I can probably query them using graphql-request and cache them manually in mst.

Until maybe one day it will be possible to tell mst-gql that the combination of an id with the date field is the primary key, I guess.

[2020-05-14 19:37] barbalex opened #232 "Enable numbers in string types"
Fields of postgres-type `text` and graphql type `String` are now built as:
[code]

If a user enters a number into a field, for instance `2`, this error occurs:
[code]
In this case my client wants the field to be named `nr` but also accept strings.

This is the reason why I personally define all text fields in mst like this:
[code]

Would you consider adding the number type to text fields?

[2020-05-16 10:02] barbalex commented on #162
Meanwhile it is working for me. I am not sure but I _think_ it is because now in the component I am not using the data returned by the query but rather directly grabbing the object from the store:
[code]

Which gives this rather weird looking code:
[code]

So the query is still needed to ensure the data is fetched from the server to the store. And it's `loading` and `error` methods are also used.

[2020-05-16 10:06] barbalex commented on #162
To come back to the original issue: Is it possible that while the data is re-fetched after variables change and the store is updated, the `data` key of the result is not?

[2020-05-16 10:10] barbalex commented on #162
This would be relevant to me because I have other queries that I seem to have to use fragments in because they filter depending on related data. Which may not exist in the store yet. So I (think I) can't easily grab them directly from the store and instead rely on the `data` being updated after component re-renders.

[2020-05-16 12:16] Aryk commented on #230
So the two biggest issues with the caching in MSTGQL:

1) It doesn't cache the entire response as @special-character described above. Also, I opened this a few weeks ago: https://github.com/mobxjs/mst-gql/issues/219
2) There is no easy way to purge a particular response. You have to reach in and do something like `query.__queryCache.delete(query.querykey)`. You should be able to purge the cache id

[2020-05-16 17:19] Aryk commented on #211
Third revision, now with CacheManagement ;)

[code]

[2020-05-16 17:22] Aryk commented on #230
Just added query cache management that addresses my issue. Have been using it for 3 hours but so far its good 😄

https://github.com/mobxjs/mst-gql/issues/211#issuecomment-629679108

Basically you can specify a cacheKey and **ALL** the requests that happen even with different after/before/limit on them will get appended to an array of queryKeys.

Then, since I know the names of the queryKeys for th

[2020-05-17 15:49] barbalex commented on #162
I found another case where this happens. This time it _may_ happen because mst-gql does not allow combined primary keys/identifiers:

I am using a fragment to query:
[code]

This is the query:
[code]

In this case herkunf_revModel.base.js contains:
[code]

herkunft_rev is defined in PostgreSQL as:
[code]

The graphql.schema looks like this (relationships removed):
[code]

`id: ID!` is set because

[2020-05-17 15:54] barbalex commented on #162
This problem goes back to mst itself: there can be only one identifier property: https://mobx-state-tree.js.org/concepts/references#identifiers

[2020-05-18 08:11] tadeaspetak commented on #227
Having the exact same problem since updating some dependencies last week. A simple `@ts-ignore` solves it for now, but that's far from ideal, of course.

[2020-05-18 12:31] barbalex commented on #162
I refactored my data structure and gave _rev tables a unique identifier named `id`:
[code]
Which results in this type after correcting hasura's `uuid` to `ID`:
[code]

The query used is:
[code]
And it is used like this:
[code]

Initially the query runs and the answer as seen in the network tab is:
[code]

But the console only logs:
[code]
It does not re-render after the data arrived.

[2020-05-18 12:34] barbalex commented on #162
Correction: the component _does_ re-render after the result arrives. But it seems that the result is not updated. The log still says:
[code]

[2020-05-18 12:42] barbalex commented on #162
Same happens if I build the query using the store:
[code]

[2020-05-18 12:47] barbalex commented on #162
Grabbing the row from the store like this:
[code]
has enabled me to get the result of the query in other components.

But in this case I can not do it. All I know of the row is it's `herkunft_id` and `_rev`. I need the result of the query to know the `id`.

[2020-05-18 13:05] barbalex commented on #162
I can use this:
[code]

But now my component is never re-rendering after the query returns it's values ?!

[2020-05-19 16:14] chrisdrackett commented on #232
hm, I'm not entirely sure about this. Is there a problem with sanitizing the users input before sending it to graphQL?

[2020-05-19 16:20] barbalex commented on #232
No. Apart from it being often repeated code, so rather verbose. And easy to forget.

My main argument is: In the typed systems I personally know well (databases), accepting numbers in text fields is normal and expected behavior. And I would expect databases to be behind many uses of typed fields.

I do not know about TypeScript and mobx-state-tree though.

[2020-05-19 17:38] chrisdrackett commented on #232
I think this is more a graphQL thing. Here is the spec on string:

http://spec.graphql.org/draft/#sec-String-Value

[2020-05-19 18:18] barbalex commented on #232
Wouldn't that mean that "1" is also a string?

[2020-05-19 18:25] barbalex commented on #232
I can pass 1 to Apollo as well as "1". This is why I was surprised of running in to new errors (I am converting from Apollo to mst.

[2020-05-19 18:28] barbalex commented on #232
To be honest I am not sure if accepting numbers is a good decision. It just seemed like such a nuisance when converting

[2020-05-19 18:58] chrisdrackett commented on #232
yeah, I can see that, but I think at the end of the day, at a base level, mst-gql should be true to the schema it is scaffold by. We can't be sure of how strict or not the graphQL server that is being used is so I think it's best to conform our types to the types defined by the graphQL spec wherever possible.

[2020-05-19 18:58] #232 closed

[2020-05-19 20:10] special-character commented on #227
@tadeaspetak I think you are right. Although they have the same api TS doesn't seem to like it b/c of the it being a `Query` instead of a `Promise`. Not sure of the best way to fix this yet

[2020-05-20 20:15] special-character commented on #230
@Aryk Interesting, I will have to check out how you do this. Currently we don't really use the `__queryCache` because we use local storage as our source of truth for what we have in our store.  Have you ran into any issues with the `__queryCache` only having partial models?

[2020-05-20 23:37] Aryk commented on #230
Yes, I did, I filed a bug on the deflateHelper [here](https://github.com/mobxjs/mst-gql/issues/219).

[2020-05-21 19:37] special-character opened #236 "Potentially empty __typename on the client"
I think it might be possible to have an empty `__typename` on the client.

This is an example of the generated `__typename` field on a model: https://github.com/mobxjs/mst-gql/blob/master/examples/3-twitter-clone/src/app/models/MessageModel.base.ts#L29

The `__typename` is set when responses come back from the server (when server data is applied in the `mergeHelper`) but it doesn't seem to be ther

[2020-05-22 21:09] beepsoft commented on #201
I added PR #237 to fix this issue. Note that I ended up adding ...Model suffix to MST enum models instead adding the ...Type suffix to the TS enum type. This is because I just realized that enums were the only thing not having a Model suffix neither in their type names nor in their file names. So, this way all generated MST models are now name "SomeModel" everywhere.

[2020-05-23 18:13] chrisdrackett opened #239 "move query and mutation enums out of RootStore.base"
with these here its possible to get circular import issues. Maybe we should throw these in there own file.

/cc @special-character

[2020-05-26 12:22] Aryk commented on #211
Hey guys, now with "before" and "last" support. I'm using it for a newsfeed type page

[code]

[2020-05-29 16:15] Aryk commented on #230
In the meantime, if you guys need to group requests and then purge them, I've hacked together this solution:

[code]

[2020-05-29 16:35] Aryk commented on #230
Just curious, do any of you guys happen to know how long the cache will last on the network side if you don't invalidate or purge it in production?

I still haven't released my project yet. If a user backgrounds the app and reopens it, will the query cache still be in effect or does it essentially "reload" the app?

[2020-05-30 09:27] Aryk commented on #230
Got it @chrisdrackett , so backgrounding the app effectively is like a reload on your simulator. Am I thinking about it the right way?

[2020-05-30 14:29] chrisdrackett commented on #230
Wait, are you talking react native? There is a chance the cache stays around when being backgrounded in that case, but it’s a crap shoot depending on what else is going on on the device.

[2020-05-30 16:48] Aryk commented on #230
Yeah I meant on react native. Sorry I forgot this is a general library for web as well 😄

I guess I'll have to experiment and see what ends up happening.

[2020-05-31 14:40] cmcaboy commented on #162
I am also running into this issue with plain create-react-app. The component re-renders with updated props, but those props don't get expose to useQuery.

[2020-05-31 14:56] cmcaboy commented on #162
I was able to get around it with useEffect and setQuery. It's kind of hacky, but it does work.

[code]

[2020-06-04 21:51] Aryk commented on #199
Another special required 😄

Any chance we can create typescript interfaces for the inputs into the queries? Right now, they are just hardcoded in and not reusable...If I want to pass in variables into a component that will make its way into a query or mutation, I have to write out the types again manually.

[2020-06-04 22:47] chrisdrackett commented on #199
open an issue or a PR :D

[2020-06-05 14:31] Aryk opened #241 "Separate out interfaces to queries and mutations"
Any chance we can create typescript interfaces for the inputs into the queries? Right now, they are just hardcoded in and not reusable...If I want to pass in variables into a component that will make its way into a query or mutation, I have to write out the types again manually. Would be great if I can import the interface to the queries.

[2020-06-06 12:50] Aryk opened #242 "Allow configuration options for MSTGQL"
We should be able to configure this library with some basic options...here are two that come to mind that would be super useful...

1) regex or word match to exclude from Pimitives list. For example... I have the fields "computeUsersCount" and "computeExpensiveCount". It returns an INT but it's a rarely needed field that causes expensive calculations on the server (not just returning values). I sh

[2020-06-06 13:01] Aryk commented on #206
I've ran into this quite a few times.. I figured out to use:

[code]

but yeah...it's **super** ugly...so two questions from me:

1) Why aren't they just generated like functions `rs =>rs.id.field` and that's the one and only way to do things instead of having multiple different approaches? So if you want to chain, you just wrap the functions (just like you would components). It works well with ty

[2020-06-06 21:27] baskin commented on #162
@chrisdrackett any thoughts on this issue? I'm facing same set of problems. An app bootstrapped with CRA. The component re-renders with updated props. However, the query doesn't get re-triggered. No issue of multiple IDs. Tried 'network-only' policy too. Nothing. If I replace mst useQuery with sth built on vanilla fetch, things work as normal.

[code]

[2020-06-06 21:37] baskin commented on #162
Does [this](https://github.com/mobxjs/mst-gql/blob/master/src/react.tsx#L102) line mean that in my case above, where I'm passing the query as a function (`store => store.queryBook_by_pk({ id }, BOOK_FRAGMENT)`, the effect will be skipped?. Pardon my ignorance, I'm relatively new to react. I was going through [this code](https://github.com/mobxjs/mst-gql/blob/master/src/react.ts) trying to reason h

[2020-06-07 00:33] nicolasburtey opened #244 "(unwanted) caching of the storage environment?"
I'm starting my app with the following RootStore:

[code]

later down, if the user started unauthenticated (no bearer token stored), but receive his authentication, I'm updating the environment of the root storage:

[code]

yet, useQuery still uses the former gqlHttpClient that doesn't include the bearer token.

Any idea on how to resolve this?

[2020-06-08 17:56] chrisdrackett opened #245 "support for 'simple' return types"
Right now if a query or mutation returns something other than an object we skip it. It would be nice to add these to the root store and just directly return the result as `data` from useQuery or similar.

[2020-06-08 17:58] chrisdrackett commented on #244
@nicolasburtey can you check https://github.com/mobxjs/mst-gql/issues/82 and see if it solves your issue? We might need to add docs around this.

[2020-06-08 18:00] chrisdrackett commented on #242
you could do this now by wrapping `useQuery` in your own hook that handles the errors and then use that throughout your project.

[2020-06-08 18:19] nicolasburtey commented on #244
It did! can be closed on my side but some documentation around it would be nice indeed.

[2020-06-08 19:23] Aryk commented on #242
That's a good point. I will look into doing it that way. I guess it seems excessive that if I want to just add a default error handler, I have to import useQuery not from the library itself. An added later of indirection for something that seems pretty standard, but it's just my cents.

:)

[2020-06-08 19:23] #242 closed

[2020-06-08 19:51] #245 closed

[2020-06-10 20:46] barbalex opened #247 "how to enable subscriptions"
I have read:
- [hasura documentation on subscriptions](https://hasura.io/docs/1.0/graphql/manual/subscriptions/index.html) as that is my graphql api
- [the very short documentation I found](https://github.com/mobxjs/mst-gql#subscribequery-variables-ondata---void) in mst-gql itself. It basically only says: "The gqlWsClient needs to be set during the store creation to make this possible"
- [the read

[2020-06-10 23:00] chrisdrackett commented on #247
that would be great!

[2020-06-11 08:25] barbalex commented on #247
Additional caveat:

When using server side rendered tools like gatsby/next/nuxt it is necessary to prevent using subscriptions server side. Otherwise there will be an error because the server is missing a websocket implementation.

This is how I do it in gatsby:
[code]

[2020-06-11 08:45] #247 closed

[2020-06-16 15:52] chrisdrackett opened #249 "switch main branch to `main` from `master`"

[2020-06-19 11:09] mweststrate commented on #249
done!

[2020-06-19 11:09] #249 closed

[2020-06-22 22:07] RafaelVidaurre commented on #130
I'm having this issue with `Yarn 2`

[2020-07-01 01:31] Aryk commented on #230
@chrisdrackett I'm not sure if this is related to query caching in general, but I've noticed that my components always update whenever we get data back from MST-GQL. Is that intentional?

I wrap my components with "observer" and there are no changes to the model, but yet it's somehow invalidated. I think the merging done my MST-GQL just basically blows away any caching that MST would do.

Are you

[2020-07-06 08:52] RXminuS commented on #214
Just ran into the same issue here. It seems that merging doesn't happen properly for objects without an ID and instead it just replaces the whole object. I'll see if I can make a patch for this

[2020-07-06 15:19] Metevier commented on #223
@chrisdrackett
I am interested in implementing this if it's a feature we feel like is still needed.

How do you feel about the proposal in this comment?
https://github.com/mobxjs/mst-gql/issues/92#issue-493537797

[2020-07-07 22:02] chrisdrackett commented on #223
@Metevier I'm all for this! We don't run into this ourselves, so I don't have a lot of ideas around the best way to handle it, but seems like a place where we can add some optional flexibility!

[2020-07-08 08:27] impulse opened #252 "Scaffolding references unknown classes"
Compile fails due to missing ModelSelectors and ModelTypes in `RootStore.base.ts`, specifically:

`StringModelSelector`
`StringModelType`
`BooleanModelSelector`
`BooleanModelType`

Example:

[code]

Cannot find name 'BooleanModelSelector'.  TS2304

Cannot find name 'BooleanModelSelector'.  TS2304

[2020-07-08 19:32] chrisdrackett commented on #252
can you give info about what you are scaffolding from?

[2020-07-08 19:56] impulse commented on #252
Example above has the following resolver (using [TypeGraphQL](https://typegraphql.com/docs/resolvers.html))
[code]

[2020-07-08 20:10] chrisdrackett commented on #252
sure, but what sort of graphql schema does this end up rendering out?

[2020-07-08 20:16] impulse commented on #252
[code]

[2020-07-08 20:59] chrisdrackett commented on #252
Ok, this should be working if you are using `0.12.0`. We have something similar and this is what gets generated:

[code]

from the following:

[code]

If you can share a minimal reproduction it would be helpful! I'll try and find time to take a look regardless.

[2020-07-09 05:38] impulse commented on #252
@chrisdrackett here is a reproduction for `0.12.0`: https://github.com/impulse/mst-gql-compile-bug 👍

[2020-07-09 16:25] chrisdrackett commented on #252
I'm unable to get the server to run on this example (`Error: spawn nodemon ENOENT`). I ended up adding a test and a mutation to one of our examples here: https://github.com/mobxjs/mst-gql/commit/43870debc01920fa51af9c8d3013065da41cc167

maybe you can fork and get example1 into a breaking state? I feel like I must be missing something that is different between your code and mine, but so far it hasn

[2020-07-10 05:31] impulse commented on #252
Oh that might be because it was not added as dependency (sorry I had this installed globally). Alternatively you could just run `yarn build-ts` and `node dist/index.js`.

I'll try to on the weekend and report back 👍

[2020-07-10 22:58] jesse-savary commented on #211
It would be nice to have a repository of `mst-gql` compatible extensions/middleware, similar to the bits that come included with `mobx-state-tree` itself. Theses pieces of code weren't easy to find.

[2020-07-11 03:31] Aryk commented on #211
Didn't think anyone was going to find this useful...let me know if it works for you and I'll start thinking about making a library ;)

[2020-07-11 03:32] Aryk commented on #211
Btw...here is the newest version:

[code]

Usage:

[code]

[2020-07-11 20:32] Aryk commented on #220
Just curious, do you know if it's required to select the "id" or ID field in the results selector? I've noticed the primitives don't have that included, so I'm wondering how MST GQL knows to assign those attributes to the item in the store with that "id" if the id is not explicitly included.

[2020-07-13 18:13] ivkirill commented on #252
I have the same issue with interface defined in schema:

[code]

[2020-07-14 17:17] chrisdrackett commented on #252
@ivkirill I haven't used interfaces myself so I can't comment on how well mst-gql handles them. If you are running into an issue I think it would be best to open a new issue specific to interfaces.

[2020-07-14 17:22] chrisdrackett commented on #220
I believe that both `id` and `__typename` are always added as part of the query builder. We still explicitly add them ourselves, just to be safe.

[2020-07-14 17:27] Aryk commented on #220
Got it, that's what I thought...I pretty sure it does that bc I left it off a few times and things still work.

[2020-07-20 16:44] Oba-One commented on #252
@impulse @chrisdrackett I see the type error in 0.12 but not in 0.11 or below for more context.

[2020-07-20 17:20] chrisdrackett commented on #252
If someone can send a working reproduction I am happy to take another look!

[2020-07-21 02:05] special-character opened #255 "Root Store Base references model that isn't generated for unions"
I am currently working on a search feature in my application that requires a union type. The ending schema.graphql that I am scaffolding from looks like:

[code]

The `RootStore.base` references a `SearchResultModelType` in an action but a model isn't generated for union types. After taking a look at the generation code, I think this is by design: https://github.com/mobxjs/mst-gql/blob/104d0a9c237

[2020-07-21 04:55] Oba-One commented on #252
@chrisdrackett I invited you to my repo where I'm experiencing the issue. Let me know if you need more details?

[2020-07-21 10:28] ivkirill opened #256 "Interfaces from graphql schema not generated into models, but used in rootStore actions"
I have a schema with interface:

[code]

After generating I have an error in rootStore.base.ts with using `ElementModelType` but its not exists.

Repo with error reproduction: [https://github.com/ivkirill/mst-gql-interface ](url)

[2020-07-21 16:04] special-character commented on #256
I think this is potentially related to #255. The function that is generating unions and interfaces is the same and I had the same issue with unions.

[2020-07-21 16:19] chrisdrackett commented on #252
@Oba-One I don't see mst-gql in here?

[2020-07-21 21:28] Oba-One commented on #252
@chrisdrackett Sorry forgot to push up my work. Everything is up now with a small readme

[2020-07-22 03:23] arya opened #258 "graphql-tag not supported for generated query helpers"
In the documentation, under ["Customizing the query result"](https://github.com/mobxjs/mst-gql#customizing-the-query-result), it says:

but in the code, it seems to be a TODO:
https://github.com/mobxjs/mst-gql/blob/18e2d619c43659b0c592d123f44bd62e332f7f29/generator/generate.js#L826

Is there a way to work around this from the user-side? Or should we just use strings for now?

[2020-07-28 16:44] michaelspeed commented on #45
still facing issue with circular deps

`
Circular dependency detected:
mobxtree/UsersPermissionsUserConnectionUpdatedByModel.base.ts -> mobxtree/UsersPermissionsUserConnectionModel.ts -> mobxtree/UsersPermissionsUserConnectionModel.base.ts -> mobxtree/UsersPermissionsUserGroupByModel.ts -> mobxtree/UsersPermissionsUserGroupByModel.base.ts -> mobxtree/UsersPermissionsUserConnectionUpdatedByModel.ts

[2020-07-28 17:06] godness84 commented on #45
@michaelspeed can you give more details? Does it compile? Does TS understand the types when you put the cursor on? Have you customized the code of any model? Maybe you introduced new circular deps?

Just looking at your few lines it's quite impossible to have any clues

[2020-07-28 17:12] michaelspeed commented on #45
Here is the generated folder -
[mobxtree.zip](https://github.com/mobxjs/mst-gql/files/4989956/mobxtree.zip)

and the schema -
[schema.graphql.zip](https://github.com/mobxjs/mst-gql/files/4989961/schema.graphql.zip)

[2020-07-28 17:15] michaelspeed commented on #45
The error output looks like this -
`error - ReferenceError: Cannot access 'UploadFileConnectionAlternativeTextModelBase' before initialization
    at Module.eval [as UploadFileConnectionAlternativeTextModelBase] (webpack-internal:///./mobxtree/UploadFileConnectionAlternativeTextModel.base.ts:2:136)`

[2020-07-28 18:38] chrisdrackett opened #260 "explore combining all .base files into a single file"
as a way to possibly avoid some circular import issues I wonder if it would be valuable to put all the generated code into a single file.

[2020-07-30 07:19] RXminuS commented on #260
I can’t find the thread but there was a discussion about this earlier and I absolutely think it’s the way to go. I have some of it implemented on a branch and wasn’t too hard to do; but I got stuck on the following:

I wanted to figure out if we could somehow more organically allow extensions of a shared base models. So that you didn’t need all the non base files either and you just have a “mstgql